<!doctype html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小莺出国-院校库</title>
     <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Terms/css/index.css">

    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    
</head>
<body>
	<include file="Template/Common/Index_header_home.html"/>
	<div class="marginTop">
		<div id="M_pageCon_Div" class="container M_terms_Div">
            <!--使用条款-->
            <div>
                <div style="font-size:20px;line-height:30px;margin-top:30px;">
                    小莺出国使用条款</div>
                <p class="LineHeight35" style=" margin-bottom:20px;">
                    最新更新：2017年5月1日</p>
            </div>

            <div class="M_sytk_con">
                <div class="M_sytk_conTitle">
                    约定</div>
                <p>
                    1. 本合约是小莺出国用户（包括使用的个人和代表的企业）与小莺出国运营企业远英出国服务有限公司之间的法律契约，用户注册小莺出国服务即代表接受本条款的约束，并自注册成功之时即成为本合约一方，VIP服务付费用户签署本合约并回传（包括使用传真，电子邮件等电子通信手段）给小莺出国即代表接受本合约中的计费和支付条款，并自发出合约之时即受该等条款约束。
                </p><p>
                    2. 本合约受中华人民共和国法律管辖，合同的签约地为上海。<br>
                    下文中的“小莺出国”指个人因私出国留学信息服务平台“小莺出国”或其运营企业远英出国服务有限公司，也是本合约的契约方之一</p>
                <!---->
                <div class="M_sytk_conTitle">
                    合法使用</div>
                <p>
                    1. 小莺出国服务限于提供给客户用作正常和合法业务工具，客户如果使用小莺出国产品从事以下行为，将导致根本性违约，小莺出国有权随时停止服务、解除本合约，并追讨因此带来的损失:</p>
                <p>
                    1) 有明确证据表明客户使用小莺出国用于违反法律的业务。<br>
                    2) 对小莺出国服务或产品进行了任何形式的对其他第三方的再授权使用，销售或转让。<br>
                    3) 为设计开发竞争产品对小莺出国产品进行任何形式的反向工程，或在竞争产品抄袭模仿小莺出国的设计。<br>
                    4) 滥用小莺出国品牌或任何形式夸大宣传以谋求非法利益。<br>
                    5) 对小莺出国的连续服务和商誉构成损害的其他行为，包括对小莺出国服务器的攻击。</p>
                <p>
                <!---->
                </p><div class="M_sytk_conTitle">
                    数据和程序归属权</div>
                <p>
                    1. 用户在小莺出国平台创建的独创性数据归属客户所有，客户有权进行任何形式的处置，包括从平台中复制，导出和删除。</p>
                <p>
                    2. 小莺出国的应用程序、源代码、LOGO、界面设计所关联的所有知识产权均归属远英出国服务有限公司。</p>
                <!---->
                <div class="M_sytk_conTitle">
                    用户隐私权</div>
                <p>
                    1. 小莺出国应当从组织结构和技术角度尽最大努力保护用户数据安全，只根据用户在网站上的行为指示来分发用户的信息。小莺出国永远不会将用户产生的具体数据提供任何无关第三方。</p>
                <p>
                    2. 小莺出国保留使用汇总统计性信息的权利，这些信息应当是匿名，且不是针对特定用户的。</p>
                <p>
                    3. 小莺出国保留面向免费模式用户刊载广告的权利，这些广告刊载过程中将可能使用必要的定向技术来提高广告相关度，但小莺出国不会将用户的个人信息透露给广告商，而只会在匿名的基础上通过自动化匹配技术实现广告优化刊载。</p>
                <p>
                    4. 客户如果需要小莺出国全面删除用户数据，需要书面向小莺出国提出申请，并盖有公司公章。</p>
                <!---->
                <div class="M_sytk_conTitle">
                    服务连续性</div>
                <p>
                    1. 小莺出国将尽最大努力保障软件平台的连续可靠运行，对高级模式用户，小莺出国承诺95%以上的正常在线率，低于此比例，小莺出国有义务按照服务中断时间比例向客户退还相应的服务费用。小莺出国对免费模式用户不提供任何补偿。</p>
                <p>
                    2. 小莺出国将尽最大努力保障客户数据的安全备份，对高级模式用户，小莺出国承诺在有任何用户数据因服务器存储设备损坏时以最快的速度从最近的备份中恢复数据，但无法承诺100%的数据恢复，对因数据丢失带来的其他连带或间接损失不承担任何责任。</p>
                <p>
                    3. 在发生需要从备份文件中恢复数据的情形时，小莺出国通常需要4小时，最长48小时完成，在此时间范围内的数据恢复视作服务是连续的。</p>
                <p>
                    4. 因重大自然灾害，战争等不可抗力导致的小莺出国服务中断和长时间终止，小莺出国不承担赔偿责任。</p>
                <!---->
                <div class="M_sytk_conTitle">
                    计费和支付</div>
                <p>
                    1. 小莺出国高级模式用户包中所限定的用户数是指客户网络中所有生效的用户总数，包括正常用户，屏蔽、移除、标疑但当月有过登录记录的用户，邀请的外部用户。员工离职后正常关闭且实际无登录的用户不计算。
                </p><p>
                    2. 客户应当按照本订单载明的支付义务及时支付价款，用户逾期支付账单超过30天后系统会停止高级模式服务，而转入免费模式，用户在高级模式下的设定参数数据可能因此丢失或恢复缺省设置。即使在停止高级模式服务后，任何未支付的账单均会作为客户的欠款，小莺出国保留追讨欠款及滞纳金的权利，滞纳金将根据拖欠天数，每天按欠款金额的万分之五计收。
                    </p>
                <!---->
                <div class="M_sytk_conTitle">
                    高级模式服务终止</div>
                <p>
                    1.小莺出国授权期限到期后，如果未能及时购买续约包，用户高级模式自动终止。用户如需要继续使用小莺出国高级模式，需要在授权到期前至少三个工作日内签订续约订单。</p>
                <!---->
                <div class="M_sytk_conTitle">
                    条款修订</div>
                <p>
                    1. 小莺出国有权随时对本合约的条款进行修订，并在修订生效日前一个工作日更新在小莺出国网站。</p>
                <p>
                    2. 小莺出国有权对高级模式的定价进行修订，并在修订生效日前一个月通告给所有高级模式用户。</p>
                <p>
                    3.修订的条款始终公开在http://www.eggelite.com/terms</p>
                <!---->
                <div class="M_sytk_conTitle">
                    争议解决</div>
                <p>
                    如果就本协议的解释或执行发生争议，双方应首先力争通过友好协商解决该争议。如果在一方向其他方送达要求开始协商的书面通知后六十天内未能通过协商解决争议，那么任何一方均可将争议提交至中国国际经济贸易仲裁委员会上海分会，按照其届时有效的规则进行仲裁。仲裁裁决是终局的，对各方均有约束力，不可上诉。仲裁费用由败诉方承担，除非仲裁裁决另有规定。当任何争议发生时以及在对任何争议进行仲裁时，除争议事项外，各方应继续行使各自在本协议项下的其他权利，履行各自在本协议项下的其他义务。</p>
            </div>
            <!--使用条款结束-->
        </div>
	</div>
	<include file="./Template/Common/Index_footer.html" />
    <script src="/Public/js/vue.min.js"></script>

</body>
</html>