<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>联系我们-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Contact/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <include file="./Template/Common/Index_header_home.html"/>
    <div id="contactPart" class="marginTop">
        <div class="bannerPart">
            <div class="container">
                <span>联系我们</span>
            </div>
        </div>
        <div class="container cityPart">
            <div class="cityNamePart">
                <ul class="cityName1">
                    <li class="active" data-action="shanghai">上海</li>
                    <li data-action="nanjing">南京</li>
                    <li data-action="suzhou">苏州</li>
                    <li data-action="chengdu">成都</li>
                    <li data-action="taiyuan">太原</li>
                    <!--<li data-action="dongjing">东京</li>-->
                    <li data-action="zhenzhou">郑州</li>
                    <li data-action="shijiazhuang">石家庄</li>
                </ul>
                <span></span>
            </div>
            <ul class="tabcontent">
                <li class="shanghai active">
                    <div>
                        <h4 class="companyName">小莺出国上海总公司</h4>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/phone.png">
                            </div>
                            <div>
                                <h5>联系电话：</h5>
                                <p class="phoneNum">400-015-0170</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/address.png">
                            </div>
                            <div>
                                <h5>地址：</h5>
                                <p>上海徐汇区肇嘉浜路789号均瑶国际广场11楼D0<a href="javascript:void(0)" data-map="121.45506,31.204353" class="map_point"></a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/trans.png">
                            </div>
                            <div>
                                <h5>交通方式：</h5> 
                                <p>地铁: 7号线/9号线肇嘉浜路站4号口步行2分钟<br>驾车：上海市徐汇区肇嘉浜路与高安路交口 均瑶国际广场十一楼D0号</p>
                            </div>
                        </div>
                        <img class="transImg" src="../../Public/Contact/img/map/shanghai.jpg"></img>
                        <p class="hotline">全国统一咨询热线：400 - 015 - 0170</p>
                    </div>
                </li>
                <li class="nanjing">
                    <div>
                        <h4 class="companyName">小莺出国上海总公司</h4>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/phone.png">
                            </div>
                            <div>
                                <h5>联系电话：</h5>
                                <p class="phoneNum">400-015-0170</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/address.png">
                            </div>
                            <div>
                                <h5>地址：</h5>
                                <p>南京市鼓楼区中山路55号新华大厦49层<a href="javascript:void(0)" data-map="118.78976,32.050625" class="map_point"></a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/trans.png">
                            </div>
                            <div>
                                <h5>交通方式：</h5> 
                                <p>地铁：一号线中国药科大学方向到达新街口站（6口出）步行约590米<br>公交：25路/1路/33路 中山路·珠江路南站 下车 步行 660米35路/28路 新街口南站 下车 步行 860米</p>
                            </div>
                        </div>
                        <img class="transImg" src="../../Public/Contact/img/map/nanjing.jpg"></img>
                        <p class="hotline">全国统一咨询热线：400 - 015 - 0170</p>
                    </div>
                </li>
                <li class="suzhou">
                    <div>
                        <h4 class="companyName">小莺出国上海总公司</h4>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/phone.png">
                            </div>
                            <div>
                                <h5>联系电话：</h5>
                                <p class="phoneNum">400-015-0170</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/address.png">
                            </div>
                            <div>
                                <h5>地址：</h5>
                                <p>江苏省苏州市姑苏区干将东路和基广场5楼508<a href="javascript:void(0)" data-map="120.637692,31.314755" class="map_point"></a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/trans.png">
                            </div>
                            <div>
                                <h5>交通方式：</h5> 
                                <p>驾车：干将东路临顿路交叉口。<br>地铁：1号线 临顿路 3号口直达。<br>公交：89路，261路 临顿路(观前街)下车直达。</p>
                            </div>
                        </div>
                        <img class="transImg" src="../../Public/Contact/img/map/suzhou.jpg"></img>
                        <p class="hotline">全国统一咨询热线：400 - 015 - 0170</p>
                    </div>
                </li>
                <li class="chengdu">
                    <div>
                        <h4 class="companyName">小莺出国上海总公司</h4>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/phone.png">
                            </div>
                            <div>
                                <h5>联系电话：</h5>
                                <p class="phoneNum">400-015-0170</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/address.png">
                            </div>
                            <div>
                                <h5>地址：</h5>
                                <p>四川省成都市锦江区总府路2号时代广场A座15层1505A<a href="javascript:void(0)" data-map="104.086761,30.662032" class="map_point"></a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/trans.png">
                            </div>
                            <div>
                                <h5>交通方式：</h5> 
                                <p>地铁: 乘坐地铁2号线(犀浦方向), 在春熙路站下车( D口出) 步行5分钟</p>
                            </div>
                        </div>
                        <img class="transImg" src="../../Public/Contact/img/map/chengdu.jpg"></img>
                        <p class="hotline">全国统一咨询热线：400 - 015 - 0170</p>
                    </div>
                </li>
                <li class="taiyuan">
                    <div>
                        <h4 class="companyName">小莺出国上海总公司</h4>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/phone.png">
                            </div>
                            <div>
                                <h5>联系电话：</h5>
                                <p class="phoneNum">400-015-0170</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/address.png">
                            </div>
                            <div>
                                <h5>地址：</h5>
                                <p>山西省太原市坞城路92号山西大学校内<a href="javascript:void(0)" data-map="112.593756,37.805857" class="map_point"></a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/trans.png">
                            </div>
                            <div>
                                <h5>交通方式：</h5> 
                                <p>公交：903支路 学府街坞城路口站下车<br>39路/877 山西大学站下车 <br>817/55/201/11/813/23/836/901/902路太榆路<br>学府街口站下车 </p>
                            </div>
                        </div>
                        <img class="transImg" src="../../Public/Contact/img/map/taiyuan.jpg"></img>
                        <p class="hotline">全国统一咨询热线：400 - 015 - 0170</p>
                    </div>
                </li>
                <li class="dongjing">
                    <div>
                        <h4 class="companyName">小莺出国上海总公司</h4>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/phone.png">
                            </div>
                            <div>
                                <h5>联系电话：</h5>
                                <p class="phoneNum">400-015-0170</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/address.png">
                            </div>
                            <div>
                                <h5>地址：</h5>
                                <p><span>新宿校区：</span>〒169-0074 東京都新宿区北新宿1-1-16 JSビル 2F<a href="javascript:void(0)" data-map="139.696909,35.698639" class="map_point"></a><br><span>大久保校区：</span>169-0073 東京都新宿区百人町1-22-24朝日ビル4F-5F<a href="javascript:void(0)" data-map="139.697178,35.699727" class="map_point"></a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/trans.png">
                            </div>
                            <div>
                                <h5>交通方式：</h5> 
                                <p><span>新宿校区：</span>大久保车站南口出来，可以看到一个familymart，沿着那条路直走，走出来正对面就是新宿校。<br><span>大久保校区：</span>最近的是大久保车站南口，出站后向familymart方向右转，第二个路口左转，走到路的中段位置，旁边是新宿国际交流学院新宿校。</p>
                            </div>
                        </div>
                        <img class="transImg" src="../../Public/Contact/img/map/dongjing1.jpg"></img>
                        <p class="schoolName">新宿校区</p>
                        <img class="transImg transImg1" src="../../Public/Contact/img/map/dongjing2.jpg"></img>
                        <p class="schoolName">大久保校区</p>
                        <p class="hotline">全国统一咨询热线：400 - 015 - 0170</p>
                    </div>
                </li>
                <li class="zhenzhou">
                    <div>
                        <h4 class="companyName">小莺出国上海总公司</h4>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/phone.png">
                            </div>
                            <div>
                                <h5>联系电话：</h5>
                                <p class="phoneNum">400-015-0170</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/address.png">
                            </div>
                            <div>
                                <h5>地址：</h5>
                                <p>河南省郑州市花园路建业凯旋广场北塔718室<a href="javascript:void(0)" data-map="113.687095,34.799299" class="map_point"></a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/trans.png">
                            </div>
                            <div>
                                <h5>交通方式：</h5> 
                                <p>公交：2路，32路，63路，962路区间，9路，B11路，B32路，Y811路 到达花园路农科路<br>地铁：地铁2号线，东风路站，步行390米。到达花园路农科路</p>
                            </div>
                        </div>
                        <img class="transImg" src="../../Public/Contact/img/map/zhengzhou.jpg"></img>
                        <p class="hotline">全国统一咨询热线：400 - 015 - 0170</p>
                    </div>
                </li>
                <li class="shijiazhuang">
                    <div>
                        <h4 class="companyName">小莺出国上海总公司</h4>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/phone.png">
                            </div>
                            <div>
                                <h5>联系电话：</h5>
                                <p class="phoneNum">400-015-0170</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/address.png">
                            </div>
                            <div>
                                <h5>地址：</h5>
                                <p>河北省石家庄市桥西区塔坛国际商贸城9号写字楼28楼<a href="javascript:void(0)" data-map="114.498081,38.005911" class="map_point"></a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="infoTable">
                            <div>
                                <img src="../../Public/Contact/img/trans.png">
                            </div>
                            <div>
                                <h5>交通方式：</h5> 
                                <p>公交：67路/92路/2路/7陆/205路  塔谈站 下车  步行340米</p>
                            </div>
                        </div>
                        <img class="transImg" src="../../Public/Contact/img/map/shijiazhuang.jpg"></img>
                        <p class="hotline">全国统一咨询热线：400 - 015 - 0170</p>
                    </div>
                </li>
            </ul>
           
        </div>
    </div>
    <div class="mapDv1">
        <div class="bdMap">
            <div id="baiduMap"></div>
            <img src="../../Public/Common/map/close.png" alt="" class="map_close">
        </div>
        <div class="cover"></div>
    </div>
    <include file="./Template/Common/Index_footer.html" />
    <script src="/Public/js/vue.min.js"></script>
    <script>
    $(function() {
        $(".cityName1 li").click(function() {
            $(this).addClass("active").siblings().removeClass("active");
            var _name = $(this).attr("data-action");
            $("#contactPart .tabcontent ." + _name + "").addClass("active").siblings().removeClass("active");
        })

        $(".map_point").click(function() {
            $(".mapDv1").show();
            var _point = $(this).attr("data-map").split(",");
            $("#baiduMap").show();
            // 百度地图API功能
            var map = new BMap.Map("baiduMap", {});
            map.enableScrollWheelZoom(true);
            var point = new BMap.Point(_point[0], _point[1]);
            map.centerAndZoom(point, 50);
            // 百度地图API功能
            var sContent =
                "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>小莺出国上海校区</h4>" +
                "<img style='display:block;margin:4px 0' id='imgDemo' src='../../Public/Common/map/shanghai.jpg' width='100%' />" +
                "<p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>上海小莺出国的资深留学老师，将为您做1对1的专业留学咨询和指导，签证通过率达到100%，为您的日本升学之旅保驾护航！...</p>" +
                "</div>";

            var infoWindow = new BMap.InfoWindow(sContent); // 创建信息窗口对象


            //创建logo
            var pt = new BMap.Point(_point[0], _point[1]);
            var myIcon = new BMap.Icon("../../Public/Common/mappoint.png", new BMap.Size(95, 36));
            var marker2 = new BMap.Marker(pt, { icon: myIcon }); // 创建标注
            map.addOverlay(marker2);

        })

        $(".map_close").click(function(){
            $(".mapDv1").hide();
        })
    })
</script>
</body>

</html>