<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>资讯列表-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Zixun/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
</head>

<body data-nav="news">
    <include file="./Template/Common/Index_header_home.html"/>
    <div id="zixun">
        <div class="marginTop">
            <!-- <a :href="/news/detail">点击详情页</a> -->
            <div class="bannerPart">
                
            </div>
            <div class="newsNavPart">
                <ul class="container newsNavUl">
                    <li @click="tabNewsNav" data-cateid="newsNavAll" ><a href="javascript:;">全部</a></li>
                    <li v-for="n in newsNav" :data-cateid="n.id" :key = "n.id" @click="tabNewsNav">
                        <a href="javascriot:;">{{n.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="container clearfix contentPart">
                <div class="leftPart">
                    <div class="newsContPart">
                        <ul class="secNavList">
                            <li @click="tabsecNav" data-cateid="secNavAll"><a href="javascript:;">全部</a></li>

                            <li v-for="n in newsSecNav" @click="tabsecNav" :data-cateid="n.id" :key = "n.id"><a href="javascript:;">{{n.name}}</a></li>
                        </ul>
                        <ul class="newsListUl">
                            <li v-for = "item in newsList" :key="item.id">
                                <div class="imgDv">
                                    <a :href="'/news/detail?id=' + item.id">
                                        <img :src="item.picture" :alt="item.title">
                                    </a>
                                </div>
                                <div class="contDv">
                                    <h4>
                                        <a :href="'/news/detail?id=' + item.id">{{item.title}}</a>
                                    </h4>
                                    <p class="time"><span></span>{{item.publishedtime}}</p>
                                    <p class="newsDes">
                                        <a :href="'/news/detail?id=' + item.id">{{item.des}}</a>
                                    </p>
                                    <div class="btnPart">
                                        <a :href="'/news/detail?id=' + item.id">查看详情</a>
                                        <ul class="clearfix">
                                            <li>
                                                <span></span>{{item.upsnum}}
                                            </li>
                                            <li>
                                                <span></span>{{item.hits}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pageBox"></div>
                </div>
                <div class="rightPart">
                    <include file="./Template/Zixun/Index_hotActivities.html" />
                    <include file="./Template/Zixun/Index_hotFlag.html" />
                    <include file="./Template/Zixun/Index_parentsCare.html" />
                </div>
            </div>
        </div>
    </div>
    <include file="./Template/Common/Index_footer.html" />
    <script src="/Public/js/vue.min.js"></script>
    <script type="text/javascript" src="../../Public/Zixun/js/jquery.pagination.js"></script>
    <script type="text/javascript" src="../../Public/Zixun/js/index.js?v=12"></script>
</body>

</html>