<link rel="stylesheet" type="text/css" href="__PUBLIC__/Zixun/js/swiper2/idangerous.swiper.css">
<link rel="stylesheet" href="__PUBLIC__/Zixun/css/common.css">
<div class="hotActivitiesPart">
    <h4 class="title">热门活动</h4>
    <div class="hotActivitiesDv">
        <a class="arrow-left" href="javascript:;"></a>
        <a class="arrow-right" href="javascript:;"></a>
        <div class="swiper-container swiper-actuve">
            <div class="swiper-wrapper">
            </div>
        </div>
        <div class="pagination"></div>
    </div>
</div>
<div class="hothide" style="display: none;">
    <div class="swiper-slide">
        <a href="http://www.xiao-ying.net/zhanhui2018/" target="_blank">
        <img src="../../Public/Zixun/img/hotActivities/zhanhui2018.jpg">
    </a>
    </div>
</div>
<script type="text/javascript" src="../../Public/Zixun/js/swiper2/idangerous.swiper.min.js"></script>
<script type="text/javascript">
$.ajax({
    url: "http://manage.xiaoying.net/getrecom",
    type: "get",
    data: { recom_id: 2 },
    success: function(res) {
        if (res.status) {
            var str = "";
            for (var i = 0; i < res.recomdata.length; i++) {
                $(".hothide img").attr("src", "http://manage.xiaoying.net/Uploads/" + res.recomdata[i].file_path);
                $(".hothide a").attr("href", res.recomdata[i].link_url);
                str = str + $(".hothide").html();
            }
            $(".hotActivitiesDv .swiper-wrapper").html(str);
            //热门活动轮播初始化
            window.setTimeout(function() {
                var mySwiper = new Swiper('.swiper-actuve', {
                    // pagination: '.pagination',
                    loop: true,
                    autoplay: 5000,
                    autoplayDisableOnInteraction: false,
                    grabCursor: true,
                    paginationClickable: true
                })
                $('.arrow-left').on('click', function(e) {
                    e.preventDefault()
                    mySwiper.swipePrev()
                });
                $('.arrow-right').on('click', function(e) {
                    e.preventDefault()
                    mySwiper.swipeNext()
                });
            },400)
        }
    }
})
</script>