<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>资讯详情-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Zixun/css/detail.css?v=201810261026">

    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
</head>

<body data-nav="news">
    <include file="./Template/Common/Index_header_home.html"/>
    <div id="zixundetail">
        <div class=" marginTop">
            <div class="bannerPart">
                
            </div>
            <div class="newsNavPart">
                <ul class="container newsNavUl">
                    <li @click="clickNewsNav" data-cateid="newsNavAll"><a href="javascript:;">全部</a></li>
                    <li v-for="n in newsNav" @click="clickNewsNav" :data-cateid="n.id" :key = "n.id">
                        <a href="/zixun">{{n.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="container clearfix contentPart">
                <div class="leftPart">
                    <div class="newsContPart">
                        <div class="newsdetailsContPart">
                            <h4 class="currentAddress">您当前的位置：
                                <a href="/zixun">留学资讯</a>
                                <!-- <router-link to="/News">留学资讯</router-link> -->
                                >>
                                <a href="/zixun">全部</a>
                                <!-- <router-link to="/News">全部</router-link> -->
                                >><span>正文详情</span></h4>
                            <div class="detailsTitlePart">
                                <h3 class="detailsTitle">{{newsDetailInfo.title}}</h3>
                            </div>
                            <div class="newsSourcePart clearfix">
                                <ul class="sourceUl clearfix">
                                    <li class="sourse">{{newsDetailInfo.source}}</li>
                                    <li class="editor">xiaoying</li>
                                    <li class="time">{{newsDetailInfo.publishedtime}}</li>
                                </ul>
                                <ul class="eyeUl clearfix">
                                    <li class="thumb" @click="clickThumb">
                                        <span></span>{{vote}}
                                    </li>
                                    <li class="eye">
                                        <span></span>{{reads}}
                                    </li>
                                    <!-- <li class="share">
                                        <span></span>18
                                    </li> -->
                                </ul>
                            </div>
                            <div class="detailsContPart">
                                <p v-html="newsDetailInfo.body"></p>
                                <div class="thumbPart"  @click="clickThumb">
                                    <div>
                                        <img src="../../Public/Zixun/img/thumb.png">
                                        <p>赞</p>
                                    </div>
                                </div>
                                <p class="likeNum">{{vote}}人赞过</p>
                            </div>
                            <div class="labelPart">
                                <div class="labelItem clearfix">
                                    <div class="labelTitle">你关心的标签: </div>
                                    <div class="labelUl">
                                        <ul class="clearfix">
                                            <li><a href="javascript:;">日本留学面试问题</a></li>
                                            <li><a href="javascript:;">东京大学</a></li>
                                            <li><a href="javascript:;">早稻田大学</a></li>
                                            <li><a href="javascript:;">日本大学排名</a></li>
                                            <li><a href="javascript:;">日本大学排名</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="labelItem clearfix">
                                    <div class="labelTitle">我关心的标签: </div>
                                    <div class="labelUl">
                                        <ul class="clearfix">
                                            <li><a href="javascript:;">日本留学面试问题</a></li>
                                            <li><a href="javascript:;">东京大学</a></li>
                                            <li><a href="javascript:;">早稻田大学</a></li>
                                            <li><a href="javascript:;">日本大学排名</a></li>
                                            <li><a href="javascript:;">日本大学排名</a></li>
                                            <li><a href="javascript:;">日本大学排名</a></li>
                                            <li><a href="javascript:;">日本大学排名</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="notice">声明：本站文章标明 [原创] 系本站原创内容，如需转载请注明 [来源于小莺出国 www.xiao ying.net] 。任何单位或个人认为本站内容涉嫌侵犯其合法权益，请及时向本站书面反馈并提供证明，本站将会尽快移除被控侵权内容。</p>
                        </div>

                    </div>
                </div>
                <div class="rightPart">
                    <include file="./Template/Zixun/Index_hotActivities.html" />
                    <include file="./Template/Zixun/Index_hotFlag.html" />
                    <include file="./Template/Zixun/Index_parentsCare.html" />
                </div>
            </div>
        </div>
    </div>
    <include file="./Template/Common/Index_footer.html" />
    <script src="/Public/js/vue.min.js"></script>
    <script src="/Public/js/vue-router.js"></script>
    <script type="text/javascript" src="../../Public/Zixun/js/detail.js?v=201810261026"></script>
</body>

</html>