<link rel="stylesheet" href="__PUBLIC__/Zixun/css/common.css">
<div class="parentsCare">
    <h4>家长关心</h4>
    <ul class="careQuestionList clearfix">
        <li>
            <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                <div class="iconDv">
                    <img src="../../Public/Zixun/img/why_choose_icon.png">
                </div>
                <p>为何选择小莺</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                <div class="iconDv">
                    <img src="../../Public/Zixun/img/liuxue_free_icon.png">
                </div>
                <p>赴日留学费用</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                <div class="iconDv">
                    <img src="../../Public/Zixun/img/how_work_icon.png">
                </div>
                <p>在日如何工作</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                <div class="iconDv">
                    <img src="../../Public/Zixun/img/highter_school_icon.png">
                </div>
                <p>日本升学攻略</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                <div class="iconDv">
                    <img src="../../Public/Zixun/img/survey_require_icon.png">
                </div>
                <p>赴日调研要求</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                <div class="iconDv">
                    <img src="../../Public/Zixun/img/language_school_icon.png">
                </div>
                <p>语言学校要求</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                <div class="iconDv">
                    <img src="../../Public/Zixun/img/life_icon.png">
                </div>
                <p>日常生活常识</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                <div class="iconDv">
                    <img src="../../Public/Zixun/img/befor_prepare_icon.png">
                </div>
                <p>出国行前准备</p>
            </a>
        </li>
    </ul>
</div>  