<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>小莺出国-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="../../Public/plugin/swiper3/swiper.min.css">
    <link rel="stylesheet" href="__PUBLIC__/xiaoying/css/index.css?v=201811121214">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
</head>
<body data-nav="index">
    <include file="Template/Common/Index_header_home.html"/>
    <div id="xiaoying" class="marginTop">
        <div class="banner clearfix">
            <div class="swiper-container swiper-banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="n in bannerlist">
                        <a class="a_href" target="_blank" :href="n.link_url" v-bind:style="{backgroundImage:'url(http://manage.xiaoying.net/Uploads/' + n.file_path + ')'}"></a>
                        <!-- <img :src="'http://manage.xiaoying.net/Uploads/'+n.file_path" alt=""> -->
                        <!-- <div class="bannerItem">
                            <div class="container clearfix">
                                <div class="mainpart">
                                    <img src="../../Public/xiaoying/img/banner_a.png" alt="" class="banner_a">
                                    <img src="../../Public/xiaoying/img/banner_b.png" alt="" class="banner_b">
                                    <img src="../../Public/xiaoying/img/banner_c.png" alt="" class="banner_c">
                                    <img src="../../Public/xiaoying/img/bird.png" alt="" class="bird">
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>
                <div class="swiper-button-prev swiper-banner-button-prev"></div>
                <div class="swiper-button-next swiper-banner-button-next"></div>
                <div class="swiper-pagination swipe-bannerr-pagination"></div>
            </div>
            <div class="container clearfix centerPart">
                <ul class="selectcity">
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/JP@2x.png" alt="">
                            <span>日本留学</span>
                        </a>
                    </li>
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/KR@2x.png" alt="">
                            <span>韩国留学</span>
                        </a>
                    </li>
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/US@2x.png" alt="">
                            <span>美国留学</span>
                        </a>
                    </li>
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/GB@2x.png" alt="">
                            <span>英国留学</span>
                        </a>
                    </li>
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/SG@2x.png" alt="">
                            <span>新加坡留学</span>
                        </a>
                    </li>
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/AU@2x.png" alt="">
                            <span>澳大利亚留学</span>
                        </a>
                    </li>
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/TH@2x.png" alt="">
                            <span>泰国留学</span>
                        </a>
                    </li>
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/NO@2x.png" alt="">
                            <span>挪威留学</span>
                        </a>
                    </li>
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/NZ@2x.png" alt="">
                            <span>新西兰留学</span>
                        </a>
                    </li>
                    <li class="li">
                        <a href="javascript:;" onclick="_MEIQIA('showPanel')">
                            <img src="../../Public/xiaoying/img/nation/HK@2x.png" alt="">
                            <span>香港留学</span>
                        </a>
                    </li>
                </ul>
                <div class="rightpart">
                    <p class="p-title">免费试听课</p>
                    <div class="dv-content">
                        <div class="xy_form xy_form_a">
                            <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
                                <div class="lineDv">
                                    <select name="" id="">
                                        <option value="">意向国家</option>
                                    </select>
                                </div>
                            </div>
                            <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
                                <div class="lineDv">
                                    <input type="text" placeholder="您的姓名">
                                </div>
                            </div>
                        </div>
                        <div class="xy_submit xy_submit_a">在线评估预约</div>
                    </div>
                    <ul class="s-tool-part" onclick="_MEIQIA('showPanel')">
                        <li>
                            <img src="__PUBLIC__/Mall/img/ba_1.jpg" alt=""> 日语测评
                        </li>
                        <li>
                            <img src="__PUBLIC__/Mall/img/ba_2.jpg" alt=""> 口语评测
                        </li>
                        <li>
                            <img src="__PUBLIC__/Mall/img/ba_3.jpg" alt=""> GPA计算器
                        </li>
                        <li>
                            <img src="__PUBLIC__/Mall/img/ba_4.jpg" alt=""> 选课系统
                        </li>
                        <li>
                            <img src="__PUBLIC__/Mall/img/ba_5.jpg" alt=""> 微信公众号
                        </li>
                        <li>
                            <img src="__PUBLIC__/Mall/img/ba_6.jpg" alt=""> 大学排名
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="adpart">
            <div class="container swiper-ad-part">
                <div class="swiper-container swiper-ad">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(n,index) in small_ad">
                            <a :href="n.link_url" target="_blank">
                                <img :src="'http://manage.xiaoying.net/Uploads/'+n.file_path" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev swiper-ad-button-prev"></div>
                <div class="swiper-button-next swiper-ad-button-next"></div>
            </div>
        </div>
        <div class="threestep">
            <div class="container clearfix">
                <div class="titleDv">
                    信赖的留学品牌<br />
                    <font class="en">Trusted study abroad brand</font>
                </div>
                <div class="left mi_circle">
                    <ul class="ul">
                        <li class="li clearfix a">
                            <div class="circleDv">
                                <i class="xy_icon"></i>
                            </div>
                            <p>
                                <font>学术型留学顾问</font>
                                海外名校毕业学术型留学顾问比例高大幅度提高留学规划专业水准。
                            </p>
                        </li>
                        <li class="li clearfix b">
                            <div class="circleDv">
                                <i class="xy_icon"></i>
                            </div>
                            <p>
                                <font>多对一个性化定制</font>
                                业内首创多对一申请服务针对申请者特点个性定制
                            </p>
                        </li>
                        <li class="li clearfix c">
                            <div class="circleDv">
                                <i class="xy_icon"></i>
                            </div>
                            <p>
                                <font>一站式校到校留学服务</font>
                                留学申请与留学培训一体化全方位留学服务，让留学更放心。
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- <img src="../../Public/xiaoying/img/ml_tacher.png" alt="" class="ml_tacher"> -->
            </div>
        </div>
        <div class="searchPart">
            <div class="container">
                <div class="titleDv">
                    热门院校和日本留学攻略<br />
                    <font class="en">COLLEGES AND STUDY ABROAD</font>
                </div>
                <div class="clearfix">
                    <div class="schoolpart">
                        <h3 class="p_title">院校搜索</h3>
                        <div class="dvinput">
                            <input type="text" placeholder="请输入学校名称">
                            <img src="../../Public/xiaoying/img/searchicon.jpg" alt="">
                        </div>
                        <ul class="schoolul">
                            <li class="item">
                                <a href="/school/jp/detail?id=1">东京大学</a>
                            </li>
                            <li class="item">
                                <a href="/school/jpyy">YMCA东京日本語学校</a>
                            </li>
                            <li class="item">
                                <a href="/school/jpyy">早稻田EDU日本语学校</a>
                            </li>
                            <li class="item">
                                <a href="/school/jpyy">赤门会日本语学校</a>
                            </li>
                            <li class="item">
                                <a href="">东京大学</a>
                            </li>
                            <li class="item">
                                <a href="">YMCA东京日本語学校</a>
                            </li>
                            <li class="item">
                                <a href="">赤门会日本语学校</a>
                            </li>
                            <li class="item">
                                <a href="">东京大学</a>
                            </li>
                            <li class="item">
                                <a href="">YMCA东京日本語学校</a>
                            </li>
                        </ul>
                    </div>
                    <div class="newspart clearfix">
                        <h3 class="p_title">热门日本留学攻略
                            <a href="/news">more+</a></h3>
                        <ul class="newsul">
                            <li class="item" v-for="(n,index) in newslist">
                                <a :href="'/news/detail?id='+n.id" class="clearfix">
                                    <span class="num">0{{index+1}}</span>
                                    <span class="t_font">{{n.categoryname}} | {{n.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="abroad">
            <div class="container">
                <div class="titleDv">
                    50万+学员与家长信赖的留学品牌<br />
                    <font class="en">STUDY ABROAD BRAND</font>
                </div>
                <div class="main">
                    <img src="../../Public/xiaoying/img/abroad.png" alt="" class="abroad">
                    <ul class="ul">
                        <li class="item a">
                            <img src="../../Public/xiaoying/img/ab_a.png" alt="">
                            <p><font>18年</font>留学申请经验</p>
                        </li>
                        <li class="item b">
                            <img src="../../Public/xiaoying/img/ab_b.png" alt="">
                            <p><font>120万+</font>注册用户</p>
                        </li>
                        <li class="item c">
                            <img src="../../Public/xiaoying/img/ab_c.png" alt="">
                            <p><font>400人+</font>服务团队</p>
                        </li>
                        <li class="item d">
                            <img src="../../Public/xiaoying/img/ab_d.png" alt="">
                            <p><font>50万+</font>成功申请学员</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <div class="titleDv">
                    顶尖留学精英/材料申请团队<br />
                    <font class="en">STUDY ABROAD CONSULTANT</font>
                </div>
                <div class="swiper-container swiper-team">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(n,index) in teacher">
                            <div class="imgDv">
                                <img :src="'../../Public/xiaoying/img/teacher/'+n.img" alt="">
                            </div>
                            <div class="info">
                                <p class="name">{{n.name}}</p>
                                {{n.job}}<br />
                                <font :title="n.desc">{{n.desc}}</font><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-swiper-pagination"></div>
            </div>
        </div>
        <div class="case">
            <div class="container">
                <div class="titleDv">
                    成功案例和学员口碑<br />
                    <font class="en">CASE AND WORD OF MOUTH</font>
                </div>
                <div class="swiper-container swiper-case">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(n,index) in caselist" :data-id="n.id">
                            <div class="imgDv">
                                <img :src="'../../Public/xiaoying/img/case/stu'+(index+1)+'.jpg'" alt="">
                                <!-- <img :src="'../../Public/xiaoying/img/case/'+n.img" alt=""> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="intro_info">
                    <ul class="list">
                        <li class="item w_100 name">{{currentcase.name}}同学</li>
                        <li class="item w_33"><p class="stitle">录取学校：</p>成功录取{{currentcase.univ}}</li>
                        <li class="item w_33"><p class="stitle">录取专业：</p>{{currentcase.college}}</li>
                        <li class="item w_33"><p class="stitle">托福：</p>{{currentcase.score_en}}</li>
                        <li class="item w_100 info">
                            <i></i>
                            <p class="stitle">感想：</p>“小莺是一个很温暖的大家庭,小莺是一个很温暖的大家庭,小莺是一个很温暖的大家庭,小莺是一个很温暖的大家庭,小莺是一个很温暖的大家庭,小莺是一个很温暖的大家庭,小莺是一个很温暖的大家庭,“
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shouquan">
            <div class="container">
                <div class="titleDv">
                    海外院校授权<br />
                    <font class="en">OVERSEAS COLLEGE AUTHORIZATION</font>
                </div>
                <div class="main_t">
                    <div class="main">
                        <div class="swiper-container swiper-shouquan">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="n in shouquan">
                                    <div class="imgDv">
                                        <img :src="'../../Public/xiaoying/img/shouquan/'+n.imgUrl+'.jpg'" alt="">
                                    </div>
                                    <p class="name">{{n.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<img src="../../Public/xiaoying/img/boss.png" alt="" class="boss">-->
            </div>
        </div>
        <div class="media">
            <div class="container">
                <div class="titleDv">
                    媒体报道<br />
                    <font class="en">MEDIA COVERAGE</font>
                </div>
                <ul class="list">
                    <li class="item">
                        <img src="../../Public/xiaoying/img/media/ifeng.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../../Public/xiaoying/img/media/163.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../../Public/xiaoying/img/media/sohu.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../../Public/xiaoying/img/media/toutiao.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../../Public/xiaoying/img/media/36kr.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../../Public/xiaoying/img/media/yy.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../../Public/xiaoying/img/media/sina.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../../Public/xiaoying/img/media/hujiang.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <include file="./Template/Common/Index_loading.html"/>
    <include file="./Template/Common/Index_footer.html"/>

    <script src="/Public/js/vue.min.js"></script>
    <script src="../../Public/plugin/swiper3/swiper.min.js"></script>
    <script src="__PUBLIC__/xiaoying/js/index.js?v=201811121214"></script>
</body>

</html>