<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>关于我们-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/FreeClass/css/index.css"> -->
    <link rel="stylesheet" href="__PUBLIC__/aboutus/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <include file="./Template/Common/Index_header_home.html"/>
    <div id="aboutUs" class="marginTop">
        <div class="bannerPart">
        </div>
        <div class=" mainPart">
            <div class="aboutXiaoYing">
                <div class="titleDv">
                    <h4>关于小莺</h4>
                    <h5>ABOUT US</h5>
                    <span></span>
                </div>
                <p>小莺出国隶属于远英出国服务有限公司。注册资本5000万人民币。总部位于中国上海，<br>在东京、首尔、新加坡、南京、苏州、成都、石家庄，郑州、香港等地设有分公司。多年来，小莺出国留学服务团队秉承专业贴心<br>的服务理念，利用大数据互联网技术大幅加速了留学行业的效率化，智能化、云端化。基于深厚的互联网基因，小莺并没有像其他互联网留学<br>机构一样止步于网络申请、为提高服务质量，小莺在全国开设有二十余家体验中心，由总部对体验中心咨询人员进行一流的培训和管理，提高本地服务<br>质量。目前为止，小莺累计服务学院近50万名，小莺网校与小莺出国平台注册用户超过500万人。</p>

            </div>
            <div class="insititutionPart">
                <div class="titleDv">
                    <h4>以用户为导向的新型留学机构</h4>
                    <h5>NEW STUDY INSTITUTION</h5>
                    <span></span>
                </div>
                <p>传统留学机构为便于自身管理，往往以服务流程为导向，简而言之，就是忽略用户的需求与便利性，最大限度的追求自身业务<br>流程的无缝对接，形成了专业的“流水线作业体系”，大幅降低了留学客户体验和个性化服务品质。通过大规模对背景普通的咨询人员进行机械化的培训快速<br>上岗，形成了走系统，走流程的行业通病，难以满足日益提高的个性化留学服务需求。</p>
                <div class="container imgPart">
                    <img src="../../Public/aboutus/img/new_study_img.jpg">
                    <div>
                        <h6>小莺出国</h6>
                        <h5>专业&nbsp;&nbsp;&nbsp;贴心&nbsp;&nbsp;&nbsp;新留学</h5>
                        <p>贴心"是小莺出国处理客户关系时的重要标准。在小莺，每一位学员和申请者都是需要精心培养和照料的"小宝宝"，从申请和培训的每一个环节，细致入微的为他们提供贴心的帮助十分重要，留学是一项相对复杂的系统工程，我们的顾问和老师为大家保驾护航。</p>
                    </div>
                </div>
            </div>

            <div class="SLASPart">
                <div class="titleDv">
                    <h4>SLAS智能云申请与教学系统</h4>
                    <h5>SLAS INTELLIGENT CLOUD APPLICATION AND TEACHING SYSTEM</h5>
                    <span></span>
                </div>
                <p>基于现金的IT技术，小莺开发团队创造性的开发了一整套完整的SLAS智能云申请与教学<br>服务系统Smarty Learning&Applying System。该系统基于用户行为分析，大幅优化了留学申请与培训流程，使整个申请过程智能化，<br>云端化，效率化。同时为每一位留学咨询人员提供了强有力的申请数据支持，系统囊括了数以万计的海外院校最新招生数据，申请教授数据，录取案例数据<br>等，帮助咨询人员作出最专业的留学规划，同时保证申请流程畅通无阻，高效互联。</p>
                <div class="systemListDv">
                    <img src="../../Public/aboutus/img/system.jpg">
                </div>
            </div>
            <div class="processPart">
                <div class="titleDv">
                    <h4>发展历程</h4>
                    <h5>DEVELOPMENT PATH</h5>
                    <span></span>
                </div>
                <p>公司发展大事记：2010年小莺出国正式在上海开设了总部，成立远英出国有限公司，2012年香港万道集团注资1500万，<br>2014年开设网络申请教学系统1.0版正式上线，2016年开设了日本，韩国，香港，新加坡等国家申请服务，2017年服务学生数量业内领先，2018年开设的<br>分校已经达到20多家分校，在今后的小莺出国会越来越好。</p>
                <div class="processList container">
                    <div class="processListDv">
                        <div class="downDv">
                            <div class="circle"><div></div></div>
                            <div class="contBlock">
                                <p>2010年</p>
                                <p>总部在上海开业</p>
                                <span></span>
                            </div>
                        </div>
                        <div class="upDv item2">
                            <div class="contBlock">
                                <p>2012年</p>
                                <p>香港万道集团注资1500万</p>
                                <span></span>
                            </div>
                            <div class="circle"><div></div></div>

                        </div>
                        <div class="downDv item3">
                            <div class="circle"><div></div></div>
                            <div class="contBlock">
                                <p>2014年</p>
                                <p>开设网络申请教学系统1.0版</p>
                                <span></span>
                            </div>
                        </div>
                        <div class="upDv item4">
                            <div class="contBlock">
                                <p>2016年</p>
                                <p>开设日本，韩国，香港，新加坡等国家申请服务</p>
                                <span></span>
                            </div>
                            <div class="circle"><div></div></div>
                        </div>
                        <div class="downDv item5">
                            <div class="circle"><div></div></div>
                            <div class="contBlock">
                                <p>2017年</p>
                                <p>服务学生数量业内领先</p>
                                <span></span>
                            </div>
                        </div>
                        <div class="upDv item6">
                            <div class="contBlock">
                                <p>2018年</p>
                                <p>分校数量达到20家</p>
                                <span></span>
                            </div>
                            <div class="circle"><div></div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centerPart">
                <div class="titleDv">
                    <h4>为提高服务体验开设的全国体验中心</h4>
                    <h5>NATIONAL EXPERIENCE CENTER</h5>
                    <span></span>
                </div>
                <P>在小莺团队眼中，互联网只是一种效率化工具，并不能取代人与人的沟通。冰冷的机器不能<br>代替人心的热情，留学服务应该是有温度的。因此，为提高服务品质，提供真正个性化，值得信赖，及时反馈的高品质留学服务，小莺在<br>全国开设体验中心的步伐从未停止。目前，我们在上海，东京大久保，东京新宿，苏州，南京，成都，郑州，石家庄等多地开设有分校体验中心，我们专业<br>贴心的留学规划师和专业咨询师</p>
                <div class="experenceCenter">
                    <img src="../../Public/aboutus/img/centerAddress.png">
                </div>
            </div>

        </div>

    </div>
    <include file="./Template/Common/Index_footer.html" />
    <script src="/Public/js/vue.min.js"></script>
</body>

</html>