<link href="/Public/plugin/swiper2/idangerous.swiper.css" rel="stylesheet">
<link rel="stylesheet" href="/Public/plugin/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/Common/css/hotActivities.css">
<div class="hotActivitiesPart">
	<h3 class="title">POPULAR ACTIVITIES 热门活动</h3>
	<div class="hotActivitiesDv">
		<a class="arrow-left" href="#"></a> 
	    <a class="arrow-right" href="#"></a>
	    <div class="swiper-container">
	      <div class="swiper-wrapper">
	        <div class="swiper-slide">
	        	<a href="http://www.xiao-ying.net/zhanhui2018/" target="_blank">
	        		<img src="__PUBLIC__/Common/map/hotActivities/zhanhui2018.jpg">
	        		<div class="fontNotice">
	        			<i class="fa fa-pencil" aria-hidden="true"></i></i>&nbsp;已报名<font class="font-red-color">192</font>人&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;活动开始时间：2017年01月10日
	        		</div>
	        	</a>
	        </div>
	        <div class="swiper-slide">
	        	<a href="http://www.xiao-ying.net/evaluation?q=web" target="_blank">
	        		<img src="__PUBLIC__/Common/map/hotActivities/evaluation.jpg">
	        		<div class="fontNotice">
	        			<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;已报名<font class="font-red-color">192</font>人&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;活动开始时间：2017年01月10日
	        		</div>
	        	</a>
	        </div>
	        <div class="swiper-slide">
	        	<a href="http://www.xiao-ying.net/newdy/" target="_blank">
	        		<img src="__PUBLIC__/Common/map/hotActivities/duyan.jpg">
	        		<div class="fontNotice">
	        			<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;已报名<font class="font-red-color">192</font>人&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;活动开始时间：2017年01月10日
	        		</div>
	        	</a>
	        </div>
	        <div class="swiper-slide">
	        	<a href="http://www.xiao-ying.net/yuyan/" target="_blank">
	        		<img src="__PUBLIC__/Common/map/hotActivities/yuyan.jpg">
	        		<div class="fontNotice">
	        			<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;已报名<font class="font-red-color">192</font>人&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;活动开始时间：2017年01月10日
	        		</div>
	        	</a>
	        </div>
	        <div class="swiper-slide">
	        	<a href="http://www.xiao-ying.net/ztclk/" target="_blank">
	        		<img src="__PUBLIC__/Common/map/hotActivities/liukao.jpg">
	        		<div class="fontNotice">
	        			<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;已报名<font class="font-red-color">192</font>人&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;活动开始时间：2017年01月10日
	        		</div>
	        	</a>
	        </div>
	        <div class="swiper-slide">
	        	<a href="http://www.xiao-ying.net/pinggu/" target="_blank">
	        		<img src="__PUBLIC__/Common/map/hotActivities/pinggu.jpg">
	        		<div class="fontNotice">
	        			<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;已报名<font class="font-red-color">192</font>人&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;活动开始时间：2017年01月10日
	        		</div>
	        	</a>
	        </div>
	        <div class="swiper-slide">
	        	<a href="http://hr.eggelite.com/" target="_blank">
	        		<img src="__PUBLIC__/Common/map/hotActivities/ad_hr.jpg">
	        		<div class="fontNotice">
	        			<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;已报名<font class="font-red-color">192</font>人&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;活动开始时间：2017年01月10日
	        		</div>
	        	</a>
	        </div>
	         <div class="swiper-slide">
	        	<a href="http://www.xiao-ying.net/pinggu/" target="_blank">
	        		<img src="__PUBLIC__/Common/map/hotActivities/ad_teikyo.jpg">
	        		<div class="fontNotice">
	        			<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;已报名<font class="font-red-color">192</font>人&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;活动开始时间：2017年01月10日
	        		</div>
	        	</a>
	        </div>
	      </div>
	    </div>
	    <div class="pagination"></div>
	</div>
</div>
<script src="/Public/plugin/swiper2/idangerous.swiper.min.js"></script>
<script type="text/javascript">
	
</script>