<link href="/Public/plugin/swiper2/idangerous.swiper.css" rel="stylesheet">
<link rel="stylesheet" href="/Public/plugin/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/Zixun/css/common.css">
<!-- <link rel="stylesheet" href="__PUBLIC__/Common/css/hotActivities.css"> -->
<div class="hotActivitiesPart">
	<h3 class="title">热门活动</h3>
	<div class="hotActivitiesDv">
		<a class="arrow-left" href="javascript:;"></a> 
		<a class="arrow-right" href="javascript:;"></a>
		<div class="swiper-container swiper-actuve">
			<div class="swiper-wrapper">
			</div>
		</div>
		<div class="pagination"></div>
	</div>
</div>
<div class="hothide" style="display: none;">
		<div class="swiper-slide">
			<a href="http://www.xiaoying.net/zhanhui2018/" target="_blank">
				<img src="__PUBLIC__/Common/map/hotActivities/zhanhui2018.jpg">
				<!-- <div class="fontNotice">
					<i class="fa fa-pencil" aria-hidden="true"></i></i>&nbsp;已报名<font class="font-red-color">192</font>人&nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;活动开始时间：2017年01月10日
				</div> -->
			</a>
		</div>
	</div>
<script src="/Public/plugin/swiper2/idangerous.swiper.min.js"></script>
<script type="text/javascript">
$.ajax({
    url: "http://manage.xiaoying.net/getrecom",
    type: "get",
    data: { recom_id: 2 },
    success: function(res) {
        if (res.status) {
            var str = "";
            for (var i = 0; i < res.recomdata.length; i++) {
                $(".hothide img").attr("src", "http://manage.xiaoying.net/Uploads/" + res.recomdata[i].file_path);
                $(".hothide a").attr("href", res.recomdata[i].link_url);
                str = str + $(".hothide").html();
            }
            $(".hotActivitiesDv .swiper-wrapper").html(str);
            //热门活动轮播初始化
            window.setTimeout(function() {
                var mySwiper = new Swiper('.swiper-actuve', {
                    // pagination: '.pagination',
                    loop: true,
                    autoplay: 5000,
                    autoplayDisableOnInteraction: false,
                    grabCursor: true,
                    paginationClickable: true
                })
                $('.arrow-left').on('click', function(e) {
                    e.preventDefault()
                    mySwiper.swipePrev()
                });
                $('.arrow-right').on('click', function(e) {
                    e.preventDefault()
                    mySwiper.swipeNext()
                });
            },400)
        }
    }
})	
</script>