<link rel="stylesheet" href="../../Public/School/css/public.css">
<div class="banner">
    <div class="container clearfix">
        <img src="../../Public/School/img/banner_tilte_a.png" alt="" class="banner_tilte_a" data-sr="enter top hustle 150px over 1s">
        <img src="../../Public/School/img/banner_font.png" alt="" class="banner_font" data-sr="enter left  hustle 150px over 1s, wait 0.2s">
        <img src="../../Public/School/img/banner_tile_b.png" alt="" class="banner_tile_b" data-sr="enter left hustle 150px over 1s, wait 0.5s">
    </div>
</div>
<ul class="selectcity container">
    <li class="city_item">
        <a href="/school/jpyy">语言学校零中介申请</a>
    </li>
    <li class="city_item">
        <a href="/school/jp">日本大学</a>
    </li>
    <li class="city_item">
        <a href="/school/kr">韩国</a>
    </li>
    <li class="city_item">
        <a href="/school/sg">新加坡</a>
    </li>
</ul>