<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>学校详情-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/School/css/detail/jpyy.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="../../Public/plugin/background-blur.js"></script>
    <script src="/Public/Open/js/jqPaginator/jqPaginator.min.js"></script>
</head>

<body data-nav="jpyy">
    <include file="./Template/Common/Index_header_home.html" />
    <div id="jpyy_detail" class="marginTop">
        <div class="topDeatailPart">
            <div class="cover_banner_part"></div>
            <div class="container maininfo clearfix">
                <div class="left leftPart">
                    <div class="imgDv">
                        <img :src="tempimg" alt="" data-adaptive-background='1' data-description='grandpa' class="imgs">
                    </div>
                </div>
                <div class="right rightPart">
                    <p class="name">{{detail.name_cn}}</p>
                    <a :href="detail.website" class="url_href" target="_blank">{{detail.website}}</a>
                    <ul class="listinfo clearfix">
                        <li class="itemli clearfix">
                            <span class="s_title">学校性质：</span>
                            <span class="s_content">{{detail.xingzhi_name}}</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">每年学费：</span>
                            <span class="s_content">{{detail.cost_fee}}万（日元）</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">学校电话：</span>
                            <span class="s_content">{{detail.contact}}</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">录取比例：</span>
                            <span class="s_content">{{detail.competition}}%</span>
                        </li>
                        <li class="itemli clearfix full">
                            <span class="s_title">学校地址：</span>
                            <span class="s_content">{{detail.address}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="background-color: #f7f7f7;">
            <div class="container clearfix detailInfo">
                <div class="left leftDv">
                    <ul class="chooseul">
                        <li class="item_li active" data-flag="tab1">学校介绍</li>
                        <li class="item_li" data-flag="tab2">学校专业</li>
                        <li class="item_li" data-flag="tab3">学校图库</li>
                        <li class="item_li" data-flag="tab4">地理交通</li>
                        <li class="item_li" data-flag="tab5">留学攻略</li>
                    </ul>
                    <div class="maincontent" id="tab1">
                        <div class="mm_main" v-if="detail.description != null && detail.description != ''">
                            <div class="mm_header">
                                <h3>学校简介</h3>
                            </div>
                            <div class="mm_content" v-html="detail.description"></div>
                        </div>
                        <div class="mm_main" v-if="detail.request_en != null && detail.request_en != ''">
                            <div class="mm_header">
                                <h3>申请条件</h3>
                            </div>
                            <div class="mm_content" v-html="detail.request_en"></div>
                        </div>
                        <div class="mm_main" v-if="detail.request_lang != null && detail.request_lang != ''">
                            <div class="mm_header">
                                <h3>申请条件-小语种</h3>
                            </div>
                            <div class="mm_content" v-html="detail.request_lang"></div>
                        </div>
                        <div class="mm_main" v-if="detail.request_doclist != null && detail.request_doclist != ''">
                            <div class="mm_header">
                                <h3>申请条件-提及材料</h3>
                            </div>
                            <div class="mm_content" v-html="detail.request_doclist"></div>
                        </div>

                        <div class="mm_main" v-if="detail.academic_info != null && detail.academic_info != ''">
                            <div class="mm_header">
                                <h3>学术信息</h3>
                            </div>
                            <div class="mm_content" v-html="detail.academic_info"></div>
                        </div>

                        <div class="mm_main" v-if="detail.zige != null && detail.zige != ''">
                            <div class="mm_header">
                                <h3>考试资格</h3>
                            </div>
                            <div class="mm_content" v-html="detail.zige"></div>
                        </div>

                        <div class="mm_main" v-if="detail.apply_method != null  && detail.apply_method != ''">
                            <div class="mm_header">
                                <h3>选拔办法</h3>
                            </div>
                            <div class="mm_content" v-html="detail.apply_method"></div>
                        </div>


                        <div class="mm_main" v-if="detail.schoolhistory != null  && detail.schoolhistory != ''">
                            <div class="mm_header">
                                <h3>学校历史</h3>
                            </div>
                            <div class="mm_content" v-html="detail.schoolhistory"></div>
                        </div>

                        <div class="mm_main" v-if="detail.schoolspecial != null && detail.schoolspecial != ''">
                            <div class="mm_header">
                                <h3>学校特色</h3>
                            </div>
                            <div class="mm_content" v-html="detail.schoolspecial"></div>
                        </div>

                        <div class="mm_main" v-if="detail.schoolmanage != null && detail.schoolmanage != ''">
                            <div class="mm_header">
                                <h3>学校管理</h3>
                            </div>
                            <div class="mm_content" v-html="detail.schoolmanage"></div>
                        </div>

                        <div class="mm_main" v-if="detail.schoolgoods != null && detail.schoolgoods != ''">
                            <div class="mm_header">
                                <h3>学校设施</h3>
                            </div>
                            <div class="mm_content" v-html="detail.schoolgoods"></div>
                        </div>
                    </div>
                    <div class="maincontent" id="tab2">
                        <div class="lineDv choose clearfix">
                            <span class="s_title">专业：</span>
                            <div class="inputDv">
                                <input type="text" placeholder="请输入专业名称" v-model="request.name" @keyup.13="change('name',request.name)">
                                <i class="search" @click="change('name',request.name)"></i>
                            </div>
                        </div>
                        <div class="lineDv choose clearfix">
                            <span class="s_title">专业方向：</span>
                            <ul class="listul">
                                <li class="item active" @click="change('cate','')">不限</li>
                                <li class="item" v-for="n in cate" @click="change('cate',n.id)">{{n.name}}</li>
                            </ul>
                        </div>
                        <div class="lineDv choose clearfix">
                            <span class="s_title">学历方向：</span>
                            <ul class="listul">
                                <li class="item active" @click="change('type','')">不限</li>
                                <li class="item" v-for="n in xueli" @click="change('type',n.id)">{{n.type_name}}</li>
                            </ul>
                        </div>
                        <h4 class="majorTitle">学部专业 Faculty major</h4>
                        <ul class="majorListUl" v-if="major.length > 0">
                            <li v-for="(n,index) in major">
                                <div class="list1">{{(request.limit*(request.page-1))+index+1}}</div>
                                <div class="list2">{{n.name_cn}}</div>
                                <div class="list3">招生人数：{{n.zhaosheng}}</div>
                                <div class="list4"><a href="javasctipt:;">免费申请</a></div>
                            </li>
                        </ul>
                        <div id="jqPaginator" class="pageNav" style="display: block;"></div>
                        <div class="nodate_d" v-else>
                            <p style="margin: 20px 0; margin-top: 40px;">暂无{{detail.name_cn}}的相关专业资料...</p>
                        </div>
                    </div>
                    <div class="maincontent" id="tab3">
                        <div class="schoolCircle">
                            <p>{{detail.name_cn}}</p>
                            <span>校区图片</span>
                        </div>
                        <ul class="imgUl" v-if="detail.allpic && detail.allpic.length > 0">
                            <li class="img_li clearfix" v-for="(n,index) in detail.allpic">
                                <div class="imgDv">
                                    <img :src="'http://manage.xiaoying.net'+n" alt="">
                                    <span class="arrow"></span>
                                </div>
                                <div class="numDv">
                                    <p>{{index+1}}</p>
                                    <span class="circle"></span>
                                </div>
                            </li>
                            <li class="border_li"></li>
                        </ul>
                        <div class="nodate_d" v-else>
                            <img src="../../Public/ConsultantCertification/img/xiaoying_error.png" alt="">
                            <p>小莺情报组拼命搜集资料中...</p>
                        </div>
                    </div>
                    <div class="maincontent" id="tab4">
                        <div class="mm_main">
                            <div class="mm_header">
                                <h3>地理交通</h3>
                            </div>
                            <div class="smapDv" id="baiduMap" v-show="detail.longitude && detail.latitude"></div>
                            <div class="nodate_d" v-show="!detail.longitude">
                                <img src="../../Public/ConsultantCertification/img/xiaoying_error.png" alt="">
                                <p>小莺情报组拼命搜集资料中...</p>
                            </div>
                        </div>
                    </div>
                    <div class="maincontent" id="tab5">
                        <ul class="newsListUl">
                            <li v-for = "item in newsList" :key="item.id">
                                <div class="imgDv">
                                    <a :href="'/news/detail?id=' + item.id">
                                        <img :src="item.picture" :alt="item.title">
                                    </a>
                                </div>
                                <div class="contDv">
                                    <h4>
                                        <a :href="'/news/detail?id=' + item.id">{{item.title}}</a>
                                    </h4>
                                    <p class="time"><span></span>{{item.publishedtime}}</p>
                                    <p class="newsDes">
                                        <a :href="'/news/detail?id=' + item.id">{{item.des}}</a>
                                    </p>
                                    <div class="btnPart">
                                        <a :href="'/news/detail?id=' + item.id">查看详情</a>
                                        <ul class="clearfix">
                                            <li>
                                                <span></span>{{item.upsnum}}
                                            </li>
                                            <li>
                                                <span></span>{{item.hits}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right rightDv">
                    <include file="./Template/Zixun/Index_hotActivities.html" />
                    <include file="./Template/Zixun/Index_parentsCare.html" />
                </div>
            </div>
        </div>
    </div>
    <include file="./Template/Common/Index_loading.html" />
    <include file="./Template/Common/Index_footer.html" />
    <script src="../../Public/School/js/detail.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
</body>

</html>