<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>专业详情-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/School/css/detail/jpyy.css">
    <link rel="stylesheet" href="__PUBLIC__/School/css/detail/major.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="../../Public/plugin/background-blur.js"></script>
    <script src="/Public/Open/js/jqPaginator/jqPaginator.min.js"></script>
</head>

<body data-nav="jpyy">
    <include file="./Template/Common/Index_header_home.html" />
    <div id="jpyy_detail" class="majorPart marginTop">
        <div class="topDeatailPart">
            <div class="cover_banner_part"></div>
            <div class="container maininfo clearfix">
                <div class="left leftPart">
                    <div class="imgDv">
                        <img :src="tempimg" alt="" data-adaptive-background='1' data-description='grandpa' class="imgs">
                    </div>
                </div>
                <div class="right rightPart">
                    <p class="name">{{sdata.name_cn}}</p>
                    <a v-if="sdata.schooldata" :href="sdata.schooldata.website" class="url_href" target="_blank">{{sdata.schooldata.website}}</a>
                    <ul class="listinfo clearfix">
                        <li class="itemli clearfix">
                            <span class="s_title">学校性质：</span>
                            <span v-if="sdata.xingzhi_name" class="s_content">{{sdata.schooldata.xingzhi_name}}</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">专业所属：</span>
                            <span class="s_content">{{sdata.suoshu}}</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">学校电话：</span>
                            <span v-if="sdata.schooldata" class="s_content">{{sdata.schooldata.contact}}</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">选拔方式：</span>
                            <span class="s_content">{{sdata.xuanba_fangshi}}</span>
                        </li>
                        <li class="itemli clearfix full">
                            <span class="s_title">学校地址：</span>
                            <span v-if="sdata.schooldata" class="s_content" style="width:370px  !important">{{sdata.schooldata.address}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="background-color: #f7f7f7;">
            <div class="container clearfix detailInfo">
                <div class="left leftDv">
                <div class="choosemajorNav">
                        <ul class="clearfix">
                            <li class="item_li active" data-flag="tab1">精选成功案例</li>
                            <li class="item_li" data-flag="tab3">入学条件</li>
                            <li class="item_li" data-flag="tab4">考试科目</li>
                        </ul>
                        <span class="greyLine"></span>
                    </div>
                    <div class="choosemajorDV">
                        
                        <div class="itenListDv" id="tab1">
                            <ul class="clearfix" v-if="sdata.casedata && sdata.casedata.length > 0">
                                <li v-for="n in sdata.casedata">
                                    <a href="javascript:;">
                                        <div class="imgDv">
                                            <div>
                                                <img :src="n.img">
                                            </div>
                                        </div>
                                        <ul class="desList">
                                            <li>学生：<span>{{n.name}}</span></li>
                                            <li>录取院校：<span>{{n.univ}} 经济学</span></li>
                                            <li class="clearfix">
                                                <div>{{n.score_jap}}</div> 
                                                <div>{{n.score_en}}</div>
                                            </li>
                                            <li>毕业院校：<span>{{n.from_univ}}</span></li>
                                        </ul>
                                    </a>
                                </li>
                            </ul>
                            <div class="nodate_d" v-else style="margin-bottom: 40px;">
                                <p>暂无相似案例...</p>
                            </div>
                        </div>
                        <div class="maincontent">
                            <div class="mm_main" id="tab3" v-if="sdata.schooldata && sdata.schooldata.request_doclist">
                                <div class="mm_header">
                                    <h3>入学条件</h3>
                                </div>
                                <div class="mm_content"  v-html="sdata.schooldata.request_doclist"></div>
                            </div>
                            <div class="mm_main" id="tab4">
                                <div class="mm_header">
                                    <h3>考试科目</h3>
                                </div>
                                <div class="mm_content" v-html="sdata.kaoshikemu"></div>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
                <div class="right rightDv">
                    <include file="./Template/Zixun/Index_hotActivities.html" />
                    <include file="./Template/Zixun/Index_parentsCare.html" />
                </div>
            </div>
        </div>
    </div>
    <include file="./Template/Common/Index_loading.html" />
    <include file="./Template/Common/Index_footer.html" />
    <script src="../../Public/School/js/major.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
</body>

</html>