<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>专业详情-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/School/css/detail/jpyy.css">
    <link rel="stylesheet" href="__PUBLIC__/School/css/detail/major.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="../../Public/plugin/background-blur.js"></script>
    <script src="/Public/Open/js/jqPaginator/jqPaginator.min.js"></script>
</head>

<body data-nav="jpyy">
    <include file="./Template/Common/Index_header_home.html" />
    <div id="jpyy_detail" class="majorPart marginTop">
        <div class="topDeatailPart">
            <div class="cover_banner_part"></div>
            <div class="container maininfo clearfix">
                <div class="left leftPart">
                    <div class="imgDv">
                        <img :src="tempimg" alt="" data-adaptive-background='1' data-description='grandpa' class="imgs">
                    </div>
                </div>
                <div class="right rightPart">
                    <p class="name">{{detail.name_cn}}</p>
                    <a :href="detail.website" class="url_href" target="_blank">{{detail.website}}</a>
                    <ul class="listinfo clearfix">
                        <li class="itemli clearfix">
                            <span class="s_title">学校性质：</span>
                            <span class="s_content">{{detail.xingzhi_name}}</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">每年学费：</span>
                            <span class="s_content">{{detail.cost_fee}}万（日元）</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">学校电话：</span>
                            <span class="s_content">{{detail.contact}}</span>
                        </li>
                        <li class="itemli clearfix">
                            <span class="s_title">录取比例：</span>
                            <span class="s_content">{{detail.competition}}%</span>
                        </li>
                        <li class="itemli clearfix full">
                            <span class="s_title">学校地址：</span>
                            <span class="s_content">{{detail.address}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="background-color: #f7f7f7;">
            <div class="container clearfix detailInfo">
                <div class="left leftDv">
                    <div class="choosemajorDV">
                        <div class="choosemajorNav">
                            <ul class="clearfix">
                                <li class="item_li active" data-flag="tab1">精选成功案例</li>
                                <li class="item_li" data-flag="tab3">入学条件</li>
                                <li class="item_li" data-flag="tab4">考试科目</li>
                            </ul>
                            <span class="greyLine"></span>
                        </div>
                        <div class="itenListDv">
                            <ul class="clearfix">
                                <li>
                                    <a href="javascript:;">
                                        <div class="imgDv">
                                            <div>
                                                <img src="../../Public/School/img/major.png">
                                            </div>
                                        </div>
                                        <ul class="desList">
                                            <li>学生：<span>王懿崚</span></li>
                                            <li>录取院校：<span>东京大学 经济学</span></li>
                                            <li class="clearfix">
                                                <div>日语：<span>N1:113</span></div> 
                                                <div>托福：<span>93</span></div>
                                            </li>
                                            <li>毕业院校：<span>上海理工大学</span></li>
                                        </ul>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="imgDv">
                                            <div>
                                                <img src="../../Public/School/img/major.png">
                                            </div>
                                        </div>
                                        <ul class="desList">
                                            <li>学生：<span>王懿崚</span></li>
                                            <li>录取院校：<span>东京大学 经济学</span></li>
                                            <li class="clearfix">
                                                <div>日语：<span>N1:113</span></div> 
                                                <div>托福：<span>93</span></div>
                                            </li>
                                            <li>毕业院校：<span>上海理工大学</span></li>
                                        </ul>
                                    </a>
                                </li>
                                <li>2134</li>
                            </ul>
                        </div>
                    </div>
                    
                   
                </div>
                <div class="right rightDv">
                    <include file="./Template/Zixun/Index_hotActivities.html" />
                    <include file="./Template/Zixun/Index_parentsCare.html" />
                </div>
            </div>
        </div>
    </div>
    <include file="./Template/Common/Index_loading.html" />
    <include file="./Template/Common/Index_footer.html" />
    <script src="../../Public/School/js/major.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
</body>

</html>