* {
  margin: 0;
  padding: 0;
}
i,
img,
li,
a {
  font-style: normal;
  list-style: none;
  border: none;
  text-decoration: none;
}
body {
   font-family: "Microsoft Yahei","PingFang SC",Tahoma,Helvetica,Arial,"SimSun",sans-serif;
  overflow-x: hidden;
}
.header {
  width: 1050px;
  margin: 0 auto;
  height: 40px;
  padding: 10px 0;
}
.header > a:nth-of-type(1) {
  font-size: 0;
  display: inline-block;
}
.header > a:nth-of-type(1) > img {
  height: 40px;
}
.header > a:nth-of-type(2) {
  float: right;
  position: relative;
}
.header > a:nth-of-type(2) > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header > a:nth-of-type(2) > span {
  display: block;
  margin-left: 35px;
  font-size: 13px;
  line-height: 20px;
  color: #333333;
}
.banner {
  width: 100%;
  height: 660px;
  min-width: 1050px;
  background: url(../img/banner.png);
  background-size: cover;
  position: relative;
}
.banner > div:nth-of-type(1) {
  width: 1050px;
  margin: 0 auto;
  padding-top: 50px;
}
.banner > div:nth-of-type(1) > img {
  width: 768px;
  display: block;
  margin: 0 auto;
}
.banner > div:nth-of-type(2) {
  width: 100%;
}
.banner > div:nth-of-type(2) > img {
  min-width: 1550px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.banner > div:nth-of-type(2) > div {
  width: 1050px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
}
.banner > div:nth-of-type(2) > div > img {
  width: 280px;
  float: left;
  position: relative;
  top: -4px;
}
.banner > div:nth-of-type(2) > div > ul {
  position: absolute;
  padding: 15px 0;
  left: 84px;
  top: 145px;
  width: 670px;
  height: 203px;
  background: url(../img/border.png) no-repeat;
  background-size: 100%;
}
.banner > div:nth-of-type(2) > div > ul > li {
  font-size: 16px;
  color: #333333;
  line-height: 33px;
}
.banner > div:nth-of-type(2) > div > ul > li > i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #08B263;
  color: white;
  text-align: center;
  line-height: 20px;
  text-indent: 0;
  margin-right: 10px;
}
.banner > div:nth-of-type(2) > div > div {
  width: 320px;
  height: 220px;
  position: absolute;
  right: 15px;
  top: 162px;
  cursor: pointer;
}
.banner > div:nth-of-type(2) > div > div > span {
  width: 100%;
  position: absolute;
  bottom: 35px;
  text-align: center;
  color: #444444;
  font-size: 35px;
  z-index: 10;
}
.banner > div:nth-of-type(2) > div > div > span > span {
  color: #000000;
  font-size: 25px;
  display: block;
  text-align: center;
}
.banner > div:nth-of-type(2) > div > div > img:nth-of-type(1) {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}
.banner > div:nth-of-type(2) > div > div > img:nth-of-type(2) {
  position: absolute;
  right: 24px;
  top: -27px;
}
.banner > div:nth-of-type(2) > div > div > img:nth-of-type(3) {
  position: absolute;
  width: 65px;
  bottom: 10px;
  right: -11px;
  z-index: 15;
}
.advantage {
  width: 1050px;
  margin: 0 auto;
  position: relative;
}
.advantage > ul {
  width: 1050px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 99;
}
.advantage > ul > li {
  width: 270px;
  padding: 15px;
  background: url(../img/yellow_border.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  float: left;
  margin-right: 60px;
}
.advantage > ul > li > span:nth-of-type(1) {
  display: block;
  width: 72px;
  height: 72px;
  background: url(../img/yellow_circle.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: #333333;
  line-height: 72px;
  text-align: center;
}
.advantage > ul > li > span:nth-of-type(2) {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #2A2A2A;
  margin: 35px 0 40px 0;
}
.advantage > ul > li > span:nth-of-type(2) > i {
  color: #FCC705;
}
.advantage > ul > li > img {
  display: block;
  width: 176px;
  height: 176px;
  border-radius: 50%;
  margin: 0 auto 24px;
}
.advantage > ul > li > p {
  font-size: 16px;
  color: #666666;
  line-height: 30px;
}
.advantage > ul > li:nth-of-type(2) {
  background: url(../img/pink_border.png) no-repeat;
  background-size: 100% 100%;
}
.advantage > ul > li:nth-of-type(2) > span:nth-of-type(1) {
  background: url(../img/pink_circle.png) no-repeat;
  background-size: 100%;
}
.advantage > ul > li:nth-of-type(3) {
  background: url(../img/purple_border.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 0;
}
.advantage > ul > li:nth-of-type(3) > span:nth-of-type(1) {
  background: url(../img/purple_circle.png) no-repeat;
  background-size: 100%;
}
.advantage > img:nth-of-type(1) {
  position: absolute;
  left: -180px;
  top: 160px;
  z-index: 1;
}
.advantage > img:nth-of-type(2) {
  position: absolute;
  left: 340px;
  top: 450px;
  z-index: 1;
}
.life {
  width: 1050px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.life > ul {
  position: relative;
  height: 524px;
}
.life > ul > li {
  display: inline-block;
  position: absolute;
  z-index: 20;
}
.life > ul > li:nth-of-type(1) {
  top: 0;
  left: 0;
}
.life > ul > li:nth-of-type(2) {
  top: 177px;
  left: 177px;
}
.life > ul > li:nth-of-type(2) > span {
  position: absolute;
  display: block;
  width: 245px;
  top: 51px;
  left: 50px;
  height: 245px;
  background: rgba(0, 0, 0, 0.5);
  transform: rotateZ(-45deg);
}
.life > ul > li:nth-of-type(2) > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #FFFFFF;
  z-index: 9;
  text-align: center;
}
.life > ul > li:nth-of-type(3) {
  top: 0;
  left: 355px;
}
.life > ul > li:nth-of-type(3) > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #333333;
  z-index: 9;
  text-align: center;
}
.life > ul > li:nth-of-type(4) {
  top: 177px;
  left: 532px;
}
.life > ul > li:nth-of-type(4) > span {
  position: absolute;
  display: block;
  width: 245px;
  top: 51px;
  left: 50px;
  height: 245px;
  background: rgba(0, 0, 0, 0.5);
  transform: rotateZ(-45deg);
}
.life > ul > li:nth-of-type(4) > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #FFFFFF;
  z-index: 9;
  text-align: center;
}
.life > ul > li:nth-of-type(5) {
  top: 0;
  left: 709px;
}
.life > ul > li:nth-of-type(5) > span {
  position: absolute;
  display: block;
  width: 245px;
  top: 51px;
  left: 50px;
  height: 245px;
  background: rgba(0, 0, 0, 0.5);
  transform: rotateZ(-45deg);
}
.life > ul > li:nth-of-type(5) > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #FFFFFF;
  z-index: 9;
  text-align: center;
}
.life > ul > img {
  width: 1229px;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
._title {
  width: 790px;
  height: 47px;
  position: relative;
  margin: 100px auto 90px auto;
  z-index: 100;
}
._title > i:nth-of-type(1) {
  display: inline-block;
  width: 200px;
  height: 2px;
  background: #D8D8D8;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
._title > span {
  font-size: 36px;
  color: #333333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 324px;
  display: inline-block;
  height: 47px;
}
._title > span > span {
  position: absolute;
  z-index: 10;
}
._title > span > i {
  width: 240px;
  height: 16px;
  display: inline-block;
  opacity: 0.8;
  background: #FBD92E;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
._title > i:nth-of-type(2) {
  display: inline-block;
  width: 200px;
  height: 2px;
  background: #D8D8D8;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.apply {
  width: 100%;
  position: relative;
  height: 900px;
  z-index: 30;
}
.apply > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1400px;
  height: 900px;
  z-index: 1;
}
.apply > div {
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.apply > div > p {
  padding-top: 100px;
}
.apply > div > p > span > span {
  color: white;
}
.apply > div .apply_content {
  position: absolute;
  width: 1050px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}
.apply > div .apply_content > div:nth-of-type(1) {
  border-radius: 3px;
  opacity: 0.9;
  background: #FBD92E;
  width: 392px;
  height: 640px;
  padding: 25px 20px;
  float: left;
  cursor: pointer;
}
.apply > div .apply_content > div:nth-of-type(1) > p {
  margin-bottom: 20px;
}
.apply > div .apply_content > div:nth-of-type(1) > p > span {
  color: #333333;
}
.apply > div .apply_content > div:nth-of-type(1) > p > span:nth-of-type(1) {
  font-size: 28px;
  display: block;
  padding-left: 35px;
  background: url(../img/zuo.png) no-repeat left 0;
}
.apply > div .apply_content > div:nth-of-type(1) > p > span:nth-of-type(2) {
  display: block;
  font-size: 20px;
  padding: 0 35px;
  background: url(../img/you.png) no-repeat right 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.apply > div .apply_content > div:nth-of-type(1) > div {
  width: 363px;
  height: 432px;
  margin: 0 auto;
  overflow-y: auto;
  padding-right: 20px;
}
.apply > div .apply_content > div:nth-of-type(1) > div > img {
  width: 100%;
  margin-bottom: 10px;
}
.apply > div .apply_content > div:nth-of-type(1) > div > p {
  font-size: 16px;
  color: #333333;
  line-height: 28px;
  text-indent: 2em;
}
.apply > div .apply_content > div:nth-of-type(1) > div::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 10px;
}
.apply > div .apply_content > div:nth-of-type(1) > div::-webkit-scrollbar {
  width: 10px;
}
.apply > div .apply_content > div:nth-of-type(1) > div::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
}
.apply > div .apply_content > div:nth-of-type(1) > span {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 392px;
  height: 52px;
  font-size: 20px;
  color: #333333;
  line-height: 52px;
  background: #FFFFFF;
  border-radius: 100px;
  margin-top: 45px;
}
.apply > div .apply_content .school_item > ul {
  width: 455px;
  height: 615px;
  float: left;
  margin-left: 70px;
  overflow-y: auto;
  display: none;
}
.apply > div .apply_content .school_item > ul::-webkit-scrollbar{
	display: none;
}
.apply > div .apply_content .school_item > ul > li {
  text-align: center;
  width: 200px;
  margin-right: 30px;
  float: left;
  cursor: pointer;
}
.apply > div .apply_content .school_item > ul > li > div {
  display: none;
}
.apply > div .apply_content .school_item > ul > li > img {
  width: 100%;
  height: 140px;
  border: 3px solid white;
  border-radius: 2px;
}
.apply > div .apply_content .school_item > ul > li > span {
  font-size: 17px;
  color: #FFFFFF;
  display: block;
  margin: 12px 0 28px 0;
}
.apply > div .apply_content .school_item > ul .apply_active > img {
  border: 3px solid #FBD92E;
}
.apply > div .apply_content .school_item > ul > li:nth-of-type(2n) {
  margin-right: 0;
}
.apply > div .apply_content .school_item > ul:nth-of-type(1) {
  display: block;
}
.apply > div .apply_content .Paging {
  position: absolute;
  right: 0;
  top: 42%;
  transform: translateY(-50%);
  z-index: 99;
}
.apply > div .apply_content .Paging > span {
  height: 60px;
  display: block;
  position: relative;
  margin-bottom: 8px;
  opacity: 0.4;
  cursor: pointer;
}
.apply > div .apply_content .Paging > span > i {
  display: inline-block;
  width: 6px;
  height: 60px;
  background: white;
  margin-right: 16px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 2px #000000;
}
.apply > div .apply_content .Paging > span > span {
  position: absolute;
  top: 0;
  left: 22px;
  display: inline-block;
  height: 100%;
  line-height: 60px;
  color: white;
  font-size: 36px;
}
.apply > div .apply_content .Paging ._active {
  opacity: 1 !important;
}
.apply > div .apply_content .Paging .excessive {
  height: 40px;
}
.apply > div .apply_content .Paging .excessive > i {
  width: 6px;
  height: 6px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: block;
  -webkit-box-shadow: inset 0 0 2px #000000;
}
._form {
  width: 845px;
  margin: 0 auto;
  margin-top: 120px;
}
._form > p {
  font-size: 40px;
  color: #C69B45;
  margin-bottom: 50px;
  text-align: center;
}
._form .xy_forma > div {
  width: 400px;
  height: 50px;
  margin-right: 36px;
  float: left;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  margin-bottom: 50px;
  position: relative;
}
._form .xy_forma > div > i {
  width: 20px;
  font-size: 20px;
  color: #999999;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
._form .xy_forma > div .nice-select {
  width: 100%;
  border: none;
  text-indent: 40px;
  padding-left: 0;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #868585;
}
._form .xy_forma > div .nice-select .list {
  max-height: 200px;
  overflow-y: auto;
  z-index: 2;
  width: 100%;
}
._form .xy_forma > div .nice-select .list .option {
  width: 100%;
  text-indent: 0;
}
._form .xy_forma > div .nice-select .list::-webkit-scrollbar {
  display: none;
}
._form .xy_forma > div > input {
  width: 212px;
}
._form .xy_forma > div > select {
  width: 200px;
  height: 48px;
  line-height: 48px;
}
._form .xy_forma > div > select option {
  padding: 5px 0;
}
._form .xy_forma > div > span {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}
._form .xy_forma > div > input,
._form .xy_forma > div select {
  margin-left: 1%;
  width: 98%;
  text-indent: 40px;
  display: inline-block;
  height: 49px;
  line-height: 49px;
  border: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 18px;
}
._form .xy_forma > div:nth-of-type(2n) {
  margin-right: 0;
}
.y_button {
  width: 360px;
  height: 50px;
  text-align: center;
  background: #FBD92E;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size:24px;
  color: #333333;
  display: block;
  margin: 60px auto 100px auto;
  cursor: pointer;
}
.footer {
  width: 100%;
  padding: 30px 0;
  border-top: 2px solid #f6f6f6;
}
.footer > p {
  font-size: 16px;
  color: #999999;
  text-align: center;
  margin-bottom: 5px;
}
.nice-select .option{
	color: #333333;
}
