<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>学费支付-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/FreeClass/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/aboutus/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/SchoolFeesPayment/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <include file="./Template/Common/Index_header_home.html"/>
    <div id="schoolFeesPayment" class="marginTop">
        <div class="bannerPart">
            <div class="wrap"></div>
            <div class="container">
                <p>关于我们</p>
                <p>风里雨里伴你同行&nbsp;专业贴心新留学</p>
            </div>
        </div>
        <p class="container noticeText">为保证支付安全，请务必确认正确的学费支付方式，任何非官方账号打款都可能给您造成不必要的损失。</p>
        <ul class="container">
            <li>
                <h4>1. 银行转账:</h4>
                <p>对公账户名: 远英出国服务有限公司<br>开户行:招商银行股份有限公司上海虹桥支行<br>账号: 121925592210901</p>
            </li>
            <li>
                <h4>2. 支付宝转账</h4>
                <p>支付宝对公收款账号: xuefei@xiaoying.net</p>
            </li>
            <li>
                <h4>3. 来校刷卡</h4>
                <p>支持各大银行信用卡借记卡, 大额刷卡请提前确认您的银行卡支付限额。</p>
            </li>
            <li>
                <h4>备注:</h4>
                <p>1.其他一切支付方式均非我机构正规学费及相关各项费用缴纳方式，请特别注意以防发生不必要的损失！ <br>2. 请妥善保存汇款凭证，以方便查询。</p>
            </li>
        </ul>
    </div>
    <include file="./Template/Common/Index_footer.html" />
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
</body>

</html>