<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>服务商城-小莺出国</title>
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="telephone=no,email=no" name="format-detection">
		<!-- flexible.js 建议做内联处理，请勿移动位置 -->
		<script src="/Public/Mobile/js/flexible.js"></script>
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/css/onlimemall.css" />
		<script src="/Public/Mobile/js/vue.min.js"></script>
	</head>

	<body>
		<div class="pageContent">
			<img src="../../Public/Mobile/img/onlinemall/banner.jpg" class="banner">
		</div>
	</body>
	<script src="/Public/Mobile/js/jquery-3.1.1.min.js"></script>
	<script>
		var _pageContent = new Vue({
			el: ".pageContent",
			filters: {
	        },
			data: {
			},
			methods: {
			},
			mounted() {
				
			}
		})
		
	</script>

</html>