<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="keywords" content="日本留学,日本留学费用,日本留学申请,日本大学排名,日本留学条件,赴日留学" />
	<meta name="description" content="小莺出国-专注日本名校留学申请，提供日本留学，赴日留学辅导/申请服务，为您解答日本留学条件，日本留学费用等问题，是日本留学的首选品牌！" />
	<title>小莺美术塾</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/Sempages/meishu/stylesheet/reset.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/Sempages/meishu/stylesheet/animate.min.css" />
	<link href="__PUBLIC__/Mobile/Sempages/meishu/stylesheet/swiper.min.css" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/Sempages/meishu/js/OwlCarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/Sempages/meishu/stylesheet/index.css" />
	<script type="text/javascript">
		//百度统计代码
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?adb97d2c5a835681418c7b2bab31618a";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
        //客服
        (function(m, ei, q, i, a, j, s) {
        	m[i] = m[i] || function() {
        		(m[i].a = m[i].a || []).push(arguments)
        	};
        	j = ei.createElement(q),
        	s = ei.getElementsByTagName(q)[0];
        	j.async = true;
        	j.charset = 'UTF-8';
        	j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        	s.parentNode.insertBefore(j, s);
        })(window, document, 'script', '_MEIQIA');
        _MEIQIA('entId', 14353);
        _MEIQIA('withoutBtn');
    </script>
</head>
<body>
	<div class="logoPart ">
		<div class="container">
			
			<a class="logo" href="javascript:;">
				<img src="__PUBLIC__/Mobile/Sempages/meishu/images/logo.png">
			</a>
			<img class="menuIcon" src="__PUBLIC__/Mobile/Sempages/meishu/images/menu.png">
			<a class="menuBtn" href="javascript:;"></a>
		</div>
		
	</div>
	<div class="bannerPart">
		<img class="menuIcon" src="__PUBLIC__/Mobile/Sempages/meishu/images/banner.jpg">
	</div>
	<div class="advantagePart" data-id="advantage">
		<div class="titleDv">
			<span>
				<img class="title_left_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_left_line.png">
				我们的优势
				<img class="title_right_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_right_line.png">
			</span>
		</div>
		<div class="advantageTable">
			<div>
				<div>
					<img class="advan_icon" src="__PUBLIC__/Mobile/Sempages/meishu/images/advan_icon1.png">
					<h4>各大专业剖析讲解 精益求精</h4>
					<p>定期将有所属专业专攻前辈 及教师的本专业魅力展示、专业介绍课。包括入学后的所学 相关知识点的展现。帮助学生更好的选择和认知所心仪的专 业与未来方向性的专攻</p>
				</div>
				<div>
					<img class="advan_icon" src="__PUBLIC__/Mobile/Sempages/meishu/images/advan_icon2.png">
					<h4>劳逸结合艺术培养 数不胜数</h4>
					<p>定期有美术史学的赏析课，著名画作的佳作赏析，日本包装设计赏析，和风美食录，等鉴赏课程，让学生在放松之余可以对于设计与生活有更多的了解并体会设计的息息相关</p>
				</div>
			</div>
			<div>
				<div>
					<img class="advan_icon" src="__PUBLIC__/Mobile/Sempages/meishu/images/advan_icon3.png">
					<h4>微型小班专科授课 讲到你懂</h4>
					<p>(院)3人以内精1品班面对面辅导、根据学生志愿学校及希望专业选择同专业的老师进行辅导，为每一位学员量身定制专业辅导。 (学部)5-10人超小班专业专攻对应辅导，从基础知识到实技训练，结合学生的绘画特点与思路，进行针对性的讲解。</p>
				</div>
				<div>
					<img class="advan_icon" src="__PUBLIC__/Mobile/Sempages/meishu/images/advan_icon4.png">
					<h4>长所短所对症下药 尽善尽美</h4>
					<p>以学生的自身状况为完全性基准，每个月定期让学生一对一与所希望专业教师详谈，按照相关实技测试及日常学习，做学生个人的情况分析，扬长 避短，掌握技巧。做到一步一个脚印稳扎稳打胜券在握。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="processPart" data-id="process">
		<div class="titleDv">
			<span>
				<img class="title_left_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_left_line.png">
				办理流程 
				<img class="title_right_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_right_line.png">
			</span>
		</div>
		<div class="swiper-process">
			<div>
				<div class="listDv">
					<div class="line">
						<div class="processItem">
							<span class="step">Step1</span> 评估规划
							<img class="arrow" src="__PUBLIC__/Mobile/Sempages/meishu/images/arrow_yellow.png">
							<span class="circle"></span>
						</div>
						<div class="processItem">
							<span class="step">Step2</span> 事前审查
							<img class="arrow" src="__PUBLIC__/Mobile/Sempages/meishu/images/arrow_white.png">
							<span class="circle"></span>
						</div>
						<div class="processItem">
							<span class="step">Step3</span> 评估规划
							<img class="arrow" src="__PUBLIC__/Mobile/Sempages/meishu/images/arrow_yellow.png">
							<span class="circle"></span>
						</div>
						<div class="processItem">
							<span class="step">Step4</span> 作品集辅导
							<img class="arrow" src="__PUBLIC__/Mobile/Sempages/meishu/images/arrow_white.png">
							<span class="circle"></span>
						</div>
						<div class="processItem">
							<span class="step">Step5</span> 换签赴日
							<img class="arrow" src="__PUBLIC__/Mobile/Sempages/meishu/images/arrow_yellow.png">
							<span class="circle"></span>
						</div>
						<div class="processItem">
							<span class="step">Step6</span> 申请再留
							<img class="arrow" src="__PUBLIC__/Mobile/Sempages/meishu/images/arrow_white.png">
							<span class="circle"></span>
						</div>
						<div class="processItem">
							<span class="step">Step7</span> 录取结果
							<img class="arrow" src="__PUBLIC__/Mobile/Sempages/meishu/images/arrow_yellow.png">
							<span class="circle"></span>
						</div>
						<div class="processItem">
							<span class="step">Step8</span> 笔试面试
							<img class="arrow" src="__PUBLIC__/Mobile/Sempages/meishu/images/arrow_white.png">
							<span class="circle"></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="programPart"  data-id="program">
		<div class="titleDv">
			<span>
				<img class="title_left_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_left_line.png">
				方案详情
				<img class="title_right_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_right_line.png">
			</span>
		</div>
		<div class="programTable">
			<div>
				<div>
					<div class="imgDv">
						<img src="__PUBLIC__/Mobile/Sempages/meishu/images/program1.jpg">
						<div>
							<span>学部人士课程</span>
						</div>
					</div>
					<p>除了从最基础的素描练习,色彩构成以外,我们还为学员们安排各专业的讲师来,介绍各专业的学习内容,让学员们能更加深入了解各学科的知识从而明确自己的目标;还有从大学毕业后的就职方向,让学员们在大学毕业后,不论留日或归国,都能更早规划各自未来的出路,嬴在起跑线上。</p>
				</div>
				<div>
					<div class="imgDv">
						<img src="__PUBLIC__/Mobile/Sempages/meishu/images/program2.jpg">
						<div>
							<span>大学院课程</span>
						</div>
					</div>
					<p>各专业都会有针对性的配置经验丰富的硏究课颎辅导讲师,根据学生想报考的院校及专业选择同专业的导师进行辅导。专业课培训以外,从11充分讲解硏究计划书写作方法,辅导制作作品集,指导教授100%匹配方案指定,直到最后的个别面试环节辅导,为每位学员量身定做个人特有的升学规划,提高升学率。</p>
				</div>
			</div>
			<div>
				<div>
					<div class="imgDv">
						<img src="__PUBLIC__/Mobile/Sempages/meishu/images/program3.jpg">
						<div>
							<span>编入课程</span>
						</div>
					</div>
					<p>针对性的配置了有多位具有丰富编入指导经验以及成功指导学员考上各所日本一流知名美术大学的讲师。课程除了辅导制作作品集;还会根据实技考试科目,小论文等有针对性的对学员们进行练习;尤其对于转科的学员,讲师们都会有针对性的讲解该学科的重要知识点,让学员们在备考的同时学习该专业的知识。</p>
				</div>
				<div>
					<div class="imgDv">
						<img src="__PUBLIC__/Mobile/Sempages/meishu/images/program4.jpg">
						<div>
							<span>线上线下课程</span>
						</div>
					</div>
					<p>网络授课:身在日本校区的各科老师对国内考学的学生进行网络授课,学生在国内即可开始接受专业性的课程辅导。<br>现地授课:苏州校区进行1个月现地教学的集中特训课程,指导教师直接回国面对面授课,解决网络授课中不足的地方。部分同学也可以根据自身规划选择在国內进行一段的网络授课后,来日本校区完成之后的课程。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="jsfc" data-id="teacher">
		<div class="titleDv">
			<span>
				<img class="title_left_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_left_line.png">
				讲师风采 
				<img class="title_right_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_right_line.png">
			</span>
		</div>

		<ul class="jsowl owl-carousel owl-theme">
			<li class="slideitem" data-id="1">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/tea1.jpg" alt="">
				</div>
			</li>
			<li class="slideitem" data-id="2">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/tea2.jpg" alt="">
				</div>
			</li>
			<li class="slideitem" data-id="3">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/tea3.jpg" alt="">
				</div>
			</li>
			<li class="slideitem" data-id="4">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/tea4.jpg" alt="">
				</div>
			</li>
			<li class="slideitem" data-id="5">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/tea5.jpg" alt="">
				</div>
			</li>
			<li class="slideitem" data-id="6">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/tea6.jpg" alt="">
				</div>
			</li>
		</ul>
		<div class="info teainfo">
			<p class="name">张伊雯</p>
			<p class="job"><span class="mainjob">大学院主任教师</span> | <span class="school">武藏野美术大学大学院</span></p>
			<p class="desc">大学院能否考学成功影响因素有很多，但共通点是所有考试合格的学生都进行了有系统的长期认真的准备。大学时开始接触并了解日本设计师及作品，因中国视觉传达专业教学方法及名称取自日本，后决定赴日攻读大学院。大学毕业后，当年武藏野美术大学考试合格。大学院毕业后继续从事升学考试辅导工作，根据报考院校专业不同，提供有针对性的教学规划及辅导对策。</p>
		</div>
		
	</div>
	<div class="conver" data-id="dialogue">
		<img src="__PUBLIC__/Mobile/Sempages/meishu/images/left_top.png" height="34" width="35" class="left_top">

		<img class="question" src="__PUBLIC__/Mobile/Sempages/meishu/images/question.png">

		<img src="__PUBLIC__/Mobile/Sempages/meishu/images/right_bottom.png" height="34" width="37" class="right_bottom">
	</div>
	<div class="lqal" data-id="admission">
		<div class="titleDv">
			<span>
				<img class="title_left_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_left_line.png">
				录取案例 
				<img class="title_right_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_right_line.png">
			</span>
		</div>
		<!-- owl-carousel -->
		<ul class="luqu owl-carousel owl-theme">
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/school_logo.png" alt="">
					<div class="fontde">东京大学<br /><span>录取<font>29</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/jd.png" alt="">
					<div class="fontde">京都大学<br /><span>录取<font>12</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/daban.png" alt="">
					<div class="fontde">大阪大学<br /><span>录取<font>3</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/dongbei.png" alt="">
					<div class="fontde">东北大学<br /><span>录取<font>5</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/djg.png" alt="">
					<div class="fontde">东京工业<br /><span>录取<font>3</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/school_logo.png" alt="">
					<div class="fontde">名古屋<br /><span>录取<font>69</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/hbgl.png" alt="">
					<div class="fontde">横滨国立<br /><span>录取<font>2</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/ayys.png" alt="">
					<div class="fontde">庆应义塾<br /><span>录取<font>23</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/zdt.png" alt="">
					<div class="fontde">早稻田<br /><span>录取<font>102</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/sz.png" alt="">
					<div class="fontde">上智大学<br /><span>录取<font>13</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/mz.png" alt="">
					<div class="fontde">明治大学<br /><span>录取<font>5</font>人</span></div>
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/lmg.png" alt="">
					<div class="fontde">立命馆<br /><span>录取<font>5</font>人</span></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="xyjy">
		<div class="titleDv">
			<span>
				<img class="title_left_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_left_line.png">
				学员寄语 
				<img class="title_right_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_right_line.png">
			</span>
		</div>
		<ul class="jiyu owl-carousel owl-theme">
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/stu1.jpg" alt="">
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/stu2.jpg" alt="">
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/stu3.jpg" alt="">
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/stu4.jpg" alt="">
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/stu5.jpg" alt="">
				</div>
			</li>
			<li class="slideitem">
				<div class="imgDv">
					<img src="__PUBLIC__/Mobile/Sempages/meishu/images/stu6.jpg" alt="">
				</div>
			</li>
		</ul>
		<p class="jydesc">考上心仪的学校是幸运也是开心的事情，也发现要
		多练日语，从听不懂到听得懂。</p>
	</div>
	<div class="xyfc"  data-id="campus">
		<div class="titleDv">
			<span>
				<img class="title_left_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_left_line.png">
				校园风采 
				<img class="title_right_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_right_line.png">
			</span>
		</div>
		<div class="imgDv">
			<img src="__PUBLIC__/Mobile/Sempages/meishu/images/xyfc.png" alt="">
		</div>
	</div>
	<div class="formpart">
		<div class="titleDv">
			<span>
				<img class="title_left_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_left_line.png">
				在线免费提供方案 
				<img class="title_right_line" src="__PUBLIC__/Mobile/Sempages/meishu/images/title_right_line.png">
			</span>
		</div>
		<div class="xy_form">
			<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
				<div class="itemFill clearfix">
					<span class="ss_title CRM_TEMPLET_NAME"></span>
					<input type="text" id="" class="input_form">
				</div>
			</div>
			<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
				<div class="itemFill clearfix">
					<span class="ss_title CRM_TEMPLET_NAME"></span>
					<select name="" id="" class="input_form">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
		<div class="btnDv">
			<input id="confirmSubmit" type="button" class="submit xy_submit" value="提交">
		</div>
		<div class="footer">
			热线电话：4000150170 <br />苏ICP备17069390号 版权所有：苏州小莺教育科技有限公司
		</div>
	</div>
	<ul class="fixedBottom clearfix">
		<li onclick="_MEIQIA('showPanel')">
			<img src="__PUBLIC__/Mobile/Sempages/meishu/images/bchat.png" alt="">在线咨询
		</li>
		<li>
			<a href="tel:4000-150-170">
				<img src="__PUBLIC__/Mobile/Sempages/meishu/images/btel.png" alt="">电话咨询
			</a>
		</li>
		<li>
			<a class="applyBtn" href="javascript:;">
				<img src="__PUBLIC__/Mobile/Sempages/meishu/images/form.png" alt="">免费申请
			</a>
		</li>
	</ul>
	<div class="menuDv">
		<div class="wrap"></div>
		<ul class="menuUL">
			<li data-id="advantage"><a href="javascript:;">我们的优势</a></li>
			<li data-id="program"><a href="javascript:;" >方案详情</a></li>
			<li data-id="process"><a href="javascript:;" >办理流程</a></li>
			<li data-id="teacher"><a href="javascript:;" >讲师风采</a></li>
			<li data-id="dialogue"><a href="javascript:;" >常见问题</a></li>
			<li data-id="admission"><a href="javascript:;" >录取案例</a></li>
			<li data-id="campus"><a href="javascript:;" >校园风采</a></li>
		</ul>
	</div>
	<script src="__PUBLIC__/Mobile/Sempages/meishu/js/jquery-3.2.0.min.js"></script>
	<script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
	<script src="__PUBLIC__/Mobile/Sempages/meishu/js/OwlCarousel/owl.carousel.min.js"></script>
	<script src="__PUBLIC__/Mobile/Sempages/meishu/js/swiper.min.js"></script>
	<script src="__PUBLIC__/Mobile/Sempages/meishu/js/index.js"></script>
	<script type="text/javascript">

	</script>
</body>
</html>