<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>日本语言学校1对1面试—小莺出国日本留学</title>
    <meta name="keywords" content="日本语言学校面试，日本语言学校有哪些，日本语言学校怎么申请，日本语言学校哪个好，如何申请日本语言学校" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Sempages/yuyanms/css/Language_school.css" />
    <script src="__PUBLIC__/js/uaredirect.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/GETGOTO.js" type="text/javascript"></script>
    <script type="text/javascript">
    uaredirect("http://m.eggelite.com/yuyanms");
    </script>
    <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 14353);

    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?adb97d2c5a835681418c7b2bab31618a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>

<body>
    <div class="lang_banner">
        <img src="__PUBLIC__/Sempages/yuyanms/img/banner.png" />
    </div>
    <div class="lang_tel">
        <div><span>一对一</span>视频电话面试</div>
    </div>
    <div class="l_tel_flow">
        <ul>
            <li>预约学校老师</li>
            <li>视频电话面试</li>
            <li>三天合格通知</li>
            <li>办理入学手续</li>
        </ul>
        <div>
            <p>小莺出国携手日本优良语言学校，推出“和日本语言学校老师面对面咨询”活动，全程免费，实现真正意义上的日本留学DIY！</p>
            <p>本活动参加的学校都是日本语言学校中的高质量优良校，让学生们都能够找到自己心仪的学校和最适合自己的学校。</p>
        </div>
        <img src="__PUBLIC__/Sempages/yuyanms/img/zuo@2x.png" />
        <img src="__PUBLIC__/Sempages/yuyanms/img/you@2x.png" />
    </div>
    <div class="lang_features">
        <h3>三大特色</h3>
        <div>
            <ul>
                <li>校名师1对1咨询
                    <br />规划你的留学计划</li>
                <li>当场面试录取
                    <br />省时省力</li>
                <li>学校直招，全程咨询免费
                    <br />留学办理免费</li>
            </ul>
            <div>
                <p>参加方法：</p>
                <p>1、点击下方中希望咨询的学校，进入填写申请表，工作人员会在两个工作日内和你取得联系，请保持通讯畅通。</p>
                <p>2、我们的合作校正在陆续增加中，如果你希望要报考的学校并不在其中，请告诉我们，我们会尽量满足你的要求。</p>
            </div>
        </div>
        <p>日本语言学校代表，一对一为你解答学校情况<b>校方坐镇</b></p>
        <img src="__PUBLIC__/Sempages/yuyanms/img/cat1.png" />
    </div>
    <div class="lang_th">
        <ul>
            <li>
                <div>
                    <div>
                        <img src="__PUBLIC__/Sempages/yuyanms/img/lang_th1.jpg" />
                        <p class="school_name">东京国际文化学院</p>
                        <p>颜春捷</p>
                    </div>
                    <p>颜春捷老师，现任东京国际文化学院留学部部长，曾荣获湖南省高等院校优秀毕业生称号，负责招生事宜。学校坐落于东京都最中心的新宿区，拥有三个校区，交通发达、生活便利。作为一所具有历史和传统的优良校，学校一直倡导“合格名门大学”的教育理念。</p>
                </div>
                <a href="javascript:void(0)">申请此校</a>
            </li>
            <li>
                <div>
                    <div>
                        <img src="__PUBLIC__/Sempages/yuyanms/img/lang_th2.jpg" />
                        <p class="school_name">国书日本语学校</p>
                        <p>本地老师</p>
                    </div>
                    <p>从事日本语教师工作已经25年有余，学生来自俄罗斯，韩国，中国，蒙古，斯里兰卡…等，大家都非常活泼开朗。希望你也能够加入到我们当中来，大家来自世界各地，通过相互交流，相信能够发现崭新的世界。</p>
                </div>
                <a href="javascript:void(0)">申请此校</a>
            </li>
            <li>
                <div>
                    <div>
                        <img src="__PUBLIC__/Sempages/yuyanms/img/lang_th3.jpg" />
                        <p class="school_name">东京安日本语学校</p>
                        <p>中马东明</p>
                    </div>
                    <p>在国内大学毕业后于1990年到日本留学，相继完成了硕士和博士的学业后，留在了日本学校任职，现担任东京安日本语学校中国区招生负责人。中马老师在日本生活的二十多年里，当招生老师已经有19年的经验，对于去日本留学有着很深刻的一些见解。</p>
                </div>
                <a href="javascript:void(0)">申请此校</a>
            </li>
            <!--<li>
            <div>
                <div>
                    <img src="__PUBLIC__/Sempages/yuyanms/img/lang_th4.jpg" />
                    <p class="school_name">千驮谷日本语学校</p>
                    <p>关川老师</p>
                </div>
                <p>身为日本语教师，所肩负的职责，并不仅限于教授日本语。 多数来日本的学生，是以在日本升学为目的。为了让学生可以升入理想的学校，我们通过日本语教学，以及升学、面试、考试等各方面指导，为学生实现梦想提供助力。 此外，为了让学生毕业后能够在日本自立生活，我们也会进行基本的生活指导。
                </p>
            </div>
            <a href="javascript:void(0)">申请此校</a>
        </li>-->
            <li>
                <div>
                    <div>
                        <img src="__PUBLIC__/Sempages/yuyanms/img/lang_th5.jpg" />
                        <p class="school_name">MANABI外语学院</p>
                        <p>林晓</p>
                    </div>
                    <p>林晓，MANABI外语学院董事，中国事务所总代表，从事留学工作20年，有丰富的签证指导和升学指导经验。两个校区分别位于东京两国和长野县上田市。突出国际型教育同时，一直以学习为快乐为宗旨，以考上名门大学为目标！</p>
                </div>
                <a href="javascript:void(0)">申请此校</a>
            </li>
            <li>
                <div>
                    <div>
                        <img src="__PUBLIC__/Sempages/yuyanms/img/lang_th9.jpg" />
                        <p class="school_name">精英日本语学校</p>
                        <p>刘洋</p>
                    </div>
                    <p>在日五年，中国山东大学毕业，曾在日就职于日本最大的金融企业，不光在留学上，对于日本工作，融入日本社会上也可以为学生提供建议。语言学校不仅仅是只为学生提供考学的平台，更要有长远的打算，给学生未来的选择提供帮助。精英日本语的学生，希望他们可以平安充实的体验日本留学，最后以高情商的融入社会
                    </p>
                </div>
                <a href="javascript:void(0)">申请此校</a>
            </li>
            <li>
                <div>
                    <div>
                        <img src="__PUBLIC__/Sempages/yuyanms/img/lang_th6.jpg" />
                        <p class="school_name">优尼塔斯日本语学校</p>
                        <p>上田 一彦</p>
                    </div>
                    <p>希望你们不仅能学好日语，而且多多接触日本文学和艺术等日本文化，抛却先入为主的偏见，以自己的双眼来观察周围，亲身体验一个真实的日本。希望这段留学生活能让你们重新反思自我，关心世界，建立具有自我风格的世界观和价值观。 我们将为你们展现日本社会、日本人优秀的一面，并多提供结识日本人的机会，在生活和学习升...
                    </p>
                </div>
                <a href="javascript:void(0)">申请此校</a>
            </li>
            <li>
                <div>
                    <div>
                        <img src="__PUBLIC__/Sempages/yuyanms/img/lang_th7.jpg" />
                        <p class="school_name">翰林语言学校</p>
                        <p>甲部 明美</p>
                    </div>
                    <p>各位同学大家好，我是中国地区的负责老师。 与日本留学相关的手续以及入学后各种各样的问题随时都可以向我咨询。翰林日本语学院已经成为大家的留学起点，我们真心期待待大家的到来。
                    </p>
                </div>
                <a href="javascript:void(0)">申请此校</a>
            </li>
            <li>
                <div>
                    <div>
                        <img src="__PUBLIC__/Sempages/yuyanms/img/lang_th8.jpg" />
                        <p class="school_name">YMCA东京日本语学校</p>
                        <p>田附和久</p>
                    </div>
                    <p>我们学校是本科课程定员100位的小型日本语学校，虽然学校很小，但学生、老师、工作人员大家像一家人一样，在温暖的环境中进行日常教育活动。 为了让所有学生通过学习日语实现各自的梦想，老师、工作人员针对每个学生的不同性格，用心指导。 虽然日常指导评定颇为严格，但这是对每一位学生爱之深责之切的表现。
                    </p>
                </div>
                <a href="javascript:void(0)">申请此校</a>
            </li>
            <li class="outer_btn">其他语言学校</li>
        </ul>
        <div class="lang_more">点击查看更多</div>
    </div>
    <div class="lang_table">
        <p><img src="__PUBLIC__/Sempages/yuyanms/img/bor_e@2x.png" />免费申请语言学校面试<img src="__PUBLIC__/Sempages/yuyanms/img/bor_e@2x.png" /></p>
        <div>
        </div>
        <div class="lang_apply xy_form_b xy_form">
            <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
                <p><span class="CRM_TEMPLET_NAME"></span>
                    <input type="text" id="" placeholder="">
                </p>
            </div>
            <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
                <p>
                    <span class="CRM_TEMPLET_NAME"></span>
                    <select name=""></select>
                </p>
            </div>
        </div>
        <button id="lang_button" class="lang_submit xy_submit xy_submit_b">确认提交</button>
    </div>
    <div class="ms_fixed" style="background: none">
        <div class="cover" style="width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.5); position: absolute; transform: none;"></div>
        <div>
            <div class="lang_table fixed_item">
                <p><img src="__PUBLIC__/Sempages/yuyanms/img/bor_e@2x.png" />您申请了以下语言学校<img src="__PUBLIC__/Sempages/yuyanms/img/bor_e@2x.png" /></p>
                <div>
                    <p></p>
                    <ul class="school_list">
                    </ul>
                </div>
                <div class="lang_apply xy_form xy_form_a">
                    <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
                        <p><span class="CRM_TEMPLET_NAME"></span>
                            <input type="text" id="" placeholder="">
                        </p>
                    </div>
                    <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
                        <p>
                            <span class="CRM_TEMPLET_NAME"></span>
                            <select name=""></select>
                        </p>
                    </div>
                </div>
                <button id="lang_button" class="lang_fixed_submit xy_submit xy_submit_a">确认提交</button>
                <img class="cole_fixed" src="__PUBLIC__/Sempages/yuyanms/img/close.png" />
            </div>
        </div>
    </div>
</body>
<script src="__PUBLIC__/Sempages/yuyanms/js/jquery-3.1.1.min.js"></script>
<script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
<script>
$(".xy_form_a").xiaoyingForm({
    parameter: [
        { errorMes: "姓名格式不正确", id: "XY_a01", rename: "姓名", reg: "required", placeholder: "请输入您的姓名" },
        { errorMes: "QQ格式不正确", id: "XY_b11", rename: "QQ", placeholder: "请输入您的QQ" },
        { errorMes: "电话格式不正确", id: "XY_a02", rename: "电话", reg: "required", placeholder: "请输入您的电话" },
        { errorMes: "请选择目前学历", id: "XY_b19", rename: "目前学历", reg: "required" },
        { errorMes: "请选择出国年份", id: "XY_b09", rename: "出国年份", reg: "required" },
        { errorMes: "请选择所在城市", id: "XY_b13", rename: "所在城市", reg: "required" },
    ],
    submitBtn: ".xy_submit_a",
    beforeSendData: function(_data,cb) {
        var ddstr = "";
        $.each($(".school_list li"), function(k, dd) {
            var txt = $(this).text();
            ddstr = ddstr + txt + '、';
        })
        if (ddstr.length > 0) {
            ddstr = ddstr.substr(0, ddstr.length - 1);
            _data.XY_b21 = "客户申请了以下语言学校：" + ddstr;
            cb(_data)
        }else{
            alert('请选择至少一所语言学校');
            $(".ms_fixed").hide();
            $("body, html").animate({
                scrollTop: $(".lang_th").offset().top
            }, 600)
            return false;
        }
    },
    beforeLoadField: function(res) {
        return res;
    },
    afterLoadField: function() {},
    validatorError: function(mes, node) {
        console.log("xxx", mes, node);
        alert(mes);
    },
    submitSuccess: function() {
        alert("申请成功！请等到老师与您联系");
    },
    submitError: function() {}
});
$(".xy_form_b").xiaoyingForm({
    parameter: [
        { errorMes: "姓名格式不正确", id: "XY_a01", rename: "姓名", reg: "required", placeholder: "请输入您的姓名" },
        { errorMes: "QQ格式不正确", id: "XY_b11", rename: "QQ", placeholder: "请输入您的QQ" },
        { errorMes: "电话格式不正确", id: "XY_a02", rename: "电话", reg: "required", placeholder: "请输入您的电话" },
        { errorMes: "请选择目前学历", id: "XY_b19", rename: "目前学历", reg: "required" },
        { errorMes: "请选择出国年份", id: "XY_b09", rename: "出国年份", reg: "required" },
        { errorMes: "请选择所在城市", id: "XY_b13", rename: "所在城市", reg: "required" },
    ],
    submitBtn: ".xy_submit_b",
    beforeSendData: function(_data,cb) {
        cb(_data)
    },
    beforeLoadField: function(res) {
        return res;
    },
    afterLoadField: function() {},
    validatorError: function(mes, node) {
        console.log("xxx", mes, node);
        alert(mes);
    },
    submitSuccess: function() {
        alert("申请成功！请等到老师与您联系");
    },
    submitError: function() {}
});
function checkMobile(sMobile) {
    if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(sMobile))) {
        return false;
    } else {
        return true;
    }
}

function Checkone() {
    //名字 , QQ , 电话 ， 学历 ， 年份 ， 按钮
    Check($("#lang_names"), $(".lang_qq"), $("#lang_mb"), $(".lang_xl"), $("#lang_txtyears"), $("#lang_city"), $(".lang_submit"));

}

function Check(a, b, c, d, e, f, obj) {
    if (a.val() == "") {
        msg('请填写姓名');
        return;
    }
    if (b.val() == "") {
        msg('请填写QQ');
        return;
    }
    if (c.val() == "" || c.val().indexOf(' ') != -1 || c.val().length != 11 || checkMobile(c.val()) == false) {
        msg('请填写正确的手机号码');
        return;
    }
    if (d.val() == "") {
        msg('请填写您的学历');
        return;
    }
    if (e.val() == "") {
        msg('请填写您的出国时间');
        return;
    }
    if (f.val() == "") {
        msg('请填写您所在省份');
        return;
    }

    obj.prop('onclick', null).off('click');
    obj.attr('disabled', 'disabled');

    var listr = "";
    if ($('.school_list').find('li').length == 0) {
        listr = "";
    } else {
        $.each($('.school_list').find('li'), function(k, li) {
            listr += $(li).text() + '、';
        })
    }

    obj.html('正在提交...');
    var a = a.val();
    var b = b.val();
    var c = c.val();
    var d = d.val();
    var e = e.val();
    var f = f.val();
    $.ajax({
        headers: {
            'X-CSRF-Token': "{{ csrf_token('site') }}",
        },
        url: "/ajaxindex",
        type: "post",
        dataType: "json",
        data: {
            name: a,
            tel: c,
            qq: b,
            xl: d,
            year: e,
            area: f,
            from: location.href + '所选语言学校：' + listr,
            goto: 'sem',
        },
        success: function(data) {
            if (data.status == true) {
                msg('申请成功！请等到老师与您联系');
                obj.html('提交成功！');
            } else {
                msg(data.remark);
            }
        }
    });
}

function msg(msg) {
    alert(msg);
    return;
}

//申请学校

$(".lang_th>ul").on("click", "a", function() {
    if ($(this).hasClass("lang_active")) {
        $(this).removeClass("lang_active");
        var shcool_val = $(this).parent().find(".school_name").text()
        for (var i = 0; i < $(".school_list>li").length; i++) {
            if ($(".school_list>li").eq(i).text() == shcool_val) {
                $(".school_list>li").eq(i).remove()
            }
        }

    } else {
        $(this).addClass("lang_active");
        $(".ms_fixed").show();
        $(".school_list").append(
            "<li>" + $(this).parent().find(".school_name").text() + "<img src='__PUBLIC__/Sempages/yuyanms/img/close.png'/></li>"
        )
    }

})
//点击其他语言学校
$(".lang_th>ul>li:nth-last-of-type(1)").click(function() {
    if ($(this).hasClass("lang_active_1")) {
        $(this).removeClass("lang_active_1");
        var shcool_val = $(this).text()
        for (var i = 0; i < $(".school_list>li").length; i++) {
            if ($(".school_list>li").eq(i).text() == shcool_val) {
                $(".school_list>li").eq(i).remove()
            }
        }
    } else {
        $(this).addClass("lang_active_1");
        $('.ms_fixed').show();
        $(".school_list").append(
            "<li>" + $(this).text() + "<img src='__PUBLIC__/Sempages/yuyanms/img/close.png'/></li>"
        )
    }

})








//查看更多
$(".lang_more").click(function() {
    if ($(".lang_th>ul").hasClass("lang_open")) {
        $(".lang_th>ul").removeClass("lang_open")
        $(".lang_th>ul").addClass("lang_up")
        $(".lang_more").text("查看更多")
    } else {
        $(".lang_th>ul").removeClass("lang_up")
        $(".lang_th>ul").addClass("lang_open")
        $(".lang_more").text("收起")
    }
})

//点击删除标签学校

$(".school_list").on("click", "li", function() {
    $(this).remove()
    for (var i = 0; i < $(".school_name").length; i++) {
        if ($(this).text() == $(".school_name").eq(i).text()) {
            $(".school_name").eq(i).parent().parent().parent().find("a").removeClass("lang_active")
        } else if ($(this).text() == $(".lang_th>ul>li:nth-last-of-type(1)").text()) {

            $(".lang_th>ul>li:nth-last-of-type(1)").removeClass("lang_active_1")
        }
    }
})

// 弹框验证
function Checktwo() {
    //名字 , QQ , 电话 ， 学历 ， 年份 ，城市， 按钮
    Check($("#lang_fixed_names"), $(".lang_fixed_qq"), $("#lang_fixed_mb"), $(".lang_fixed_xl"), $("#lang_fixed_txtyears"), $("#lang_fixed_city"), $(".lang_fixed_submit"));

}

// 点击关闭弹窗
$(".cole_fixed").click(function() {
    $(".ms_fixed").hide();
})

// $(".ms_fixed").click(function() {
//     $(".ms_fixed").hide();
// })
</script>

</html>