<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日本语言学校资料领取—小莺出国日本留学</title>
    <meta name="keywords" content="日本语言学校有哪些，日本语言学校怎么申请，日本语言学校哪个好，如何申请日本语言学校，语言学校，日语学习"/>
    <link rel="stylesheet" href="__PUBLIC__/Sempages/yuyanzl/css/stylesheet.css">
    <link rel="stylesheet" href="__PUBLIC__/Sempages/yuyanzl/css/school_language.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <!-- 检测手机设备并跳转到手机端 -->
    <script src="__PUBLIC__/js/uaredirect.js" type="text/javascript"></script>
    <script type="text/javascript">
        uaredirect("http://m.eggelite.com/yuyanzl");
    </script>
    <style type="text/css">
        .foot dl dd::after {
            content: "X";
            position: absolute;
            right: 10px;
            top: 10px;
        }

        .foot dl dd {
            position: relative;
            padding: 10px 30px 10px 10px !important;
        }
    </style>
    <script type='text/javascript'>
        (function (m, ei, q, i, a, j, s) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            j = ei.createElement(q),
                s = ei.getElementsByTagName(q)[0];
            j.async = true;
            j.charset = 'UTF-8';
            j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
            s.parentNode.insertBefore(j, s);
        })(window, document, 'script', '_MEIQIA');
        _MEIQIA('entId', 14353);

        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?916d5e71705fb1d76f48bf1b0473ea8c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body style="overflow-x:hidden;">


<div class="content banner">
    <a href="javascript:;">
        <img src="__PUBLIC__/Sempages/yuyanzl/imgs/banner.jpg" alt="">
    </a>
</div>
<div class="nav content_box" style="width:1050px !important;">
    <ul class="clearfix">
        <li><a href="javascript:;"><span></span><img src="__PUBLIC__/Sempages/yuyanzl/imgs/nav01.png" alt=""></a>
        </li>
        <li><a href="javascript:;"><span></span><img src="__PUBLIC__/Sempages/yuyanzl/imgs/nav02.png" alt=""></a>
        </li>
        <li><a href="javascript:;"><span></span><img src="__PUBLIC__/Sempages/yuyanzl/imgs/nav03.png" alt=""></a>
        </li>
        <li class="right"><a href="javascript:;"><span></span><img src="__PUBLIC__/Sempages/yuyanzl/imgs/nav04.png" alt=""></a></li>
    </ul>
</div>
<div class="school_language content_box" style="width:1050px !important;">
    <img class="bg" src="__PUBLIC__/Sempages/yuyanzl/imgs/languageBg.png" alt="">
    <ul class="clearfix">
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/jcl.jpg" alt="">
                <p>JCL外国语学院</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/huanqiu.jpg" alt="">
                <p>东京环球日本语学院</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/xingzhi.jpg" alt="">
                <p>精英日本语</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/zaodaotian.jpg" alt="">
                <p>早稻田EDU</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/shcool.png" alt="">
                <p>日本YMCA日语教育集团</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/guoji.jpg" alt="">
                <p>东京国际文化学院</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/zhongyang.jpg" alt="">
                <p>东京中央日本语学院</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/zhipu.jpg" alt="">
                <p>东京芝浦外语</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/chimen.jpg" alt="">
                <p>赤门会语言学校</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/hengbing.jpg" alt="">
                <p>横滨国际教育学院</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/qiandai.jpg" alt="">
                <p>千代田国际语</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/xiuman.jpg" alt="">
                <p>修曼日本语</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/sanli.jpg" alt="">
                <p>东京三立学院</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/gongke.jpg" alt="">
                <p>东京工科大学附属日本语学校</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <li>
            <a class="name" href="javascript:;">
                <img src="__PUBLIC__/Sempages/yuyanzl/imgs/youni.jpg" alt="">
                <p>尤尼塔斯</p>
            </a>
            <a class="btn" href="javascript:;"><span></span>索要本书</a>
        </li>
        <p>
            <!-- <a href="javascript:;">更多学校</a> -->
            <a href="javascript:;" class="select_over">选择完毕</a></p>
    </ul>
</div>
<!-- 提示框 -->
<p class="alert">最多选择五所学校资料哦</p>
<div class="foot content_box" style="width:1050px !important;">
    <img class="title" src="__PUBLIC__/Sempages/yuyanzl/imgs/title.png" alt="">
    <img class="cat" src="__PUBLIC__/Sempages/yuyanzl/imgs/cat.png" alt="">
    <dl class="clearfix adddl">
        <dt>您申请了以下语言学校：</dt>
        <!-- <dd><a href="javascript:;">JCL外国语学院</a></dd> -->
    </dl>
    <style type="text/css">
        .alert {
            display: none;
            width: 400px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            color: #fff;
            border-radius: 4px;
        }

        @-webkit-keyframes myfirst {
            0% {
                opacity: 1;
            }

            50% {
                opacity: .3;
            }

            10% {
                opacity: 1;
            }
        }

        @keyframes myfirst {
            0% {
                opacity: 1;
            }

            50% {
                opacity: .3;
            }

            10% {
                opacity: 1;
            }
        }
    </style>
    <ul class="clearfix ml5 xy_form xy_form_a">
        <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
            <li>
                <label for="" class="CRM_TEMPLET_NAME"></label>
                <input type="text" id="" placeholder="">
            </li>
        </div>
        <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
            <li>
                <label for="" class="CRM_TEMPLET_NAME"></label>
                <select name=""></select>
            </li>
        </div>
    </ul>
    <a href="javascript:;" class="xy_submit btnSubmit">确认提交</a>
</div>
<script src="__PUBLIC__/Sempages/yuyanzl/js/jquery-3.1.1.min.js" charset="utf-8"></script>
<script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
<script src="__PUBLIC__/Sempages/yuyanzl/js/area.js" charset="utf-8"></script>
<script type="text/javascript">
    $(".xy_form_a").xiaoyingForm({
        parameter: [
            {errorMes: "姓名格式不正确", id: "XY_a01", rename: "姓名:", reg: "required", placeholder: "请输入您的姓名"},
            {errorMes: "QQ格式不正确", id: "XY_b11", rename: "QQ:", placeholder: "请输入您的QQ", reg: "required"},
            {errorMes: "电话格式不正确", id: "XY_a02", rename: "电话:", reg: "required", placeholder: "请输入您的电话"},
            {errorMes: "请选择目前学历", id: "XY_b19", rename: "目前学历:", reg: "required"},
            {errorMes: "请选择出国年份", id: "XY_b09", rename: "出国年份:", reg: "required"},
            {errorMes: "请选择所在城市", id: "XY_b13", rename: "所在城市:", reg: "required"},
        ],
        submitBtn: ".btnSubmit",
        beforeSendData: function (_data, cb) {
            var ddstr = "";
            $(".adddl dd").each(function () {
                var txt = $(this).find("a").text();
                ddstr = ddstr + txt + '、';
            });
            if (ddstr.length > 0) {
                ddstr = ddstr.substr(0, ddstr.length - 1);
                _data["XY_b21"] = "客户申请了以下语言学校：" + ddstr;
                cb(_data);
            } else {
                alert('请选择语言学校');
                $("body, html").animate({
                    scrollTop: $(".school_language").offset().top
                }, 600)
                return false;
            }
        },
        beforeLoadField: function (res) {
            for (var i = 0; i < res.length; i++) {
                if (res[i].FLAG == "XY_b10") {
                    res[i]._v = "required|max:30";
                    res[i].type = 2;
                    console.log("xxx", res[i]);
                }
            }
            return res;
        },
        afterLoadField: function () {
        },
        validatorError: function (mes, node) {
            console.log("xxx", mes, node);
            alert(mes);
        },
        submitSuccess: function () {
            alert("申请成功！请等到老师与您联系");
        },
        submitError: function () {
        }
    });


    $('.btn').on('click', function () {
        var leg = $('.school_language').find('ul li').find('.active').length;
        if (leg < 5) {
            var text = $(this).parent('li').find('p').text();
            if (!$(this).hasClass('active')) {
                $(this).addClass('active');
                $('.adddl').append("<dd><a href='javascript:;'>" + text + "</a></dd>")
            } else {
                a($(this));
            }
        } else {
            $('.alert').show();
            setTimeout(function () {
                    $(".alert").hide();
                },
                3000);
            a($(this));
        }
    });

    function a(This) {
        This.removeClass('active');
        var text = This.parent('li').find('p').text();
        var length = $('.adddl').find('dd').length;
        for (var i = 0; i < length; i++) {
            var te = $('.adddl').find('dd').eq(i).text();
            if (te == text) {
                $('.adddl').find('dd').eq(i).remove();
            }
        }
    }

    function checkMobile(sMobile) {
        if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(sMobile))) {
            return false;
        } else {
            return true;
        }
    }

    function Checkone() {
        //名字 , QQ , 电话 ， 学历 ， 年份 ， 按钮
        Check($("#topname"), $("#topqq"), $("#topphone"), $('.topxl'), $("#toptxtyears"), $("#city"), $(".btnSubmit"));

    }

    function Check(a, b, c, d, e, f, obj) {
        if (a.val() == "") {
            msg('请填写姓名');
            return;
        }
        if (b.val() == "") {
            msg('请填写QQ');
            return;
        }
        if (c.val() == "" || c.val().indexOf(' ') != -1 || c.val().length != 11 || checkMobile(c.val()) == false) {
            msg('请填写正确的手机号码');
            return;
        }
        if (d.val() == "") {
            msg('请填写您的学历');
            return;
        }
        if (e.val() == "") {
            msg('请填写您的出国时间');
            return;
        }
        if (f.val() == "") {
            msg('请填写您所在城市');
            return;
        }
        var dlobj = $('.adddl').find('dd'),
            ddstr = "";
        if ($('.adddl').find('dd').length == 0) {
            ddstr = "";
        } else {
            $.each(dlobj, function (k, dd) {
                var txt = $(dd).find('a').text();
                ddstr = ddstr + txt + '、';
            })
        }
        obj.prop('onclick', null).off('click');
        obj.attr('disabled', 'disabled');

        obj.html('正在提交...');
        var a = a.val();
        var b = b.val();
        var c = c.val();
        var d = d.val();
        var e = e.val();
        var f = f.val();

        $.ajax({
            headers: {
                'X-CSRF-Token': "{{ csrf_token('site') }}",
            },
            url: "/ajaxindex",
            type: "post",
            dataType: "json",
            data: {
                name: a,
                tel: c,
                qq: b,
                xl: d,
                year: e,
                area: f,
                from: location.href + "所选语言学校：" + ddstr,
                goto: 'sem',
            },
            success: function (data) {
                if (data.status == true) {
                    msg('申请成功！请等到老师与您联系');
                    obj.html('提交成功！');
                } else {
                    msg(data.remark);
                }
            }
        });
    }

    function msg(msg) {
        alert(msg);
        return;
    }


    // 选择点击事件
    $('.adddl').on('click', 'dd', function () {
        var te = $(this).text();
        var length = $('.school_language').find('ul li').length;
        $(this).remove();
        for (var i = 0; i < length; i++) {
            var tex = $('.school_language ul').find('li').eq(i).find('.active').siblings('.name').find('p').text();
            if (te == tex) {
                $('.school_language ul').find('li').eq(i).find('.active').removeClass('active');
            }
        }
    })

    $(".select_over").on('click', function () {
        $('html,body').animate({
            scrollTop: 10000
        }, 1000);
    });
</script>
</body>

</html>