
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>小莺出国 - 日本高中留学申请</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Sempages/gaozhong/css/high_school.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Sempages/gaozhong/font-awesome-4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Sempages/gaozhong/css/nice-select.css" />
		<script src="__PUBLIC__/js/uaredirect.js" type="text/javascript"></script>
	    <script src="__PUBLIC__/js/GETGOTO.js" type="text/javascript"></script>
	    <script type="text/javascript">uaredirect("http://m.eggelite.com/gaozhong");</script>
	</head>
	<body>
		<div class="header">
			<a href="#"><img src="__PUBLIC__/Sempages/gaozhong/img/logo.svg" /></a>
			<a href="tel:4000-150-170"><img src="__PUBLIC__/Sempages/gaozhong/img/phone1.png" /><span>客服咨询电话<br />4000-150-170</span></a>
		</div>
		<div class="banner">
			<div>
				<img src="__PUBLIC__/Sempages/gaozhong/img/head.png" />
			</div>
			<div>
				<img src="__PUBLIC__/Sempages/gaozhong/img/Combined_Shape.png" />
				<div>
					<img src="__PUBLIC__/Sempages/gaozhong/img/pic1.png" />
					<ul>
						<li style="text-indent: 13em;"><i>1</i>最互相交融的文化背景，更快适应当地学业与生活。</li>
						<li style="text-indent: 11em;"><i>2</i>最早筑起一个外语环境，让日语说得更加地道。</li>
						<li style="text-indent: 9em;"><i>3</i>最为个性化的发展，使升学与兴趣开发两不误。</li>
						<li style="text-indent: 7em;"><i>4</i>最划算的留学费用，成就每个工薪家庭留学的梦。</li>
						<li style="text-indent: 5em;"><i>5</i>最安全的留学保障，家长不用担心的生活起居。</li>
						<li style="text-indent: 3em;"><i>6</i>最高效的升学途径，为你开启日本名校之门。</li>

					</ul>
					<div class="banner_but">
						<img src="__PUBLIC__/Sempages/gaozhong/img/botton.png" alt="" />
						<img src="__PUBLIC__/Sempages/gaozhong/img/fish.png" />
						<img src="__PUBLIC__/Sempages/gaozhong/img/cat.png" />
						<span>免费获取<span>日本高中留学方案</span></span>
					</div>
				</div>
			</div>
		</div>
		<div class="advantage">
			<p class="_title"><i></i><span><span>日本高中得三大优势</span><i></i></span><i></i></p>
			<ul>
				<li>

					<span>第一</span>
					<span><i>封闭式</i>教育</span>
					<img src="__PUBLIC__/Sempages/gaozhong/img/advantage1.png" />
					<p>24小时贴心管理，配合各专业的营养师、保健师、校医，学习同时保持健康快乐成长。</p>
				</li>
				<li>

					<span>第二</span>
					<span><i>母语</i>学习法</span>
					<img src="__PUBLIC__/Sempages/gaozhong/img/advantage2.png" />
					<p>融洽的学习氛围，让本地学生成为留学生得“陪读”。专业词汇量背的滚瓜烂熟，大学面试一蹴而就。</p>
				</li>
				<li>

					<span>第三</span>
					<span><i>一站式</i>进学</span>
					<img src="__PUBLIC__/Sempages/gaozhong/img/advantage3.png" />
					<p>从高中到本科，不必在经历语言预科，丰富的奖学金，充足的名校推荐名额，迈进个校门的第一步。</p>
				</li>
			</ul>
			<img src="__PUBLIC__/Sempages/gaozhong/img/hb.png" />
			<img src="__PUBLIC__/Sempages/gaozhong/img/hb2.png" />
		</div>
		<div class="life">
			<p class="_title"><i></i><span><span>体验真实的日本生活</span><i></i></span><i></i></p>
			<ul>
				<li>
					<img src="__PUBLIC__/Sempages/gaozhong/img/life1.png" />

				</li>
				<li>
					<img src="__PUBLIC__/Sempages/gaozhong/img/life2.png" />
					<p>体验新鲜的<br />日本文化</p>
					<span></span>
				</li>
				<li>
					<img src="__PUBLIC__/Sempages/gaozhong/img/j.png" />
					<p>穿上漂亮的<br />日本高中制服</p>
				</li>
				<li>
					<img src="__PUBLIC__/Sempages/gaozhong/img/life3.png" />
					<p>参加丰富有趣<br />的社团活动</p>
					<span></span>
				</li>
				<li>
					<img src="__PUBLIC__/Sempages/gaozhong/img/life4.png" />
					<p>学习日本大学<br />升学所需知识</p>
					<span></span>
				</li>
				<img src="__PUBLIC__/Sempages/gaozhong/img/2W.png" />
			</ul>
		</div>
		<div class="apply">
			<img src="__PUBLIC__/Sempages/gaozhong/img/school_bg.jpg" />

			<div>
				<p class="_title"><i></i><span><span>可以申请的日本高中</span><i></i></span><i></i></p>
				<div class="apply_content">
					<div>
						<p class="school_title"><span>明浄学院高等学校</span><span>MEIJO GAKUIN HIGH SCHOOL</span></p>
						<div class="school_text">
							<img src="__PUBLIC__/Sempages/gaozhong/img/lschool.jpg" />
							<p> 明净学院高等学校是以培养高素质女性为建学精神，而设立的女子高中。学校位于大阪市阿倍野区。教育方针：培养健康明朗正直的女性对事物具有分析能力的女性培养具有广阔视野和实际能力的女性培养对旧事物的优点有所理解和对新事物有包容力的女性教育特色：学校设有针对女生的特色教育帮助每位学生健康成长让学生实现自身和世界，社会连接的能力<br /> 带领学生体验日本的传统文化活动
								<br /> 学校教育具有日本传统特色与国际化精神明净学院特有的教育实践：1 有97年历史教育背景和ICT教...
							</p>
						</div>
						<span onclick="_MEIQIA('showPanel')">我要咨询</span>
					</div>
					<div class="school_item">
						<ul>
							<li class="apply_active">
								<img src="__PUBLIC__/Sempages/gaozhong/img/mingjing.jpg" />
								<span class="list_title">明净学院高等学校</span>
								<div>
									<span class="en_title">MEIJO GAKUIN HIGH SCHOOL</span>
									<p>明净学院高等学校是以培养高素质女性为建学精神，而设立的女子高中。学校位于大阪市阿倍野区。教育方针：培养健康明朗正直的女性对事物具有分析能力的女性培养具有广阔视野和实际能力的女性培养对旧事物的优点有所理解和对新事物有包容力的女性教育特色：学校设有针对女生的特色教育帮助每位学生健康成长让学生实现自身和世界，社会连接的能力<br /> 带领学生体验日本的传统文化活动
										<br /> 学校教育具有日本传统特色与国际化精神明净学院特有的教育实践：1 有97年历史教育背景和ICT教...</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/juchuang.jpg" />
								<span class="list_title">菊川南陵高等学校</span>
								<div>
									<span class="en_title">NANRYO HIGH SCHOOL</span>
									<p>学校位于日本富士山所在地的静冈县菊川市，倡导以“培养具有高尚人格的文武兼备人才”、“智力于体力双发展”、“培养对社会有贡献的人才”、“学校是实现个人目标的理想的学习为起点”为教育目标，不拘泥于“ONE PIECE INFINITY”的语言表现，更致力于培养完美人格的心灵教育。是一所住宿制高中，学校提供住宿饮食。学校有图书馆，校舍内有草坪、体育馆、室内游泳池等实施齐全。学校课余活动丰富有春季野营、采茶体验、文化节、富士山登山活动、迪斯尼乐园一日游、文化体验等等。社团活动有棒球、空手道、篮球、田径、游泳、足球、艺术等。

									</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/hege.jpg" />
								<span class="list_title">和歌山南陵高等学校</span>
								<div>
									<span class="en_title">W-NANRYO HIGH SCHOOL</span>
									<p>和歌山南陵高等学校的教育理念是，培养扎根地区为人所爱，对地区建设发挥作用。本学园正在实施【论语】学习、本校技能强项的空手道的学习，充实地区志愿者活动、实习研修，培养人心。学习仁、义、礼、智、信的道德，追求学问和运动的均衡发展，培养值得尊敬的人性和克服困难的恒心。学园的校训是【有志者事竟成】也就是说要把【拥有坚强的意志、坚持努力一定能达成目标】的精神谨记于心，在南陵学园迎接美好的青春，迎接每一个希望。</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/dongling.jpg" />
								<span class="list_title">东陵高等学校</span>
								<div>
									<span class="en_title">TORYO HIGH SCHOOL</span>
									<p>东陵高等学校建校30多年，学校每年4月，10月招生，从二年级开始组织学生参加海外修学旅行，并设有短期和长期海外留学项目，组织学生参加地区性的各种志愿者活动。<br /> 学校根据学生目标特色设有特别升学课程，综合升学课程，社会人养成课程。另外还设有舞蹈，历史文化讲座等趣味课程。特别为即将毕业的学生设有针对少数学生的升学就业指导课程。

										<br /> 学校从2017年起招收留学生，针对留学生升学设立了日语能力考试对策指导课程和EJU考试指导课程。并每周末为学生开设了特进班学习。留学生除了日常课程之外，还可参加日语补习课。 </p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/xiantai.jpg" />
								<span class="list_title">仙台育英学园高等学校</span>
								<div>
									<span class="en_title">SENDAI IKUEI GAKUEN HIGH SCHOOL</span>
									<p>仙台育英学园高等学校建立于 1905 年，至 2016 年已经有 111年的历史了。学校接收满 16 岁的各年级学生。每年招收 4 月 ,10 月入学的学生。学生除了学习日语之外 , 还要学习其他科目。例如语文 , 英语 , 体育 , 日本地理等课程。<br /> 中国留学生的升学多以东京为中心的首都圈内大学。往年毕业于本校的中国留学生考进了同志社大学，立命馆大学，专修大学和芝浦工业大学，东京理科大学 , 樱美林大学 , 拓殖北海道医疗大学 ,中央学园大学 , 中部大学 , 流通经济日本桥学馆等大学。流通经济大学， 日本桥学馆大学等。也有的中国留学生考进了龙谷大学，冲绳国际大学等东京圈以外的其他大学。</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/dafen.jpg" />
								<span class="list_title">大分高等学校</span>
								<div>
									<span class="en_title">OITA HIGH SCHOOL</span>
									<p>大分高等学校作为大分外国语学校的前身 ,成立于昭和 27 年。平成 18 年 4 月新设大分中学校。大分高中以学生考取优秀国立大学 , 私立大学为目标开设特进选拔课程以及艺术和商业 , 汽车工业科等学科。<br /> 普通科（留学）是以招收海外中学三年级毕业或有同等学历的学生为中心先从基础开始学习日语及高中文化课程，毕业以后可以考入日本的国／公及各种私立大学。在学中，除了文化课以外，还能够参加各种课外活动，学习熟悉日本文化并加深与日本学生的交流。

										<br /> 在该校毕业以后，可以升入日本的正规大学学习。也可以直接进入该校的一些合作学校。例如桃山学院大学、九州共立大学、长崎国际大学等等。

									</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/chongxueyuan.jpg" />
								<span class="list_title">冲学园高等学校</span>
								<div>
									<span class="en_title">OKI GAKUEN HIGH SCHOOL</span>
									<p>冲学园高等学校位于福冈市,是一所私立贵族高中。学校为了适应国际社会,在培育具有英语能力的学生的同时,还欢迎来自海外的学生,以促进国际交流。<br /> 每年有来自中国各地的60余名学生,学生毕业后考上日本国立,公立,私立知名大学,一直保持着升学率,签证率100%的优秀记录。所有留学生的升学率和签证率均为100%,采取校际交流方式，学生可参加留学生考试。

										<br /> 学校每年4月、10月招20岁以下高中在校生，封闭式管理，备考大学。吃、穿、住学校统一管理，学校由中日两国老师担当日语授课，英语由外教担当，学校设有专职老师负责备考、选校等各方面事宜。

									</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/zhaori.jpg" />
								<span class="list_title">朝日塾国际高等学校</span>
								<div>
									<span class="en_title">ASAHIJUKU SECONDARY SCHOOL</span>
									<p>朝日塾中等教育学校于2004年建校，是一所偏差值高达68的新兴高水平私立中学，学校实行从初中到高中的6年一贯制教育，学生大多以考入一流国公立大学的医学院为目标。学校注重个性化教育和国际型人才的培养，实行少人数的授课方式，每个班的人数为15-20人，每个年级的只开3-4个班。<br /> 学校有全职中国人老师，并定期在中国举行家长会，让家长定期了解学生在日本的学习和生活情况。

										<br /> 目前为止，毕业生已考入的大学有：东京大学，京都大学，大阪大学，东京外国语大学，东京学艺大学，筑波大学，横滨国立大学，神户大学等诸多国公立大学。

									</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/ludao.jpg" />
								<span class="list_title">鹿岛学园高等学校</span>
								<div>
									<span class="en_title">KASHIMA GAKUEN HIGH SCHOOL</span>
									<p>位于东京附近茨城县的鹿岛市，1988年建校以来，秉承培养学生独立思考能力的教学方法，现在校生已达720多人，其中留学生达到120人左右。<br /> 县内保留着许多江户时代日本的风景名胜，在这里就更容易接触到日本的传统文化和风土人情。学校知名度高，重视个人发展，教学上极其重视基础教育和独立思考能力的培养。升学率达到100%，学校并特设各项体育强化部，接纳优秀体育特长生 。</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/dongdaban.jpg" />
								<span class="list_title">东大阪大学敬爱高等学校</span>
								<div>
									<span class="en_title">HIGASHIOSAKA COLLEGE KEIAI HIGH SCHOOL</span>
									<p>敬爱高等学校和柏原高等学校是村上学园设立的第一所全日制普通高中。集团设有特色班级，特别升学班是以考取有名的国公立大学和难度高的私立大学为目标的班级。<br /> 综合升学班是以考大学、考专门学校、参加工作等为目标而学习必要知识的班级。国际班是以考取日本的大学为目标的班级。

										<br /> 在教育方面，由经验丰富的日本老师任教,按照学生的日语水平进行分班，并配有班主任老师，进行彻底的日语教学。对学生定期课后补习,通过“文化体验”,“ 校外学习”来加深对学生日本文化的理解。</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/dongdabanboyuan.jpg" />
								<span class="list_title">东大阪大学柏原高等学校</span>
								<div>
									<span class="en_title">HIGASHIOSAKA COLLEGE KASHIWARA HIGH SCHOOL</span>
									<p>柏原高等学校是教育集团村上学园创办的第二所全日制的私立普通男子高中。<br /> 在教育方面，由经验丰富的日本老师任教,按照学生的日语水平进行分班，并配有班主任老师，进行彻底的日语教学。对学生定期课后补习,通过“文化体验”,“ 校外学习”来加深对学生日本文化的理解。</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/jindu.jpg" />
								<span class="list_title">京都两洋高等学校</span>
								<div>
									<span class="en_title">KYOTO RYOYO HIGH SCHOOL</span>
									<p>学校成立于1915年,约有1500名学生。学校根据每个学生的学习能力以及升学目标，设置了相应的升学班。学校强化国际交流,有很多外教老师在籍。对于想要升入大学的学生安排充实的补习课,并有很多社团活动。学校设施完备，能为学生们提供充实良好的学习环境。<br /> 针对日本留学考试和日语能力考试的要求指导学生的日语学习。根据学生的不同情况，因人而异的指导大家的日语学习。其他还有英语，数学，理科，综合科目的指导课程。

										<br /> 除了校内的学习之外，还设有很多校外活动，学生可亲临其境感受日本京都的文化和历史。另外，学生通过校内举办的各种活动及仪式等，加深与日本学生的交流。

									</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/mingde.jpg" />
								<span class="list_title">明德義塾高等学校</span>
								<div>
									<span class="en_title">MEITOKU GIJUKU JUNOR & SENIOR HIGH SCHOOL</span>
									<p>学校拥有中学和高中一体的教育制度和学生宿舍管理制度。全体学生都可参加文化和体育活动。学校重视国际交流，与多国学校有文化交流。<br /> 学历为高2下、高3、高中毕业的学生：

										<br /> 读1年制（四月生）或1.5年制（十月生）留学班

										<br /> 日语强化学习&英语、数学、留学辅导等。 （将来参加留学生考试）<br /> 学历为初3下、初中毕业、高1、高2上的学生：

										<br /> 读3年制（四月生）或3.5年制（十月生）日本高中生班日语强化学习&同步日本高中课程。（将来参加日本学生高考）

									</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/xiangling.jpg" />
								<span class="list_title">翔凜高等学校</span>
								<div>
									<span class="en_title">SHORIN GLOBAL JUNIOR &SENIOR HIGH SCHOOL</span>
									<p>翔凛高等学校,位于千叶县君津市,是中学部高中部一体式的学校，并设有特进班,选拔班,升学班。<br /> 特进班为培养国际精英课程,以培养考取国公立大学以及超难度私立大学的学生为目标。3年在学期间增加课程时间,到2年级为止基本履修完所有课程,3年级集中突击考试科目。选拔班为考取难关大学为目标的,培养学生基础能力的同时,重视对学生应用能力的培养。升学班为培养学生的基础学习能力,提高每一人的理解度和熟悉度。确定升学目标,使学生发挥最大的学习能力。

										<br /> 学校非常重视国际教育,每年都会组织学生们到海外进行修学旅行。学校注重对英语的培养,有专门的TOEIC・TOEFL対策辅导。学校有来自多个国家的留学生,学生们一起在交流生活,令大家共同体验日本文化,也了解了各国文化。

									</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/richu.jpg" />
								<span class="list_title">日出高等学校</span>
								<div>
									<span class="en_title">HINODE GAKUEN HIGH SCHOOL</span>
									<p>日出高等学校创立于1903年，历史悠久。位于东京都目黑区。学校本着培养学生的自立性和人性化为教育基准培养了众多人才，并且也培育了诸多日本演艺人才。日本国民偶像山口百惠就为该校的毕业生。<br /> 留学生可进入国际班，特进班和进学班学习,毕业后可升入日本的大学。国际班可学习较多的英语课程，高二开始设有短期海外留学项目。

										<br /> 特进班以升入名牌大学为标准,展开高强度学习指导。进学班以学习基础知识为主，培养学生明确今后的升学目标。并且鼓励学生积极参加团契和课外活动。
									</p>
								</div>
							</li>
							<li>
								<img src="__PUBLIC__/Sempages/gaozhong/img/gangshan.jpg" />
								<span class="list_title">冈山县共生高等学校</span>
								<div>
									<span class="en_title">OKAYAMA KYOUSEI HIGH SCHOOL</span>
									<p>学校位于冈山县新见市。学校设有普通课程，体育课程，媒体信息课程，生活课程。<br /> 全年级招生。入学高三的学生需要达到日语能力N3以上，高二下半学期和高三上半学期可参加留学考试，高三有大学推荐入试。每月设有丰富多彩的校园活动。

									</p>
								</div>
							</li>

						</ul>
					</div>

					<div class="Paging">
						<span class="_active pag" data_pag = "0"><i></i><span>1</span></span>
						<span class="excessive"><i></i><i></i><i></i><i></i></span>
						<span class="pag" data_pag = "1"><i></i><span>2</span></span>
						<span class="excessive"><i></i><i></i><i></i><i></i></span>
						<span class="pag" data_pag = "2"><i></i><span>3</span></span>
					</div>
				</div>

			</div>
		</div>
		<div class="_form">
			<p>申请表</p>
			<div class="xy_forma xy_form">
				<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
					<div><i></i><input type="text" id="" placeholder=""></div>
				</div>
				<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
					<div class="_select">
						<i></i>
						<select id="" readonly="" type="text" placeholder=""> </select><span class="fa fa-caret-down Arrow"></span>
					</div>
				</div>
				<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_a01" style="display: none;">
					<div><i class="fa fa-user"></i><input type="text" id="" placeholder=""></div>
				</div>
				<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_b11" style="display: none;">
					<div><i class="fa fa-weixin"></i><input type="text" id="" placeholder=""></div>
				</div>
				<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_b01" style="display: none;">
					<div><i class="fa fa-user"></i><input type="text" id="" placeholder=""></div>
				</div>
				<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_a02" style="display: none;">
					<div><i class="fa fa-phone"></i><input type="text" id="" placeholder=""></div>
				</div>

				<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_b09" style="display: none;">
					<div class="_select"><i class="fa fa-clock-o"></i>
						<select id="" readonly="" type="text" placeholder=""> </select>
					</div>
				</div>
				<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_b12" style="display: none;">
					<div class="_select"><i class="fa fa-joomla"></i>
						<select id="" readonly="" type="text" placeholder=""> </select>
					</div>
				</div>

				<!--<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_b19" style="display: none;">
					<div class="_select"><i class="fa fa-mortar-board "></i>
						<select id="" readonly="" type="text" placeholder=""> </select>
					</div>
				</div>-->
				<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_b13" style="display: none;">

					<div class="_select"><i class="fa fa-map-marker"></i>
						<select id="" readonly="" type="text" placeholder=""> </select>
					</div>
				</div>
			</div>
			<button class="y_button xy_submit ">立即报名</button>
		</div>
		<div class="footer">
			<p>全国统一电话：4000-150-170</p>

							<p>苏ICP备17069390号 版权所有：苏州小莺教育科技有限公司</p>
						
		</div>
	</body>
	<script src="__PUBLIC__/Sempages/gaozhong/js/jquery-3.2.0.min.js"></script>
	<script src="__PUBLIC__/Sempages/gaozhong/js/nice-select.js"></script>
	<script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
	<script>
		//美恰插件代码
		(function(m, ei, q, i, a, j, s) {
			m[i] = m[i] || function() {
				(m[i].a = m[i].a || []).push(arguments)
			};
			j = ei.createElement(q),
				s = ei.getElementsByTagName(q)[0];
			j.async = true;
			j.charset = 'UTF-8';
			j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
			s.parentNode.insertBefore(j, s);
		})(window, document, 'script', '_MEIQIA');
		_MEIQIA('entId', 14353);

		$(".xy_forma").xiaoyingForm({
			parameter: [{
					errorMes: "姓名格式不正确",
					id: "XY_a01",
					rename: "姓名",
					reg: "required",
					placeholder: "请输入您的姓名"
				},
				{
					errorMes: "电话格式不正确",
					id: "XY_a02",
					rename: "电话",
					reg: "required",
					placeholder: "请输入您的电话"
				},
				{
					errorMes: "请输入您的微信或QQ",
					id: "XY_b11",
					rename: "微信/QQ",
					placeholder: "请输入您的微信或QQ",
					reg: "required"
				},
				{
					errorMes: "请选择日语能力等级",
					id: "XY_b12",
					rename: "日语能力等级",
					reg: "required",
					placeholder: "日语能力等级"
				},
				{
					errorMes: "请选择留学时间",
					id: "XY_b09",
					rename: "留学时间",
					reg: "required",
					placeholder: "请选择出国时间"
				},
				{
					errorMes: "请选择城市",
					id: "XY_b13",
					rename: "所在城市",
					reg: "required",
					placeholder: "所在城市"
				},
			],
			submitBtn: ".xy_submit",
			beforeSendData: function(_data, cb) {
				cb(_data)
			},
			beforeLoadField: function(res) {
				return res;
			},
			afterLoadField: function() {
				$("select").niceSelect();
			},
			validatorError: function(mes, node) {
				alert(mes);
			},
			submitSuccess: function() {
				alert("申请成功！请等到老师与您联系");
			},
			submitError: function() {}
		});

		

		$(".school_item>ul>li").click(function() {
			if(!$(this).hasClass('.apply_active')) {
				$(".school_item>ul>li").removeClass()
				$(this).addClass("apply_active")
				$(".school_title>span:nth-of-type(1)").text($(this).find(".list_title").text())
				$(".school_title>span:nth-of-type(2)").text($(this).find(".en_title").text())
				$(".school_text>p").html($(this).find("p").html());
				$(".school_text>img").attr("src", $(this).find("img").attr("src"))
			}
		})

		$(".banner_but").click(function() {
			$("body, html").animate({
				scrollTop: $("._form").offset().top
			}, 500)
		})
		
		$(".school_item>ul").scroll(function(){
			console.log($(this).scrollTop())
			var num = parseInt($(this).scrollTop()/400)
			$(".Paging .pag").removeClass("_active");
			$(".Paging .pag").eq(num).addClass("_active");
			
		})
		
		$(".Paging .pag").click(function() {
			var pag = $(this).attr("data_pag")
			if(!$(this).hasClass("_active")) {
				$(".Paging .pag").removeClass("_active");
				$(this).addClass("_active");
				$(".school_item>ul").animate({
					scrollTop:pag*630
				},500)
			}
		})
	</script>

</html>