<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>日本语言学校排名|费用|申请条件_日本语言学校留学_日本语言留学热门申请_小莺出国日本留学</title>
    <meta name="keywords" content="日本语言学校排名,日本东京语言学校排名,日本语言学校申请, 日本语言留学申请条件,日本语言学校费用,日本语言学校中介"/>
    <meta name="description" content="小莺出国日本留学网提供日本语言各院校录取要求、学校介绍、专业介绍、排名、热门院校排行榜、申请攻略等相关信息，并免费提供留学申请,大学录取几率测评等服务。"/>
    <link rel="stylesheet" href="__PUBLIC__/Sempages/yuyan/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Sempages/yuyan/js/flexslider/flexslider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Sempages/yuyan/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Sempages/yuyan/js/niceselect/nice-select.css">
    <link rel="stylesheet" href="__PUBLIC__/Sempages/yuyan/css/index.min.css?v=201805231408">
    <script type="text/javascript" src="__PUBLIC__/Sempages/yuyan/js/jquery-1.9.1.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="__PUBLIC__/Sempages/yuyan/js/mixitup.min.js"></script>
    <script src="__PUBLIC__/Sempages/yuyan/js/TweenMax.min.js"></script>
    <script src="__PUBLIC__/Sempages/yuyan/js/SplitText.js"></script>
    <script src="__PUBLIC__/Sempages/yuyan/js/flexslider/jquery.flexslider-min.js"></script>
    <script src="__PUBLIC__/Sempages/yuyan/js/niceselect/jquery.nice-select.min.js"></script>
    <!--[if lt IE 10]>
    <script src="__PUBLIC__/Sempages/yuyan/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input").placeholder();
        });
    </script>
    <![endif]-->
    <script src="__PUBLIC__/Sempages/yuyan/js/Carousel.js"></script>
    <script src="__PUBLIC__/Sempages/yuyan/js/index.min.js?v=201805231408"></script>
    <script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
    <script src="__PUBLIC__/js/uaredirect.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/GETGOTO.js" type="text/javascript"></script>
    <script type="text/javascript">
        uaredirect("http://m.eggelite.com{{ app.request.server.get('REQUEST_URI') }}");
    </script>
</head>

<body>
<script type='text/javascript'>
    (function (m, ei, q, i, a, j, s) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 14353);
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?adb97d2c5a835681418c7b2bab31618a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<header>
    <div class="container">
        <div class="logoDv clearfix">
            <a href="/" class="logo">
                <img src="__PUBLIC__/Sempages/yuyan/images/logo.svg">
            </a>
            <a href="/" class="title-nav">18年专注日本留学</a>
        </div>
        <ul class="right_ul">
            <li class="font_effect">
                <a href="https://static.meiqia.com/dist/standalone.html?eid=14353" target="_blank">
                    <span data-hover="在线咨询">在线咨询</span>
                </a>
            </li>
            <li class="font_effect tel">
                <a href="tel:4000150170">咨询热线：<span data-hover="4000-150-170">4000-150-170</span></a>
            </li>
        </ul>
    </div>
</header>
<!-- banner -->
<div class="banner flexslider">
    <ul class="slides">
        <li class="purplePart">
            <div class="container clearfix">
                <div class="left leftPart">
                    <img src="__PUBLIC__/Sempages/yuyan/images/banner_s.png" class="banner_ss animated infinite swing">
                    <div class="mainPart">
                        <img src="__PUBLIC__/Sempages/yuyan/images/banner_500+.png" class="banner_500 animated">
                        <img src="__PUBLIC__/Sempages/yuyan/images/banner_a.png" class="banner_a">
                        <div class="free">
                            <img src="__PUBLIC__/Sempages/yuyan/images/banner_fei.png" class="mian animated">
                            <img src="__PUBLIC__/Sempages/yuyan/images/banner_mian.png" class="fei animated">
                            <img src="__PUBLIC__/Sempages/yuyan/images/banner_zz.png" class="banner_zz">
                        </div>
                        <img src="__PUBLIC__/Sempages/yuyan/images/banner_btn.png" class="banner_btn">
                    </div>
                </div>
            </div>
        </li>
        <li class="orangePart">
            <div class="container">
                <div class="leftPart">
                    <img src="__PUBLIC__/Sempages/yuyan/images/bannerB_content.png" class="bannerB_content">
                    <div class="step">
                        <img src="__PUBLIC__/Sempages/yuyan/images/banner_step1.png" class="banner_step1">
                        <img src="__PUBLIC__/Sempages/yuyan/images/banner_step2.png" class="banner_step2">
                        <img src="__PUBLIC__/Sempages/yuyan/images/banner_step3.png" class="banner_step3">
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="container ab">
        <div class="formPart">
            <h3>日本语言学校 免费申请</h3>
            <div class="border"></div>
            <div class="fillInfo clearfix xy_form">
                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
                    <div class="item">
                        <input type="text" class="" placeholder="">
                    </div>
                </div>
                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
                    <div class="item select">
                        <select class=""></select>
                    </div>
                </div>
                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_b13" style="display: none;">
                    <div class="item select full">
                        <select class=""></select>
                    </div>
                </div>
            </div>
            <div class="btn">
                <input type="button" class="xy_submit" value="名额有限 马上申请">
            </div>
        </div>
    </div>
</div>
<!-- 活动 -->
<div class="activeity flexslider container">
    <ul class="slides">
        <li v-for="n in actData">
            <a href="javascript:void(0)" target="_blank" style="cursor:default;">
                <img v-bind:src="'__PUBLIC__/Sempages/yuyan/images/activity/'+n.imgUrl+'.jpg'">
            </a>
            <table>
                <tr>
                    <td style="text-align: left;">已报名人数：</td>
                    <td style="text-align: right;"><span v-html="n.num"></span>人</td>
                </tr>
                <tr>
                    <td style="text-align: left;">活动开始时间：</td>
                    <td style="text-align: right;" v-html="n.time"></td>
                </tr>
            </table>
        </li>
    </ul>
</div>
<!-- 搜索区域 -->
<div class="searchSchool">
    <div class="container">
        <p class="b_title">—<span>院校搜索</span>—</p>
        <div class="inputDv">
            <i></i>
            <input type="text" placeholder="请输入学校关键词">
            <a href="javascript:void(0)" target="_blank" style="cursor:default;">搜索</a>
        </div>
        <ul id="schoolLists">
            <li v-for="n in hotsearch"><a href="javascript:void(0)" target="_blank" style="cursor:default;"><span
                    v-html="n.name"></span></a></li>
        </ul>
    </div>
</div>
<!-- 学校展示 -->
<div class="popular_school">
    <div class="container">
        <p class="b_title">—<span>热门院校</span>—</p>
        <div class="controls clearfix">
            <button type="button" class="control active" data-filter=".hot">热门学校</button>
            <button type="button" class="control" data-filter=".dongjingdu">东京都</button>
            <button type="button" class="control" data-filter=".dabanfu">大阪府</button>
            <button type="button" class="control" data-filter=".jingdufu">京都府</button>
            <button type="button" class="control" data-filter=".bingkuxian">兵库县</button>
            <button type="button" class="control" data-filter=".fugang">福冈县</button>
            <button type="button" class="control" data-filter=".qiyu">埼玉县</button>
            <button type="button" class="control" data-filter=".shennaichuan">神奈川县</button>
            <a class="more" href="javascript:void(0)" target="_blank" style="cursor:default;">更多 >></a>
        </div>
        <div class="container content" id="schoolData">
            <div v-for="n in schoolData" class="mix" :class="n.type">
                <a href="javascript:void(0)" style="cursor:default;">
                    <img v-bind:src="'__PUBLIC__/Sempages/yuyan/images/school/'+n.imgUrl+'.jpg'">
                    <p class="title" :title="n.name" v-html="n.name"></p>
                    <table>
                        <tbody>
                        <tr>
                            <td>学校规模:</td>
                            <td><span v-html="n.guimo"></span>人(中国学生<span v-html="n.chinese"></span>人)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>创立时间:</td>
                            <td v-html="n.year">年</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>地理位置:</td>
                            <td v-html="n.location"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="hotPart">
                        <i></i>
                        <p><span v-html="n.hot"></span>%</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 办理流程 -->
<div class="liucheng">
    <p class="b_title">—<span>语言学校办理流程</span>—</p>
    <div class="container">
        <div class="cctabcontent">
            <div class="b_part yuyan active">
                <ul class="imgul clearfix">
                    <li class="imgli pen hover">
                        <div class="acrionDc">
                            <div class="circle">
                                <i class="icon"></i>
                            </div>
                            <h3>在线报名</h3>
                            <div class="c">
                                <img src="__PUBLIC__/Sempages/yuyan/images/rice_lg.png" alt="">
                            </div>
                        </div>
                        <div class="showDv one">
                            <ul class="listul">
                                <li class="itemli hover">
                                    <span>申请学校条件</span>
                                    <div class="absContent">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont">
                                            <font>学历要求：</font>
                                            <p>具有或将拥有12 年以上学历</p>
                                            <br/>
                                            <font>年龄要求：</font>
                                            <p>一般不超过30 岁，或毕业不超过5 年</p>
                                            <br/>
                                            <font>日语要求：</font>
                                            <p>具备初级的日本语能力，建议在国内至 少有150 学时的日语学习经历</p>
                                            <br/>
                                            <font>经济要求：</font>
                                            <p>能负担第一年学费和部分生活费，能筹措15-20万元人民币左右短期经济担保金。</p>
                                            <br/>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>就读语言学校</span>
                                    <div class="absContent t">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont">
                                            <p>
                                                日本大学 原则上全 部采 用日语 授课， 语言 也是融入日 本社会的 必要手段 。语言学校能迅速帮助你日语能力 的提升。在校学 习期 间，可同时
                                                进行系统化专 业化的升 学辅导（校内或 者校外） ，能为将来考 取日本一流 大学提供有力 的保 障。中 国留学 生想考取日 本大学
                                                必须通过EJU考 试、校 内考试。校内考各校 时间都不 同，时间 跨度也大，在日 本语言学校 学习期 间，能在老 师指 导下奔 赴各个 考场
                                                应考。
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>费用相关问题</span>
                                    <div class="absContent t">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont" style="top:-7px;">
                                            <font>语言学校费用：</font>
                                            <p>每个学 校的收 费标 准各不 相同，基本 上第一 年的 总体费 用在70 万日元 左右；第二年 的费用 一般在
                                                60万日元左右。日本不同地区的学费差异不大，平均差距不会超过5万日元。</p>
                                            <br/>
                                            <font>生活月费用：</font>
                                            <p>1、住宿费3 -4万日币（两 人 间 2、水电等费用 0.5-1万 日币3、其他伙食交通等费5万 日币左 右打工 月收入：以大 多数留学生打
                                                工28小时计 算，约为12-1 5万日币 左右。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>免费留学服务</span>
                                    <div class="absContent t">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont" style="top: -43px">
                                            <p>小莺 一直坚持免费的服务理 念，不向学生收取 额外费用。与 我们正式签约 合作的数百所优良校均 经实地考 察，学校会 向我们提 供宣传 费和
                                                市场推 广费用于 维持我 们 机构的运 营。而学生即使 跨越语言 以及 地域障碍 直接找 学校签约，也不可能 有任 何减 免或优惠 。通过
                                                我们，您却会多 收获一份专 业的服 务和指 导，何乐 不为！</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="line"></li>
                            </ul>
                        </div>
                    </li>
                    <li class="imgli school">
                        <div class="acrionDc">
                            <div class="circle">
                                <i class="icon"></i>
                            </div>
                            <h3>选择学校</h3>
                        </div>
                        <div class="c">
                            <img src="__PUBLIC__/Sempages/yuyan/images/rice_lg.png" alt="">
                        </div>
                        <div class="showDv">
                            <ul class="listul">
                                <li class="itemli">
                                    <span>如何择校</span>
                                    <div class="absContent">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont">
                                            <font>地理位置：</font>
                                            <p>主 要看 学 校的 教育 环境是 否良好，交 通是 否方便。根据 个人的 不同，有喜 欢选择 在闹 市中心的，也有喜欢 在僻 静 地区 的学
                                                校。同时 还要关 注学 校 附 近的 住 宿、打 工等 条 件。</p>
                                            <br/>
                                            <font>是否优良校：</font>
                                            <p>日 本 的语言学校绝 大 部分 都是 优良 校（也称 适 正 校）。优良 校的 历史 悠久，学 校 资 金 充裕，师资 配 备完 善。毕业 生在
                                                日进 学率、进学 情况 相对比 较良好。</p>
                                            <br/>
                                            <font>课程设置：</font>
                                            <p>某 些学 校还 会开 设 各种 针对 性的 课程 ，例 如留学 生考 试对策、大学院升学辅导、商务就职课程等等。当 然 ，日 本现地 也有 许多
                                                优秀 专业 的 升学 辅导 机 构 供 您 选择。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>学费相关</span>
                                    <div class="absContent">
                                        <i class="arrow t"></i>
                                        <div class="content clearfix sm_cont" style="top: -50px;">
                                            <font>学校费用四部分组成：</font>
                                            <p>1、选考料（报名费）2-3万日元； 2、学校入学金5-10万日元；
                                                3、一年学费50-60万日元左右（语言学校学制最短半年，最长两年）；4、杂费：设施设备，教材、活动
                                                等。每个语言学校的收费标准各不相同，但是基本上第一年的总体费用在70 万日元左右；第二年 的费用一般在60
                                                万日元左右。日本不同地区的学费差异不大，平均差距不会超过5 万日元。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>入学时间</span>
                                    <div class="absContent">
                                        <i class="arrow t"></i>
                                        <div class="content clearfix sm_cont" style="top: -97px; width: 690px;">
                                            <p>日本 语言 学校的入学时间 非常灵活，一年可 以四次 入学，分别 是一月，四月，七月和 十月；日 本大 学的入 学时间都 是在 春季四 月
                                                ，这和我 们国家 秋季入 学的 时间 正 好相反。</p>
                                            <br/>
                                            <!-- <font></font> -->
                                            <p class="redp">四月： 是去日 本留 学最主要 时期，也是国 内很 多应届毕 业生 提早 赴日留学 的最 佳时 间点。</p>
                                            <br/>
                                            <p class="redp">七月： 入读 语言学 校的学制 是九 个月 或 一年九 个月，由于 入学 时间 紧挨 在国内学校毕 业时间，对于部
                                                分无法提 早赴 日的应届高 中或 大学 生 来讲，这 是最佳 的时 间点。</p>
                                            <br/>
                                            <p class="redp">十月： 入学是 仅次 于四月 的一个 入学期，一年 半的学制 既不浪费 时间，又 可让学 生有充裕 时间准 备留 学考
                                                试。</p>
                                            <br/>
                                            <p class="redp">一月： 入学因 为学习 时间最短（一般不能 超过1年3个月），一般都建议日 语至 少3级以 上 或者升学 意愿 不 强烈
                                                的学生 选 择该 时间 段入 学。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="line"></li>
                            </ul>
                        </div>
                    </li>
                    <li class="imgli like">
                        <div class="acrionDc">
                            <div class="circle">
                                <i class="icon"></i>
                            </div>
                            <h3>签约办理</h3>
                        </div>
                        <div class="c">
                            <img src="__PUBLIC__/Sempages/yuyan/images/rice_lg.png" alt="">
                        </div>
                        <div class="showDv">
                            <ul class="listul">
                                <li class="itemli">
                                    <span>签订服务合同</span>
                                </li>
                                <li class="itemli">
                                    <span>协助翻译邮寄</span>
                                </li>
                                <li class="itemli">
                                    <span>付学校报名费</span>
                                </li>
                                <li class="itemli">
                                    <span>面试注意事项</span>
                                    <div class="absContent">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont" style="top: -145px;">
                                            <font>留学动机方面：</font>
                                            <p>主要 是询问学 生的赴日 动机、目 的；为何 会 选择 日本、 本 城市 、本学 校。</p>
                                            <br/>
                                            <font>留学条件方面：</font>
                                            <p>询 问家长 的经 济实 力、在 职单 位、职 务、 年收 入 等。对孩 子出 国留 学 的看 法。</p>
                                            <br/>
                                            <p class="redp">日语提问环节： 涉及 名字 、年龄、 日语学 习时间、 何时毕 业、去日 本学什 么专 业，等 等之 类。还 有也会问
                                                出生 日期， 在哪 个学 校毕 业的，在 哪个学校 学的日 语等等 之类 。 用 日语 问的问题 一般就几个 ，目的只 是想了 解一 下你是否
                                                真 的学过日 语，所以 日语的 问题不 会多 也不会 太难。网 络面 试时 发音 吐字要清 晰，现场 面试时 要 注意 自己 的行 为举 止和
                                                着装 礼仪。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="line"></li>
                            </ul>
                        </div>
                    </li>
                    <li class="imgli paper">
                        <div class="acrionDc">
                            <div class="circle">
                                <i class="icon"></i>
                            </div>
                            <h3>材料办理</h3>
                        </div>
                        <div class="c">
                            <img src="__PUBLIC__/Sempages/yuyan/images/rice_lg.png" alt="">
                        </div>
                        <div class="showDv">
                            <ul class="listul">
                                <li class="itemli">
                                    <span>提供哪些材料</span>
                                    <div class="absContent">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont" style="top: -3px;width: 350px;">
                                            <font>个人部分：</font>
                                            <p>学历 成绩 证明 、护照、 户口本、 日语 能力证 明、报 名照</p>
                                            <br/>
                                            <font>担保人部分：</font>
                                            <p>在职 收 入证 明、 户口 本、存 款证 明和 存单</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>材料相关问题</span>
                                    <div class="absContent">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont" style="top: -48px;width: 350px;">
                                            <p class="redp">什么是担保金： 担保 金是 用来证 明学 生家 庭拥有 足够负 担 学生在 日学 习 生活 费用； 担保金不 需要汇
                                                至海外， 而 是采用 定期 存单 的方式 ，存在担 保人 名下，一 般建议 选择国 内四 大银行 或全国 性的 商 业银行。</p>
                                            <br/>
                                            <p class="redp">担保人概念： 担 保人一 般均为申 请 人的 直系亲 属，建议 选择父 母亲 中 的一 位；如 单人收 入 较低，也可
                                                选 择父母两 人同 时担 保。</p>
                                            <br/>
                                            <p class="redp">关于学历证明： 学 历证明文件 包括毕 业证 书，学 校开具的 在读 或者预 毕业 证明以 及由 中国政府 部门出具
                                                的学历 认证 报告。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="line"></li>
                            </ul>
                        </div>
                    </li>
                    <li class="imgli mail">
                        <div class="acrionDc">
                            <div class="circle">
                                <i class="icon"></i>
                            </div>
                            <h3>获得在留</h3>
                        </div>
                        <div class="c">
                            <img src="__PUBLIC__/Sempages/yuyan/images/rice_lg.png" alt="">
                        </div>
                    </li>
                    <li class="imgli visa">
                        <div class="acrionDc">
                            <div class="circle">
                                <i class="icon"></i>
                            </div>
                            <h3>签证办理</h3>
                        </div>
                        <div class="c">
                            <img src="__PUBLIC__/Sempages/yuyan/images/rice_lg.png" alt="">
                        </div>
                        <div class="showDv">
                            <ul class="listul">
                                <li class="itemli">
                                    <span>提供哪些材料</span>
                                    <div class="absContent b">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont" style="top: -3px;width: 350px;">
                                            <font>换签材料包括：</font>
                                            <p>在留 资格认 定证 明书（日 本入国 管理局 提供）、个 人护 照、照 片1张 、毕业 证原 件、户口 本和担 保人在职 证 明原 件、签 证申请
                                                表和学 生调 查 表。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>签证注意事项</span>
                                    <div class="absContent b">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont"
                                             style="top: -50px;width: 380px;left: -640px;">
                                            <font>· </font>
                                            <p>请根 据 所在地 查询归 属哪个领 区，向 使 领馆指导 的 代办窗 口递 交 材料。</p>
                                            <br/>
                                            <font>· </font>
                                            <p>根据 地 区不 同，签 证收 费和 办理时 间 会有 所不 同。</p>
                                            <br/>
                                            <font>· </font>
                                            <p>嫌麻 烦的 同学可以 委托 我 们代 为换 签，具 体咨 询签 证老师。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="line"></li>
                            </ul>
                        </div>
                    </li>
                    <li class="imgli plane">
                        <div class="acrionDc">
                            <div class="circle">
                                <i class="icon"></i>
                            </div>
                            <h3>赴日留学</h3>
                        </div>
                        <div class="c">
                            <img src="__PUBLIC__/Sempages/yuyan/images/rice_lg.png" alt="">
                        </div>
                        <div class="showDv">
                            <ul class="listul">
                                <li class="itemli">
                                    <span>住宿费用</span>
                                    <div class="absContent b">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont" style="top: -3px;width: 350px;">
                                            <p class="redp">学生宿舍（俗称"寮"）： 通常 分为 4人间、 2人间 和单 人间 。东京 地区 的 月 租价 格，4 人间一 般在
                                                2. 5万— 3.5万 日元 ，2人 间在 3万 -4 .5 万 不等 ，单 人间 一般 在 5 -7万 不 等。其 他地 区相 对 会略
                                                低一些。</p>
                                            <p class="redp">专门性留学生宿舍： 一般 有专 业的宿 舍公 司负 责 运营。 仅限留 学生 居 住，人 源 较 整齐，社 会关 系较
                                                简单 。 租 金 一般 和学 校宿 舍价 格差 不多。</p>
                                            <p class="redp">民间出租住房： 较常 见住 宿 形式 一， 且选 择范 围 较广。需 要日 本 人作连 带担 保人。租 金 根据
                                                地段，房 间大 小和 设 备 差 异比 较大。 从5 万—1 5万不 等。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>生活成本</span>
                                    <div class="absContent b">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont"
                                             style="top: -49px;width: 430px;left: -690px;">
                                            <p class="redp">生活费: 主 要包括住 宿费 用、伙食 费、交 通费用、以 及其 他娱 乐活动 等 费用。根 据日 本学 生 支援 机构
                                                公布 的 数据，日本留 学生平均 每月需 138,000日 元（ 包含 学 费）。</p>
                                            <br/>
                                            <p class="redp">伙食费： 伙 食费 标 准因人而异， 自己 做饭 一定 比外 面买 着吃 会 便 宜很 多。正 常情 况下， 留 学
                                                生每 月的 伙食 费 应 该在3 万—6万日 元不 等。</p>
                                            <br/>
                                            <p class="redp">交通费： 以东京 为例， 地铁成 人单程 票价 种 类有： 160 日元(起 步价1 -6 公里 内)、190 日
                                                元、23 0日 元、2 70 日 元 和30 0日元。电 车(俗称 的 JR线) 一般的 票 价在130-210 日 元。留 学生 还 享有 学
                                                生优惠 ，或者购 买 月 票。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>勤工俭学</span>
                                    <div class="absContent b">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont"
                                             style="top: -49px;width: 430px;left: -690px;">
                                            <p>日本 法务省 根据外国人 签证 种 类（在留资 格）的 不同， 对于 打工时 间和 打工 内容做 出了 严格的 限制。每周 允许 打工 28个
                                                小时（ 就 读大学 院的 学生 14小 时） ，学校 寒暑 假期 间每天 8个小 时。在日 本打 工根 据工作 性质 收 入也不 相 同，目
                                                前东 京 地区 一小时 的薪 水一 般在 900 -120 0日 元不 等。</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>生活知识</span>
                                    <div class="absContent b">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont showHide" data-flag="changshi"
                                             style="top: -49px;width: 430px;left: -690px;">
                                            <p>在 日本 的生活 知识包括 日本 的 货币 、电 源、电 压、交通方 式、手机 网 络 办理、 垃圾处理 知 识、银 行 开户 以及 国民 健 康
                                                保 险等。具体 详 情 请 <a>点击这里。</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="itemli">
                                    <span>行前准备</span>
                                    <div class="absContent b">
                                        <i class="arrow"></i>
                                        <div class="content clearfix sm_cont showHide" data-flag="zhunbei"
                                             style="top: -49px;width: 430px;left: -690px;">
                                            <p>恭喜 你已 经拿 到了赴 日签 证，到 达日本 前有一 些注 意的 要点，包括 行李要 求、常用 物品 、应 急 药物 等等。具体 详 情 请
                                                <a>点击这里。</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="line"></li>
                            </ul>
                        </div>
                    </li>
                    <li class="imgli love">
                        <div class="acrionDc">
                            <div class="circle">
                                <i class="icon"></i>
                            </div>
                            <h3>在日服务</h3>
                        </div>
                        <div class="c">
                            <img src="__PUBLIC__/Sempages/yuyan/images/rice_lg.png" alt="">
                        </div>
                        <div class="showDv">
                            <ul class="listul">
                                <li class="itemli"><span>初到协助</span></li>
                                <li class="itemli"><span>学生聚会</span></li>
                                <li class="itemli"><span>应急协助</span></li>
                                <li class="itemli"><span>打工求职</span></li>
                                <li class="itemli"><span>升学辅导</span></li>
                                <li class="line"></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="blueline"></div>
                <div class="timeline clearfix">
                    <div class="squareP">
                        <div class="s animated infinite wobble"></div>
                        <font>院校检索</font>
                    </div>
                    <div class="squareP">
                        <div class="s animated infinite wobble"></div>
                        <font>制定留学计划</font>
                    </div>
                    <div class="squareP">
                        <div class="s animated infinite wobble"></div>
                        <font>学校面试</font>
                    </div>
                    <div class="squareP">
                        <div class="s animated infinite wobble"></div>
                        <font>电话抽查</font>
                    </div>
                    <div class="squareP">
                        <div class="s animated infinite wobble"></div>
                        <font>支付学费</font>
                    </div>
                    <div class="squareP">
                        <div class="s animated infinite wobble"></div>
                        <font>2</font>
                    </div>
                    <div class="squareP">
                        <div class="s animated infinite wobble"></div>
                        <font>2</font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 零中介 -->
<div class="adv">
    <div class="container">
        <p class="b_title">—<span>为什么零中介？</span>—</p>
        <p id="quote" class="moveFont">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小莺出国，起源于日本远英学研私塾，与传统国内中介不一样。无需中介费，直接在日本点对点为学生申请资质优秀可靠的语言升学服务学校。我们拥有专属的材料老师，从始至终跟进学生申请进程。所有文书材料皆有老师代填，保障零失误。免费顺丰快递邮寄，免费行前指导，赴日后提供专业的免费升咨询服务。从语言学习开始，至名校毕业为止，我们一站式服务。</p>
    </div>
</div>
<!-- 核心优势 -->
<div class="youshi">
    <p class="b_title">—<span>语言学校优势</span>—</p>
    <ul class="clearfix container">
        <li class="mr">
            <div class="left">
                <h3>系统性提高日语能力</h3>
                <p>
                    语言学校全部由<span>日本老师授课</span>，学生生活在日语环境中，对日语提高大有裨益。
                </p>
            </div>
            <img src="__PUBLIC__/Sempages/yuyan/images/ys_a.jpg" alt="">
        </li>
        <li>
            <div class="left">
                <h3>提供众多奖学金</h3>
                <p>
                    语言学校提供<span>出勤奖学金、努力奖学金、升学奖学金等众多奖学金</span>，以促进学生学习。
                </p>
            </div>
            <img src="__PUBLIC__/Sempages/yuyan/images/ys_b.jpg" alt="">
        </li>
        <li class="mr mr3">
            <div class="left">
                <h3>完善的升学指导</h3>
                <p>
                    语言学校根据学生的学历和目标不同，<span>分为不同的班级进行指导</span>，对于升学有很大益处。
                </p>
            </div>
            <img src="__PUBLIC__/Sempages/yuyan/images/ys_c.jpg" alt="">
        </li>
        <li class="mr4">
            <div class="left">
                <h3>灵活的开学时间</h3>
                <p>
                    日本语言学校全年有<span>1月、4月、7月、10月</span>四次开学时间，学生可以灵活选择入学时间。
                </p>
            </div>
            <img src="__PUBLIC__/Sempages/yuyan/images/ys_d.jpg" alt="">
        </li>
        <li class="mr mr3">
            <div class="left">
                <h3>学生可以合法打工</h3>
                <p>
                    读日本语言学校的学生可以<span>合法打工</span>，部分院校可进行相关打工介绍。
                </p>
            </div>
            <img src="__PUBLIC__/Sempages/yuyan/images/ys_e.jpg" alt="">
        </li>
        <li class="mr4">
            <div class="left">
                <h3>提前感受国际化氛围</h3>
                <p>
                    学生可以和<span>众多国家和地区来的学生</span>在一起学习交流，提前感受国际化氛围。
                </p>
            </div>
            <img src="__PUBLIC__/Sempages/yuyan/images/ys_f.jpg" alt="">
        </li>
    </ul>
</div>
<!-- 专业顾问 -->
<div class="stars">
    <div class="container">
        <p class="b_title">—<span>专业顾问</span>—</p>
        <div class="clearfix mainB">
            <div class="sbk">
                <p class="tp">为你度身定制的留学计划！</p>
                <p>已有数千名学生通过我们成功赴日！</p>
                <div class="icon"><span class="a"></span></div>
            </div>
            <div class="sbk">
                <p class="tp">顾问平均从业5年以上</p>
                <p>服务200名以上学生的资深顾问</p>
                <div class="icon"><span class="b"></span></div>
            </div>
            <div class="sbk">
                <p class="tp">2018年辗转全国60城市</p>
                <p>只为与家长学生面对面交流！</p>
                <div class="icon"><span class="c"></span></div>
            </div>
            <div class="sbk">
                <p class="tp">现场提供第一手留学资料</p>
                <p>内容囊括整个留学生涯！</p>
                <div class="icon"><span class="d"></span></div>
            </div>
        </div>
        <div class="flexslider activity-info">
            <ul class="slides clearfix infoUl">
                <li class="li" v-for="n in teacherData">
                    <a href="" target="_blank" :title="n.name">
                        <img v-bind:src="'__PUBLIC__/Sempages/yuyan/images/teacher/'+n.imgUrl+'.jpg'" width="80px"
                             height="80px" :alt="n.name">
                    </a>
                    <span class="con-name">
                            <a href="javascript:;" v-html="n.name"><br/>
                                <span v-html="n.title"></span>
                        </a>
                        </span>
                    <p class="activity-introduction" v-html="n.des"></p>
                    <p class="activity-offers">近期服务案例<span v-html="n.num"></span>个</p>
                    <span class="activity-btn" onclick="_MEIQIA('showPanel')">预约咨询</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 申请案例 -->
<div class="case">
    <div class="container">
        <p class="b_title">—<span>申请案例</span>—</p>
        <div class="poster-main" id="carousel" data-setting='{
            "width":1050,
            "height":330,
            "posterWidth":798,
            "posterHeight":330,
            "scale":0.7,
            "speed":800,
            "autoPlay":true,
            "delay":6000,
            "verticalAlign":"middle"
        }'>
            <div class="poster-btn poster-prev-btn"></div>
            <ul class="poster-list">
                <li class="poster-item">
                    <img class="img" src="__PUBLIC__/Sempages/yuyan/images/head.png" alt="" width="248px"/>
                    <ul>
                        <li>李同学</li>
                        <li>国内大学二本日语专业毕业五年</li>
                        <li>
                            学生毕业时间长但日语较好，想申请升学类院校。小莺推荐了千驮谷日本语学校，并帮学生申请到5万日元奖学金。学生一年时间转经济学考入日本前三的大阪大学大学院博士前期课程。
                        </li>
                        <li>
                            <a href="javascript:;" onclick="_MEIQIA('showPanel')">院校申请</a>
                            <a href="javascript:;" onclick="_MEIQIA('showPanel')">详情咨询</a>
                        </li>
                    </ul>
                </li>
                <li class="poster-item">
                    <img class="img" src="__PUBLIC__/Sempages/yuyan/images/head.png" alt="" width="248px"/>
                    <ul>
                        <li>陈同学</li>
                        <li>国内普通大学毕业，无日语</li>
                        <li>
                            学生想要去东京地区的大学院，日语程度一般，小莺根据情况推荐赤门会日本语学校，并成功帮助学生获得录取。通过一年半的系统学习，学生达到日语一级，并直入公立首都大学东京的修士课程。
                        </li>
                        <li>
                            <a href="javascript:;" onclick="_MEIQIA('showPanel')">院校申请</a>
                            <a href="javascript:;" onclick="_MEIQIA('showPanel')">详情咨询</a>
                        </li>
                    </ul>
                </li>
                <li class="poster-item">
                    <img class="img" src="__PUBLIC__/Sempages/yuyan/images/head.png" alt="" width="248px"/>
                    <ul>
                        <li>王同信</li>
                        <li>国内日语专业，日语五级。</li>
                        <li>
                            学生考虑到日本读修士，虽日语有一定的基础但口语不佳，小莺老师规划学生先到冈精英日本语学校进行巩固，并帮学生争取到10万日元的奖学金。
                        </li>
                        <li>
                            <a href="javascript:;" onclick="_MEIQIA('showPanel')">院校申请</a>
                            <a href="javascript:;" onclick="_MEIQIA('showPanel')">详情咨询</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="poster-btn poster-next-btn"></div>
        </div>
    </div>
</div>
<!-- 授权书 -->
<div class="shouquan">
    <div class="container">
        <p class="b_title">—<span>小莺出国合作授权书</span>—</p>
        <div class="flexslider listLi">
            <ul class="slides">
                <li v-for="n in shouquanData">
                    <img v-bind:src="'__PUBLIC__/Sempages/yuyan/images/shouquan/'+n.imgUrl+'.jpg'" :alt="n.name">
                    <p v-html="n.name"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="" style="margin-top: -40px;">
    <p class="b_title">—<span>全国各地分校地址</span>—</p>
    <!-- todo 全国各地分校地址的公共模板需要引入! -->
</div>
<footer>
    <p>
        全国统一电话：4000150170
        <br/>
        <a href="http://www.miitbeian.gov.cn" target="_blank">苏ICP备17069390号</a> 版权所有：苏州小莺教育科技有限公司
    </p>
</footer>
<!-- 左侧 -->
<div class="bottom_Form">
    <div class="fixedLeft">
        <img src="__PUBLIC__/Sempages/yuyan/images/an_block.png" class="imgBox">
        <img src="__PUBLIC__/Sempages/yuyan/images/an_shadow.png" class="an_shadow">
    </div>
</div>
<div class="b_formPart">
    <div class="main">
        <div class="container">
            <div class="an_showDv">
                <img src="__PUBLIC__/Sempages/yuyan/images/an_show.png" class="an_show">
            </div>
            <div class="content xy_form xy_form_b">
                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
                    <div class="item">
                        <input type="text" class="" placeholder="">
                    </div>
                </div>
                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
                    <div class="item select">
                        <select class=""></select>
                    </div>
                </div>
                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_b13" style="display: none;">
                    <div class="item select full">
                        <select class=""></select>
                    </div>
                </div>
            </div>
            <div class="item btn" id="subb">
                <span class="xy_submit">提交</span>
            </div>
            <div class="qrcode">
                <div class="imgDv">
                    <img src="__PUBLIC__/Sempages/yuyan/images/social.png">
                </div>
                <p>扫描课程顾问微信 获取专业解答</p>
            </div>
        </div>
    </div>
    <img src="__PUBLIC__/Sempages/yuyan/images/close.png" class="closeb">
</div>
<!-- 生活常识 -->
<div class="sweet-alert showSweetAlert" id="changshi" style="margin-top: -369px;">
    <h2><font style="color:#ccc">------------------- 生活知识 ------------------</font></h2>
    <p style="display: block;">
        <font>日本货币</font>：日元有1000、2000、5000、10000元4种纸币，硬币共分1、5、10、50、100、500元6种。在日本的外汇兑换银行或者其他法定的外汇现金兑换处都可以将人民币兑换成日元；在主要的国际机场,也有为顾客提供货币兑换服务的外汇兑换窗口。初次赴日本留学，可适当准备一些零钱，用于乘坐公共交通、打电话等。
        <br>
        <font>日本时间</font> ：日本时间比北京时间早1小时。
        <br>
        <font>电压插座</font>：电压：日本的电压为 110V。插座：日本的用电插座是双平脚插座。圆柱形插头和三平脚插座插头在日本是无法使用的。所以，去日本留学时请带好转换插头。
        <br>
        <font>交通方式</font>：日本的交通出行很方便，出门尽量使用城市轻轨或地铁等公共交通。经常坐的路线可以买月票，一般分为1个月，3个月，半年。留学生一般可以凭学生证购买“通学”的打折月票。
        <br>
        <font>手机申请</font>：关于日本手机办理：在日本的中国留学生和华人基本都选择是有日本三大手机运营商之一的SOFTBANK公司的手机。只要携带学生证或保险证，银行口座，印章，就能够办理包括IPHONE在内任意一款手机。
        <br>
        <font>网络办理</font>：在日本一般办理上网有以下几种方法：（1）向网络代理公司申请；（2）在购买电脑时在电器店申请办理；（3）向住宅合作网络公司申请。日本的网费一般都是按月计算，价格在3000～5000日元之间。留学生办理时需要的证件是：在留卡，学生证或保险证，银行口座，印章。
        <br>
        <font>垃圾处理</font>：在日本留学生活中乱扔垃圾是一个很严重的问题。垃圾一般分为可燃垃圾、不可燃垃圾、大型垃圾。由于每天扔垃圾的地点和时间已经确定，请按照规定的方式扔垃圾。
        <br>
        <font>银行开户</font>：日本的银行每个工作日的早上9点至下午3点期间营业。工作日期间早上8点到晚上9点，以及周末早上9点到下午5点可使拥自动柜员机。有了银行账户，每个月可以通过银行自动支付水电，电话费用。另外，有关部门可以通过银行账户将医疗费，税金退还给你，奖学金团体可以通过银行户头把奖学金汇给你，打工的工资也可以打到银行户头上。
        开户头所需材料： 在留卡、印章、学生证
        <br>
        <font>国民健康保险</font>：对于日本留学时间超过一年的留学生来说，就可以加入日本国民健康保险体系，享受到国民健康保险福利，一年的保费在9000-13000日元(约合600-1000元人民币)。加入后看病时自己仅需负担总医疗费的30%。加入手续在自己居住地的市(区)役所国民健康保险课办理。
    </p>
    <button class="close">关闭</button>
</div>
<!-- 行前准备 -->
<div class="sweet-alert showSweetAlert" id="zhunbei" style="margin-top: -381px;">
    <h2><font style="color:#ccc">------------------- 行前准备 ------------------</font></h2>
    <p>
        <font>托运行李须知</font>
        ：一般的航空公司规定可以带两件免费托运行李，一件可以带到飞机内的手提行李。托运行李的重量一般为单件不能超过23公斤，手提行李重量为不超过5公斤。托运行李超重的话，罚金很重。每个航空公司稍有不同。出发前最好与航空公司确认一下有关规定。
        <br>
        <font>护照、在留资格认定书和入学通知书</font>
        ：护照自不必说，在留资格认定书和入学通知书等资料也要随身携带，不能放在托运行李中。因为在取托运行李之前需要先办理入国手续，入管局官员可能要求出示在留资格认定书和入学通知书。
        <br>
        <font>黑色圆珠笔</font> ：出入境时要填写各种表格，所以要随身携带一支黑色的圆珠笔。普通的圆珠笔或铅笔在百元店都有的卖，不需要戴上10支20支的备用，行李里面放上隔两三支足够了。
        <br>
        <font>印章</font>
        ：在日本刻章很贵，而且往往一来日本到银行开账户等很多情况下都需要印章，所以从国内带来较方便。日本通常用直径13-16毫米左右的圆章，而不是方章，字体最好使用繁体字，篆体等不容易被模仿的字体比较受欢迎。日本不承认橡皮章等软的印章，不需要印泥的原子章不能作为银行印使用，印章的材料最好是牛角等轻便又耐用的。
        <br>
        <font>证件照</font>
        ：证件照在日本办各种证件，找工作填履历书时都需要用彩色免冠照片。最经常用的尺寸是2寸的彩照，背景用白色或者蓝色为好。在日本照相馆拍3张2寸彩照至少需要2500日元左右，即使是一次性的无人操作的照相也要600日元，而且效果不太好。所以最好准备20-30张2寸，10张1寸的彩色免冠证件照备用。
        <br>
        <font>携带日币</font>
        ：日元通常应该携带至少3个月的生活费，大约20-30万日元。因为到了日本之后，不一定能够马上找到工作，即使是很快找到工作，也一般实行月给，拿到工资也是在一个月以后。也就是说到日本拿到第一份薪水，最顺利的情况下也大约需要2个月的时间。
        <br>
        <font>随身日币</font>
        ：另外要随身携带一些日元，供下飞机后购买电车票，机场大巴票等使用。通常有1，2万日元就足够了。方便给父母打电话报平安，机场的公用电话可以使用硬币，有几枚100日元的硬币就够了。如果不能事先准备硬币的话，可以在机场的商店买瓶水或者小东西找零（商店都不给兑换零钱）。或者购买专用电话卡，但是电话卡可能以后用的机会不是很多。
        <br>
        <font>药品</font> ：药品可以携带少量的常规备用药（感冒类、退烧类、肠胃类等），但不用大量携带。特别是液体状的药最好不要带。</p>
    <button class="close">关闭</button>
</div>
<div class="sweet-overlay"></div>
</body>

</html>