
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>日本读研TOP10名校签约-专注日本读研|院生考试|修士直申|日本研究生|日本读研咨询|日本读研费用|赴日读研名校申请！</title>
    <meta name="keywords" content="日本读研,日本研究生,赴日读研,日本读研条件,日本读研费用" />
    <meta name="description" content="小莺出国日本专注日本名校研究生申请，提供日本读研，日本研究生，赴日读研申请服务，为您解答日本读研条件，日本读研费用等问题，是日本读研的首选品牌！" />
    <link rel="stylesheet" type="text/css" href="/Public/Sempages/newdy/css/global.css" />
    <link rel="stylesheet" href="/Public/Sempages/liuxuezhan/js/carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/Public/Sempages/newdy/css/graduate.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Sempages/newdy/css/zhanhui.css" />
    <link rel="stylesheet" href="/Public/Sempages/newindex/css/swiper.min.css" media="all" />
    <script src="/Public/js/uaredirect.js" type="text/javascript"></script>
    <script src="/Public/js/GETGOTO.js" type="text/javascript"></script>
    <script type="text/javascript">
    uaredirect("http://m.eggelite.com/duyan/");
    </script>
    <script src="/Public/js/vue.min.js"></script>
    <script src="/Public/Sempages/newdy/plugins/jquery/jquery-3.1.1.min.js"></script>
    <script src="/Public/Sempages/liuxuezhan/js/data.js?v=201807300942"></script>
    <script src="/Public/Sempages/liuxuezhan/js/carousel/owl.carousel.min.js"></script>
</head>
<style>
.jq {
    border: solid #F00 0px;
    position: relative;
    height: 360px;
}

.jq img {
    position: absolute;
}

.jq div.postion1 {
    top: 0;
    left: 0
}

.jq div.postion2 {
    top: 0;
    left: 158px
}

.jq div.postion3 {
    top: 0;
    left: 288px
}

.jq div.postion4 {
    top: 0;
    left: 510px
}

.jq div.postion5 {
    top: 0;
    left: 670px
}

.jq div.postion6 {
    top: 0;
    left: 829px
}

.jq div.postion7 {
    top: 145px;
    left: 0
}

.jq div.postion8 {
    top: 98px;
    left: 158px
}

.jq div.postion9 {
    top: 127px;
    left: 288px
}

.jq div.postion10 {
    top: 127px;
    left: 399px
}

.jq div.postion11 {
    top: 80px;
    left: 510px
}

.jq div.postion12 {
    top: 160px;
    left: 510px
}

.jq div.postion13 {
    top: 160px;
    left: 707px
}

.jq div.postion14 {
    top: 189px;
    left: 829px
}

.jq div.postion15 {
    top: 240px;
    left: 0
}

.jq div.postion16 {
    top: 240px;
    left: 208px
}

.jq div.postion17 {
    top: 240px;
    left: 366px
}

.jq div.postion18 {
    top: 280px;
    left: 510px
}

.jq div.postion19 {
    top: 280px;
    left: 634px
}

.jq div.postion20 {
    top: 309px;
    left: 829px
}

.jq p {
    color: #626161;
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px
}

a,
a:link {
    border: none;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis
}

.jq div {
    position: relative
}

.jq div span {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    background: #43b8a9;
    height: 0;
    overflow: hidden
}



/*cases表格样式*/

.case_table {
    width: 1080px;
    border: 0px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.case_table th,
td,
tr {
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 0;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.case_table td {
    font-size: 14px;
}

.change-color {
    background-color: #DAD8D8;
}
</style>

<body style="overflow-x:hidden;">
    <header class="header">
        <p>
            <a href="">
            <img style="height:69px;margin-right:15px;" src="/Public/Sempages/newheader/logo.svg"/>
        </a>
            <span>18年专注日本读研申请</span>
        </p>
        <span><img src="/Public/Sempages/images/tel.png"></span>
    </header>
    <!--<div class="banner_g">
    <a href="javascript:vide(0)" onclick="_MEIQIA('showPanel')">
        <img src="/Public/Sempages/newdy/graduate_imgs/55.png"/>
    </a>
    <div>

    </div>
</div>-->
    <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="/duyan"><img src="/Public/Sempages/newdy/graduate_imgs/55.png" alt=""></a></div>
            <!-- <div class="swiper-slide" ><a href="/yuyan"><img src="/Public/Sempages/newindex/images/banner-02.jpg" alt=""></a></div>
        <div class="swiper-slide" ><a href="/ztclk"><img src="/Public/Sempages/newindex/images/banner-03.jpg" alt=""></a></div> -->
            <div class="swiper-slide"><a href="/zhanhui2018"><img src="/Public/Sempages/newindex/images/banner-04.jpg" alt=""></a></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
    </div>
    <div class="nav_g">
        <div>
            <a href="#1">研究生与修士</a>
            <a href="#2">研究生优势</a>
            <a href="#3">读研方案</a>
            <a href="#4">2017年升学榜</a>
            <a href="#5">顶尖团队</a>
            <a href="#6">读研集训营</a>
            <a href="#7">常见问题</a>
            <a href="#8">名校保录范围</a>
        </div>
    </div>
    <style>
    .strength-container {
        width: 32%;
        padding: 5px;
        float: left;
        margin: 0px;
    }

    .strength-container h3 {
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        margin-top: 18px;
        margin-bottom: -10px;
    }

    .strength-container .strength-content {
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        box-shadow: 2px 3px 10px #f2f2f2
    }

    .strength-container .strength-content .strength-header {
        height: 80px;
        padding-top: 40px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .strength-container .strength-content .strength-body {
        height: 150px;
        padding-top: 20px;
        font-size: 15px;
        line-height: 28px;
        padding: 20px;
    }

    .section {
        text-align: center;
        padding: 30px 0px 30px 0px;
    }

    .section h3 {
        font-size: 30px !important;
        font-weight: 600;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    ._content_item {
        width: 1050px;
        /*height: 1562px;*/
        margin: 0 auto;
        /*position: relative;*/
    }

    ._content_item>div {
        width: 520px;
        height: 521px;
        float: left;
        position: relative;
    }

    ._content_item>div:nth-of-type(2n) {
        float: right;
    }

    ._content_item>div>div {
        width: 480px;
        text-align: center;
        padding: 28px 16px;
    }

    ._content_item>div>div>img {
        width: 380px;
        height: 230px;
    }

    ._content_item>>div>div>h3 {
        font-size: 28px;
        color: #333333;
        line-height: 40px;
        padding-bottom: 10px;
        margin-top: 20px;
        background: url(/Public/Sempages/newdy/graduate_imgs/_7.png)no-repeat center bottom;
    }

    ._content_item>div>div>p {
        font-size: 20px;
        color: #666666;
        line-height: 28px;
    }

    ._content_item>div>div>span {
        display: block;
        width: 30px;
        height: 30px;
        margin: 15px auto;
        /*cursor: pointer;*/
    }

    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    ._content_item>div>div>span>img {
        width: 100%;
    }

    ._content_item_box {
        background: #FFFFFF;
        box-shadow: 0 0 21px 0 rgba(62, 128, 251, 0.21);
        border-radius: 5px;
        z-index: 999;
        position: absolute;
        top: 0;
        background: white;
    }
    </style>
    <!-- 三大优势 -->
    <div class="j_item">
        <div class="strength-container">
            <div class="strength-content">
                <div class="strength-header" style="background:url('/Public/Sempages/plan/img/feature_img3.jpg')">
                </div>
                <h3>18年专注日本读研申请</h3>
                <div class="strength-body">
                    <p>
                        因为专注，所以专业！
                        <br> 东京大学博士团队负责教学文案/考试培训
                        <br> 招生、申请、在日服务全部由内部团队一站式完成！
                        <br> 承诺不录取退款更有保障！
                    </p>
                </div>
            </div>
        </div>
        <div class="strength-container">
            <div class="strength-content">
                <div class="strength-header" style="background:url('/Public/Sempages/plan/img/feature_img7.jpg')">
                </div>
                <h3>名校申请人数遥遥领先</h3>
                <div class="strength-body">
                    <p>
                        我们只用升学数字说话！
                        <br> 东京大学: <span style="color:red;font-weight:600">219人</span>
                        <br> 早稻田大学: <span style="color:red;font-weight:600">193人</span>
                        <br> MARCH以上大学： <span style="color:red;font-weight:600">3989人</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="strength-container">
            <div class="strength-content">
                <div class="strength-header" style="background:url('/Public/Sempages/plan/img/feature_img8.jpg')">
                </div>
                <h3>专业服务全程覆盖</h3>
                <div class="strength-body">
                    <p>
                        <span style="font-weight:600">前期服务</span>: 留学日语培训/留学生涯规划
                        <br>
                        <span style="font-weight:600">申请服务</span>:研究生申请/修士申请/SGU/G30
                        <br>
                        <span style="font-weight:600">考试培训</span>:修士考试培训/研究计划/面试培训
                        <br>
                        <span style="font-weight:600">在日服务</span>:接机/送考/租房/在日就职支援
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- 三大优势 -->
    <section class="section" style="background:#f6fafd">
        <div class="g_content" style="">
            <div id="1">
                <h3 style="margin-top:40px;margin-bottom:20px">研究生VS院生: 业内率先提出修士签约保录</h3>
                <img class="g_img" src="/Public/Sempages/newdy/graduate_imgs/56.png" />
                <p> 日本的“研究生”虽然与中国研究生同字，但是实质上是一种旁听生，不具备学籍。日本正规的硕士叫做院生或修士，是大学正规编 制毕业后颁发毕业证书。
                </p>
                <p>
                    研究生要想转为正式的院生，一样要和其他学生一起参加日本的统一修士考试，很多留学机构将研究生与修士的概念混为一谈，误导学生只要申请研究生就能100%被录取成为修士，这种概念是错误的。在申请完研究生以后，能否帮助学员有效的备考修士考试成为日本读研申请至关重要的一步。
                </p>
                <br>
                <br>
            </div>
        </div>
    </section>
    <section class="section" style="background:#fff">
        <div id="2">
            <h3>日本读研优势</h3>
            <img style="width:900px;margin:auto;" src="/Public/Sempages/newdy/graduate_imgs/69.png" />
            <br>
            <br>
            <br>
        </div>
    </section>
    <section class="section" style="background:#f6fafd">
        <div class="g_content">
            <div class="d_item" id="3">
                <h3>四大日本读研方案</h3>
                <!-- 
<a href="">前期咨询<img src="/Public/Sempages/newdy/graduate_imgs/57.png"/> </a>
        <a href="">进院校选专业<img src="/Public/Sempages/newdy/graduate_imgs/57.png"/> </a>
        <a href="">留学评估<img src="/Public/Sempages/newdy/graduate_imgs/57.png"/> </a>
        <a href="">确定留学方案<img src="/Public/Sempages/newdy/graduate_imgs/57.png"/> </a>
        <a href="">签证及准备<img src="/Public/Sempages/newdy/graduate_imgs/57.png"/> </a>
        <a href="">赴日赶考/留学<img src="/Public/Sempages/newdy/graduate_imgs/57.png"/> </a>
 -->
            </div>
            <div class="g_tab">
                <span>根据自身的情况和所处阶段，灵活、专业、全面的为你 提升核心竞争力!</span>
                <!-- <div class="tab_img">
            <img src="/Public/Sempages/newdy/graduate_imgs/1.png"/>
            <img src="/Public/Sempages/newdy/graduate_imgs/2.png"/>
            <img src="/Public/Sempages/newdy/graduate_imgs/3.png"/>
            <img src="/Public/Sempages/newdy/graduate_imgs/4.png"/>
            <a style="margin-top:10px;" href="javascript:vide(0)" class="lick_but img_but"
           onclick="_MEIQIA('showPanel')">点击了解更多信息</a>
        </div>
        <div class="tab_but">
            <span class="active_tab">TOP10修士直考签约班</span>
            <span>SGU/G30英语修士直申签约</span>
            <span> 日本研究生(旁听生)申请</span>
            <span>语言学校+修士考试辅导</span>
        </div> -->
                <div class="_content_item">
                    <style>
                    .plan-detail-container {
                        background: #fff;
                        margin-bottom: 100px;
                        height: 400px
                    }

                    .plan-detail-container img {
                        width: 100%
                    }

                    .plan-detail-container h3 {
                        margin-bottom: 10px;
                        font-size: 24px!important;
                    }

                    .plan-detail-container p {
                        font-size: 16px!important;
                    }
                    </style>
                    <div>
                        <div class="plan-detail-container">
                            <img src="/Public/Sempages/newdy/graduate_imgs/1.jpg" />
                            <h3>修士直考保证班</h3>
                            <p>
                                国内大二大三开始复习修士考试，毕业后直接参加修士考试。平均节省了20余万元人民币和1-2年的过渡性学习时间，完美对接日本大学。
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="plan-detail-container">
                            <img src="/Public/Sempages/newdy/graduate_imgs/2.jpg" />
                            <h3>SGU/G30英语修士直申签约</h3>
                            <p class="ellipsis">
                                以英语成绩直接申请东京大学、京都大学、早稻田大学等37所顶尖院校英语项目，英文授课。
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="plan-detail-container">
                            <img src="/Public/Sempages/newdy/graduate_imgs/3.jpg" />
                            <h3>日本研究生(旁听生)申请</h3>
                            <p class="ellipsis">
                                日本研究生是一种旁听生，留学生可以选择旁听，业余时间复习日本大学修士考试，通过考试后转为修士。
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="plan-detail-container">
                            <img src="/Public/Sempages/newdy/graduate_imgs/4.jpg" />
                            <h3>语言学校+私塾修士考试辅导</h3>
                            <p class="ellipsis">
                                日本语言学校是留学生备考日本大学考试设立的预备学校。 小莺出国与日本200多所语言学校建立合作关系，直接申请无需任何中介费用。
                            </p>
                        </div>
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>
    <div class="g_content">
        <div class="g_list" id="4">
            <h3>名校升学榜</h3>
            <div style="text-align:center">
                <img style="width:880px;" src="/Public/Sempages/newdy/graduate_imgs/58.png" /></div>
            <!-- 
<ul>
            <li>
                <a href="">
                    <img src="/Public/Sempages/newdy/graduate_imgs/logo2.png"/>
                    <p>
                        <span>王懿崚 成功录取东京大学 经济学</span>
                        <span>托福：93 托福93</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/Public/Sempages/newdy/graduate_imgs/logo2.png"/>
                    <p>
                        <span>张同学 成功录取东京大学 UTIPE</span>
                        <span>托福：103 托福103</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/Public/Sempages/newdy/graduate_imgs/logo2.png"/>
                    <p>
                        <span>庞明芷 成功录取东京大学 TMI</span>
                        <span>托福：96 托福96</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/Public/Sempages/newdy/graduate_imgs/logo2.png"/>
                    <p>
                        <span>杨英 成功录取东京大学 新领 </span>
                        <span>托福：93 托福93</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/Public/Sempages/newdy/graduate_imgs/logo2.png"/>
                    <p>
                        <span>黎晟 成功录取东京大学 金融</span>
                        <span>托福：91 托福91</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/Public/Sempages/newdy/graduate_imgs/logo2.png"/>
                    <p>
                        <span>陈L 成功录取东京大学 工学</span>
                        <span>托福：99 托福99</span>
                    </p>
                </a>
            </li>
        </ul>
 -->
        </div>
        <!-- <a href="javascript:vide(0)" class="lick_but" onclick="_MEIQIA('showPanel')">查看全部案例</a> -->
    </div>
    </div>
    <!-- <div class="content" id="cases_table">
        <table class="case_table" border="0">
            <thead>
                <tr>
                    <th>年份</th>
                    <th>学员</th>
                    <th>出身院校</th>
                    <th>本科专业</th>
                    <th>GPA</th>
                    <th>语言能力</th>
                    <th>录取大学</th>
                    <th>录取专业</th>
                    <th>录取类型</th>
                    <th>留学方案</th>
                </tr>
            </thead>
            <tbody id="case_table">
            </tbody>
        </table>
    </div> -->
    <a style="margin-top:10px;" href="javascript:vide(0)" class="lick_but" onclick="_MEIQIA('showPanel')">点击了解更多信息</a>
    <section class="section" style="background:#f6fafd" style="margin-top:40px;padding-bottom:20px;">
        <div class="g_content">
            <div class="g_teacher" id="5">
                <h3>顶尖名校与留学顾问团队</h3>
                <!--
                    <img src="/Public/Sempages/newdy/graduate_imgs/59.png" />
             -->
                <ul>
                    <li>
                        <img src="/Public/Sempages/newdy/graduate_imgs/mingpian.png" />
                        <a href="javascript:vide(0)" onclick="_MEIQIA('showPanel')">预约咨询</a>
                    </li>
                    <li>
                        <img src="/Public/Sempages/newdy/graduate_imgs/mingpian1.png" />
                        <a href="javascript:vide(0)" onclick="_MEIQIA('showPanel')">预约咨询</a>
                    </li>
                    <li>
                        <img src="/Public/Sempages/newdy/graduate_imgs/mingpian2.png" />
                        <a href="javascript:vide(0)" onclick="_MEIQIA('showPanel')">预约咨询</a>
                    </li>
                    <li>
                        <img src="/Public/Sempages/newdy/graduate_imgs/mingpian3.png" />
                        <a href="javascript:vide(0)" onclick="_MEIQIA('showPanel')">预约咨询</a>
                    </li>
                </ul>
                <br>
                <br>
                <br>
            </div>
        </div>
    </section>
    <div class="g_content">
        <!-- 展会行程 -->
        <section class="section section3 fixedBg">
            <div class="container">
                <div class="titleDv">
                    <h3>2018年展会行程</h3>
                </div>
                <h4>2018年整年循环，60座城市，带给你想要的一切</h4>
                <ul class="month owl-carousel">
                    <li data-m='1'>01月</li>
                    <li data-m='2'>02月</li>
                    <li data-m='3'>03月</li>
                    <li data-m='4'>04月</li>
                    <li data-m='5'>05月</li>
                    <li data-m='6'>06月</li>
                    <li data-m='7'>07月</li>
                    <li data-m='8'>08月</li>
                    <li data-m='9'>09月</li>
                    <li data-m='10'>10月</li>
                    <li data-m='11'>11月</li>
                    <li data-m='12'>12月</li>
                </ul>
                <ul class="s_info">
                    <li>
                        <img src="/Public/Sempages/newdy/graduate_imgs/zd.png" alt="">
                        <p v-text="current.s_name"></p>
                        <div class="cover"></div>
                    </li>
                    <li>
                        <img src="/Public/Sempages/newdy/graduate_imgs/sj.png" alt="">
                        <p v-text="current.s_time"></p>
                        <div class="cover"></div>
                    </li>
                    <li>
                        <img src="/Public/Sempages/newdy/graduate_imgs/wz.png" alt="">
                        <p v-text="current.s_address"></p>
                        <div class="cover"></div>
                    </li>
                </ul>
                <ul class="itemDate owl-carousel" v-for="(n,index) in date" v-show="index == 0" :class="'owl_'+n.month">
                    <li class="li" v-for="(s,index) in n.item" :data-name="s.s_name" :data-time="s.s_time" :data-address="s.s_address">
                        <div class="imgDv">
                            <img :src="s.s_src" alt="">
                        </div>
                        <div class="info">
                            <p v-text="s.s_name"></p>
                            <a :href="'/liuxuezhanform?id='+s.id" class="goenroll" target="_blank">立即报名</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <section class="section" style="background:#ffd900">
        <div class="g_content">
            <div class="g_apply">
                <h3>免费报名日本读研集训营</h3>
                <div class="apply">
                    <div style="margin-bottom: 10px !important;display: none;" id="show_zh_info">
                        参展城市:<b id="show_addr" style="color: #757583;">未知</b> 　　　 参展场次:
                        <b id="show_time" style="color: #757583;">未知</b>
                    </div>
                    <br>
                    <div class="xy_form xy_form_b">
                        <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
                            <p>
                                <input type="text" id="" placeholder="" />
                            </p>
                        </div>
                        <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
                            <p>
                                <select name="" id="" class=""></select>
                            </p>
                        </div>
                    </div>
                    <input type="hidden" name="zh_addr" id="zh_addr">
                    <input type="hidden" name="zh_time" id="zh_time">
                    <a href="javascript:vide(0)" class="lick_but" style="display: inline-block;" onclick="_MEIQIA('showPanel')">在线咨询</a>
                    <button id="button_2" class="submit1_2 xy_submit_b xy_submit">马上报名</button>
                </div>
            </div>
        </div>
        </div>
    </section>
    </div>
    <div style="background:#f6fafd">
        <h3 style="    font-size: 30px!important;
    font-weight: 600;
    text-align: center;
    padding-top: 55px;
    margin-bottom: 55px;">全国各地分校地址</h3> <style>
#schoolAddress {
    width: 100%;
    padding-bottom: 70px;
}

#schoolAddress .mainContent {
    width: 1050px;
    margin: 0 auto;
    font-size: 0;
    position: relative;
}

.x_border {
    position: absolute;
    width: 100%;
    height: 8px;
    background: #EFEFEF;
    bottom: 0;
}

#schoolAddress .mainContent .addresstop {
    position: relative;
    width: 100%;
    z-index: 100;
}

.addressHead {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    padding: 0;
}

.addressHead::-webkit-scrollbar {
    display: none
}

#schoolAddress .mainContent .cityname {
    font-size: 24px;
    color: #333333;
    display: inline-block;
    width: 20%;
    text-align: center;
    padding-bottom: 18px;
    position: relative;
    z-index: 2;
}

#schoolAddress .mainContent .cityname:hover {
    cursor: pointer;
}

#schoolAddress .mainContent .cityname.active {
    border-bottom: 8px solid #FBD92E;
}

#schoolAddress .mainContent .x_add_list {
    display: none;
    padding: 0;
    margin: 0;
}

#schoolAddress .mainContent .x_add_list .s_address_list {
    display: block;
    font-size: 0;
    margin-top: 30px;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 20px;
}

#schoolAddress .mainContent .x_add_list .s_address_list:last-child {
    border: none;
}

#schoolAddress .mainContent .x_add_list .s_address_list .iimg {
    width: 570px;
    height: 160px;
    display: inline-block;
}

#schoolAddress .mainContent .x_add_list .s_address_list .wayToInfo {
    width: 460px;
    margin-left: 20px;
    font-size: 18px;
    color: #333333;
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
}

#schoolAddress .mainContent .x_add_list .s_address_list .addressFont {
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    margin-top: 15px;
}
</style>
<div id="schoolAddress">
    <div class="mainContent">
        <div class="addresstop">
            <ul class="addressHead">
                <li class="cityname active" data-city="shanghai_tab">上海</li>
                <li class="cityname" data-city="nanjing_tab">南京</li>
                <li class="cityname" data-city="suzhou_tab">苏州</li>
                <li class="cityname" data-city="chengdu_tab">成都</li>
                <li class="cityname" data-city="taiyuan_tab">太原</li>
                <li class="cityname" data-city="tokyo_tab">东京</li>
            </ul>
            <div class="x_border"></div>
        </div>
        <ul class="x_add_list tokyo_tab">
            <li class="s_address_list">
                <img src="http://doc.eggelite.com/Resources/city/addr/2018-04-13/5ad03edaed2d7.jpg" alt="" width="570" height="160" class="iimg">
                <p class="wayToInfo">
                    大久保车站南口出来，可以看到一个familymart，沿着那条路直走，走出来正对面就是新宿校。
                </p>
                <div class="addressFont">
                    地址：〒169-0074 東京都新宿区北新宿1-1-16 JSビル 2F
                </div>
            </li>
            <li class="s_address_list">
                <img src="http://doc.eggelite.com/Resources/city/addr/2018-04-13/5ad03ecb1f663.jpg" alt="" width="570" height="160" class="iimg">
                <p class="wayToInfo">
                    最近的是大久保车站南口，出站后向familymart方向右转，第二个路口左转，走到路的中段位置，旁边是新宿国际交流学院新宿校。
                </p>
                <div class="addressFont">
                    地址：169-0073 東京都新宿区百人町1-22-24朝日ビル4F-5F
                </div>
            </li>
        </ul>
        <ul class="x_add_list shanghai_tab" style="display: block;">
            <li class="s_address_list">
                <img src="http://doc.eggelite.com/Resources/city/addr/2018-04-04/5ac49cac13810.jpg" alt="" width="570" height="160" class="iimg">
                <div class="wayToInfo">
                    <p>地铁: 7号线/9号线肇嘉浜路站4号口步行2分钟</p>
                    <p>驾车：上海市徐汇区肇嘉浜路与高安路交口 均瑶国际广场十一楼D0号</p>
                </div>
                <div class="addressFont">
                    地址：上海徐汇区肇嘉浜路789号均瑶国际广场十一楼D0号
                </div>
            </li>
        </ul>
        <ul class="x_add_list suzhou_tab">
            <li class="s_address_list">
                <img src="http://doc.eggelite.com/Resources/city/addr/2018-04-04/5ac49cfa0bb69.jpg" alt="" width="570" height="160" class="iimg">
                <div class="wayToInfo">
                    <p>驾车：干将东路临顿路交叉口。</p>
                    <p>地铁：1号线 临顿路 3号口直达。</p>
                    <p>公交：89路，261路 临顿路(观前街)下车直达。</p>
                </div>
                <div class="addressFont">
                    地址：江苏省苏州市姑苏区干将东路和基广场5楼508
                </div>
            </li>
        </ul>
        <ul class="x_add_list chengdu_tab">
            <li class="s_address_list">
                <img src="http://doc.eggelite.com/Resources/city/addr/2018-04-04/5ac49d1761e16.jpg" alt="" width="570" height="160" class="iimg">
                <div class="wayToInfo">
                    地铁: 乘坐地铁2号线(犀浦方向), 在春熙路站下车( D口出) 步行5分钟
                </div>
                <div class="addressFont">
                    地址：四川省成都市锦江区总府路2号时代广场A座15层1505A
                </div>
            </li>
        </ul>
        <ul class="x_add_list taiyuan_tab">
            <li class="s_address_list">
                <img src="http://doc.eggelite.com/Resources/city/addr/2018-06-04/5b14a4e649118.png" alt="" width="570" height="160" class="iimg">
                <div class="wayToInfo">
                    <p>公交：903支路 学府街坞城路口站下车<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 39路/877 山西大学站下车 <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 817/55/201/11/813/23/836/901/902路太榆路<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 学府街口站下车&nbsp;</p><p><br></p>
                </div>
                <div class="addressFont">
                    地址：山西省太原市坞城路92号山西大学校内
                </div>
            </li>
        </ul>
        <ul class="x_add_list nanjing_tab">
            <li class="s_address_list">
                <img src="http://doc.eggelite.com/Resources/city/addr/2018-05-29/5b0d1036d6018.png" alt="" width="570" height="160" class="iimg">
                <div class="wayToInfo">
                    <p>地铁：一号线中国药科大学方向到达新街口站（6口出）<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 步行约590米</p><p>公交：25路/1路/33路&nbsp;中山路·珠江路南站 下车&nbsp;步行 660米<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;35路/28路&nbsp;新街口南站 下车 步行 860米</p>
                </div>
                <div class="addressFont">
                    地址：南京市鼓楼区中山路55号新华大厦49层
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $(".addressHead .cityname").click(function() {
        $(".x_add_list").hide();
        var _flag = $(this).data("city");
        $(".x_add_list." + _flag).fadeIn();
        console.log("xxx", $(this).index() * 100);
        $(this).addClass("active").siblings().removeClass("active");
        $('.addressHead').animate({ scrollLeft: $(this).index() * 110 }, 400);
    });
});
</script>    </div>
    <style>
    .copyright p {
        line-height: 20px;
    }
    </style>
    <div class="copyright" style="background:#333;padding:40px;">
        <p style="color:white"> 全国统一电话：4000150170
            <br/>
        </p>
                <p style="color:white">
            <a style="color:white" href='http://www.miitbeian.gov.cn' target='_blank'>
                    苏ICP备17069390号　　版权所有：苏州小莺教育科技有限公司
                </a>
        </p>
            </div>
    <div class="fixed_but">
        <div class="fixed2">
            <h3>免费留学评估</h3>
            <p>包含适配院校、留学费用等整体方案</p>
            <div class="xy_form xy_form_a">
                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
                    <p>
                        <font class="CRM_TEMPLET_NAME"></font>
                        <input type="text" id="" placeholder="" />
                    </p>
                </div>
                <div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_SELECT" style="display: none;">
                    <p>
                        <font class="CRM_TEMPLET_NAME"></font>
                        <select name="" id="" class=""></select>
                    </p>
                </div>
            </div>
            <button id="button" class="submit1 xy_submit xy_submit_a">免费获取留学方案</button>
        </div>
    </div>
</body>
<script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
<!-- <script src="/Public/Sempages/newdy/js/jaliswall.js"></script> -->
<script src="/Public/Sempages/newindex/js/swiper.min.js" charset="UTF-8"></script>
<script src="/Public/Sempages/allPublicStatic/js/ZHTime.js" charset="utf-8"></script>
<script>
$(".xy_form_a").xiaoyingForm({
    parameter: [
        { errorMes: "姓名格式不正确", id: "XY_a01", rename: "姓名", reg: "required", placeholder: "请输入姓名" },
        { errorMes: "电话格式不正确", id: "XY_a02", rename: "手机号码", reg: "required", placeholder: "请输入电话" },
        { errorMes: "QQ/微信格式不正确", id: "XY_b11", rename: "QQ/微信", reg: "required", placeholder: "QQ/微信" },
        { errorMes: "请选择所在城市", id: "XY_b13", rename: "城市", reg: "required" },
        { errorMes: "请选择报考专业", id: "XY_b10", rename: "报考专业", reg: "required" },
        { errorMes: "请选择出国年份", id: "XY_b09", rename: "出国年份", reg: "required" },
    ],
    submitBtn: ".xy_submit_a",
    beforeSendData: function(_data, cb) {
        cb(_data);
    },
    beforeLoadField: function(res) {
        for (var i = 0; i < res.length; i++) {
            if (res[i].FLAG == "XY_b10") {
                res[i]._v = "required|max:30";
                res[i].type = 2;
            }
        }
        return res;
    },
    afterLoadField: function() {},
    validatorError: function(mes, node) {
        console.log("xxx", mes, node);
        alert(mes);
    },
    submitSuccess: function() {
        alert("申请成功！请等到老师与您联系");
    },
    submitError: function() {}
});



$(".xy_form_b").xiaoyingForm({
    parameter: [
        { errorMes: "姓名格式不正确", id: "XY_a01", rename: "姓名", reg: "required", placeholder: "姓名" },
        { errorMes: "电话格式不正确", id: "XY_a02", rename: "手机号码", reg: "required", placeholder: "电话" },
        { errorMes: "QQ/微信格式不正确", id: "XY_b11", rename: "QQ/微信", reg: "required", placeholder: "QQ/微信" },
        { errorMes: "请选择所在城市", id: "XY_b13", rename: "所在城市", reg: "required" },
        { errorMes: "请选择报考专业", id: "XY_b10", rename: "报考专业", reg: "required" },
        { errorMes: "请选择出国年份", id: "XY_b09", rename: "出国年份", reg: "required" },
    ],
    submitBtn: ".xy_submit_b",
    beforeSendData: function(_data, cb) {
        if ($("#show_addr").text() != "未知") {
            _data["XY_b29"] = $("#show_addr").text();
        }
        if ($("#show_time").text() != "未知") {
            _data["XY_b30"] = $("#show_time").text();
        }
        cb(_data);
    },
    beforeLoadField: function(res) {
        for (var i = 0; i < res.length; i++) {
            if (res[i].FLAG == "XY_b10") {
                res[i]._v = "required|max:30";
                res[i].type = 2;
            }
        }
        return res;
    },
    afterLoadField: function() {},
    validatorError: function(mes, node) {
        console.log("xxx", mes, node);
        alert(mes);
    },
    submitSuccess: function() {
        alert("申请成功！请等到老师与您联系");
    },
    submitError: function() {}
});


var mySwiper = new Swiper('.swiper-container', {
    autoplay: 5000,
    pagination: '.swiper-pagination',
    paginationClickable: true,
})


// $.ajax({
//     headers: {
//         'X-CSRF-Token': "mRbwV8DQoVgppTwtM9sQS1R0mTXqxzO3dvDruK6D5Co",
//     },
//     url: "/getcasesapi",
//     type: "get",
//     dataType: "json",
//     data: {
//         condition: "`id`,`year`,`name`,`from_univ`,`from_zhuan`,`gpa`,`score_en`,`score_jap`,`univ`,`college`,`xueli`,`plan`",
//         where: "WHERE `comid`>0 AND `year` like '%2017%'",
//         start: 0,
//         limit: 10000,
//     },
//     success: function(data) {
//         // console.log(data);
//         joinData(data);
//     }
// });

// 拼接录取案例数据
function joinData(data) {
    // 使用each进行遍历
    var html_str = '';
    if (!$.isEmptyObject(data)) {
        $.each(data, function(n, value) {
            html_str += "<tr><td>";
            html_str += value.year;
            html_str += "</td><td>";
            // 保护学员真实姓名，只显示姓+同学
            var name = value.name[0] + '同学';
            if (value.name == '') {
                name = '刘同学'; // 如果为空，默认显示刘同学
            }
            html_str += name;
            html_str += "</td><td>";
            html_str += value.from_univ;
            html_str += "</td><td>";
            html_str += value.from_zhuan;
            html_str += "</td><td>";
            if (value.gpa == null) {
                value.gpa = '';
            }
            html_str += value.gpa;
            html_str += "</td><td>";
            var score = '';
            if (value.score_en != '' || value.score_jap != '') {
                score = value.score_en + ' : ' + value.score_jap;
            }
            html_str += score;
            html_str += "</td><td>";
            html_str += value.univ;
            html_str += "</td><td>";
            html_str += value.college;
            html_str += "</td><td>";
            //                录取类型: 本科18，修士14，预科15，SGU13，高中专门82，语言89
            switch (value.xueli) {
                case '13':
                    var cate = 'SGU';
                    break;
                case '14':
                    var cate = '修士';
                    break;
                case '15':
                    var cate = '预科';
                    break;
                case '18':
                    var cate = '本科';
                    break;
                case '82':
                    var cate = '高中专门';
                    break;
                case '85':
                    var cate = '语言';
                    break;
                default:
                    var cate = '修士'; // 空值默认为修士
            }
            html_str += cate;
            html_str += "</td><td>";
            html_str += value.plan;
            html_str += "</td></tr>";
        });
    } else {
        html_str = '数据异常，请联系管理员';
    }
    $("#case_table").html(html_str);
    $("#case_table").slideDown();
    $('#case_table td').mousemove(function() {
        $(this).addClass('change-color');
    })
    $('#case_table td').mouseout(function() {
        $(this).removeClass('change-color');
    })
}


// $('.fixed_but>img').on('click', function () {
//     $('.fixed2').slideToggle();
// });

$(".tab_but>span").click(function() {
    $(".tab_img>img").hide();
    $(".tab_but>span").removeClass("active_tab");
    $(".tab_img>img").eq($(this).index()).show();
    $(this).addClass("active_tab");
})

// $("#address").on('click', 'li', function () {
//     var p_text = $(this).find('div p').text();
//     if (p_text !== "") {
//         $(this).find("div").slideToggle();
//     } else {
//         return false;
//     }
// });

$(".jq div").hover(function() {
    var p_h = $(".jq div span p").height();
    var img_w = $(this).children("img").width();
    var img_h = $(this).children("img").height();
    var margin_t = (img_h - p_h) / 2;
    $(".jq div span p").css({
        "marginTop": margin_t
    })
    var this_span = $(this).children("span");
    this_span.width(img_w);
    this_span.stop(1, 0).css({
        opacity: 0.9
    }).animate({
        height: img_h
    });
}, function() {
    $(this).children("span").animate({
        height: 0
    })
});


function checkMobile(sMobile) {
    if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(sMobile))) {
        return false;
    } else {
        return true;
    }
}

function Checkone() {


    Check($("#names"), $("#mb"), $("#txtcity"), $('.major'), $(".xl"), $("#txtyears"), $(".submit1"))

}

function Checktwo() {
    Check($("#names_2"), $("#mb_2"), $("#txtcity_2"), $('.major_2'), $(".xl_2"), $("#txtyears_2"), $(".submit1_2"));
}

function Check(a, b, c, d, e, f, obj) {
    if (a.val() == "") {
        msg('请填写姓名');
        return;
    }
    if (b.val() == "" || b.val().indexOf(' ') != -1 || b.val().length != 11 || checkMobile(b.val()) == false) {
        msg('请填写正确的手机号码');
        return;
    }
    if (c.val() == "") {
        msg('请填选择城市');
        return;
    }
    if (d.val() == "") {
        msg('请填写您的专业');
        return;
    }
    if (e.val() == "") {
        msg('请填写您的学历');
        return;
    }
    if (f.val() == "") {
        msg('请填写您的出国时间');
        return;
    }
    obj.prop('onclick', null).off('click');
    $(obj).attr('disabled', 'disabled');

    obj.html('正在提交...');
    var a = a.val();
    var b = b.val();
    var c = c.val();
    var d = d.val();
    var e = e.val();
    var f = f.val();
    console.log(a + b + c + d + e + f);
    $.ajax({
        headers: {
            'X-CSRF-Token': "mRbwV8DQoVgppTwtM9sQS1R0mTXqxzO3dvDruK6D5Co",
        },
        url: "/ajaxindex",
        type: "post",
        dataType: "json",
        data: {
            name: a,
            tel: b,
            area: c,
            xl: e,
            zy: d,
            year: f,
            zh_addr: $('#zh_addr').val(),
            zh_time: $('#zh_time').val(),
            from: location.href,
            goto: 'sem',
        },
        success: function(data) {
            if (data.status == true) {
                msg('申请成功！请等到老师与您联系');
                obj.html('提交成功！');
            } else {
                msg(data.remark);
            }
        }
    });
}

function msg(msg) {
    alert(msg);
    return;
}


$(".g_training > div > div").mouseover(function() {
    $(".g_training > div > div>span").hide()
    $(this).find("span").slideDown()
}).mouseleave(function() {
    $(".g_training > div > div>span").hide()
})

// 0112 悬浮特效
$("._content_item>div>div").mousemove(function() {
    $(this).addClass("_content_item_box")
    $(this).find(".ellipsis").removeClass();
    $(this).find("span>img").attr("src", "/Public/Sempages/newdy/graduate_imgs/_up.png")
}).mouseout(function() {
    $(this).removeClass("_content_item_box");
    $(this).find("p").addClass("ellipsis");
    $(this).find("span>img").attr("src", "/Public/Sempages/newdy/graduate_imgs/_down.png")
})





// 展会时间
var html = "";
for (key in newTimeTable) {
    data_li(key, newTimeTable);
}

function data_li(key, val) {
    html += "<li><addr>" + key + "</addr>";
    html += "  <div class='div'>";
    html += year(val);
    html += "  </div>";
    html += "</li>";
    return html;
}

function year(v) {
    var html = "";
    for (var i = 0; i < v[key].length; i++) {
        html += "<p>" + v[key][i] + "</p>";
    }
    return html;
}

$('#address').append(html);

// new
$('#address').on('click', 'p', function() {
    var timer = setInterval(function() {
        var scrollTop = $(window).scrollTop();
        $(window).scrollTop(scrollTop + 10);
        if ($(window).scrollTop() >= $('#scroll_position').offset().top) {
            clearInterval(timer);
        }
    }, 1);
    $('#zh_addr').val($(this).parent().parent().find('addr').text());
    $('#zh_time').val($(this).html());
    $('#show_zh_info').css({ 'display': 'block' });
    $('#show_addr').html($(this).parent().parent().find('addr').text());
    $('#show_time').html($(this).html());

});


// $('#address').on('mouseover','li',function() {
//     $(this).find("div").show();
// });
// $('#address').on('mouseout','li',function(){
//     $(this).find("div").hide();
// });

// $(".tab_but>span").click(function () {
//     $(".tab_img>img").hide();
//     $(".tab_but>span").removeClass("active_tab");
//     $(".tab_img>img").eq($(this).index()).show();
//     $(this).addClass("active_tab");
// })

$("#address").on('click', 'li', function() {
    var p_text = $(this).find('div p').text();
    if (p_text !== "") {
        $(this).find("div").slideToggle();
    } else {
        return false;
    }
});

var app = new Vue({
    el: '.section3',
    data: {
        date: [],
        current: {},
        activity: []
    },
    methods: {},
    mounted: function() {
        var _this = this;

        this.date = _s;
        this.current = _s[0].item[0];

        this.activity = _activity;

        this.$nextTick(function() {


                var owl = $('.month').owlCarousel({
                    center: true,
                    items:3,
                    nav:true,
                    loop:true,
                    autoPlay:false,
                    beforeUpdate:function(index){
                    }
                });

                $('.itemDate').owlCarousel({
                    margin: 30,
                    items:4,
                    nav:true,
                    loop:false,
                    autoPlay:false
                });
                
                owl.on('translated.owl.carousel', function(event) {
                 //    var _month = event.page.index + 1;
                    // if (_month < 7) {
                    //  alert(_month+'月展会已结束，请查看精彩回顾...')
                    //     pw.slide(6);
                    // }
                    // else if (_month > 8) {
                    //     alert(_month+'月展会火热筹划中，展会城市由你来定！')
                    //  window.location.href = '/liuxuezhanreservation?goto='+getUrlParam('goto');
                    // }
                    // else{
                    //  $(".itemDate").hide();
                    //  $(".owl_"+_month).fadeIn();
                    //  $(".owl_"+_month+" .li").eq(0).mouseenter();
                    // }
                })

                $(document).on('click','.month .owl-item',function(){
                    var _m = $(this).find("li").attr("data-m");
                    if (_m < 7) {
                        alert(_m+'月展会已结束。')
                    }
                    else if (_m == 9) {
                        window.open('/liuxuezhanreservation?month='+_m+'&goto='+getUrlParam('goto'));
                    }else if (_m > 11) {
                        window.open('/liuxuezhanreservation?month='+_m+'&goto='+getUrlParam('goto'));
                    }
                    else{
                        $(".itemDate").hide();
                        $(".owl_"+_m).fadeIn();
                        $(".owl_"+_m+" .li").eq(0).mouseenter();
                    }
                })

                $(".itemDate .li").mouseenter(function(){
                    _this.current = {}
                    $(".itemDate .li").removeClass("active");
                    $(this).addClass("active");
                    _this.current["s_name"] = $(this).attr("data-name")
                    _this.current["s_time"] = $(this).attr("data-time")
                    _this.current["s_address"] = $(this).attr("data-address")
                });

                $(".section5 .list li").each(function(){
                    $(this).height($(this).width()*0.9)
                })



                window.setTimeout(function() {
                    $(".houseDv .coverBg").fadeOut();
                }, 1200);



                $(".aside").click(function(){
                    pw.slide(2);
                });
                

               
                owl.trigger('to.owl.carousel', [7]);
                $(".owl_8 .li").eq(0).mouseenter();

                $("#head .ul li").click(function() {
                    var _index = $(this).index();
                    pw.slide(_index);
                })
        });
    }
})
/**
 * 获取浏览器对应参数
 * @param  {[type]} name       [description]
 * @param  {[type]} needdecoed [需要解码的参数]
 * @return {[type]}            [description]
 */
function getUrlParam(name, needdecoed) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var lh = window.location.search;
    if (needdecoed) {
        lh = decodeURI(window.location.search)
    }
    var r = lh.substr(1).match(reg);
    if (r != null) return unescape(r[2]);
    return null;
}

// new end


//            <li>威海 <span class="zhanhui_time" style="display: inline-block;
// !important;margin-top:-20px;">12月30日</span>
//                <div>
//                    <p></p>
//                </div>
//            </li>


//百度统计代码
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?adb97d2c5a835681418c7b2bab31618a";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();

//美恰插件代码
(function(m, ei, q, i, a, j, s) {
    m[i] = m[i] || function() {
        (m[i].a = m[i].a || []).push(arguments)
    };
    j = ei.createElement(q),
        s = ei.getElementsByTagName(q)[0];
    j.async = true;
    j.charset = 'UTF-8';
    j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
    s.parentNode.insertBefore(j, s);
})(window, document, 'script', '_MEIQIA');
_MEIQIA('entId', 14353);
</script>

</html>