.s_title {
  width: 88px !important;
}
.s_content {
  width: 130px !important;
}
.majorPart .detailInfo .leftDv {
  background-color: #fff;
  border-radius: 4px;
  padding-top: 23px;
  padding-bottom: 40px;
}
.majorPart .detailInfo .leftDv .choosemajorNav {
  position: relative;
  padding: 0 20px;
}
.majorPart .detailInfo .leftDv .choosemajorNav.fixed_pc {
  display: block;
  position: fixed;
  top: 115px;
  width: 833px;
  background: #f9f9fa;
  padding-top: 10px;
  z-index: 111;
}
.majorPart .detailInfo .leftDv .choosemajorNav ul {
  position: relative;
  z-index: 2;
}
.majorPart .detailInfo .leftDv .choosemajorNav li {
  float: left;
  font-size: 18px;
  line-height: 50px;
  color: #3d3c3c;
  padding: 0 25px;
  margin-right: 36px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.majorPart .detailInfo .leftDv .choosemajorNav li.active {
  border-color: #fbda4c;
}
.majorPart .detailInfo .leftDv .choosemajorNav .greyLine {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 94%;
  left: 50%;
  margin-left: -42%;
  height: 1px;
  background-color: #e6e6e6;
  margin-top: -2px;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv {
  padding-top: 48px;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul {
  margin-right: -22px;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li {
  float: left;
  width: 248px;
  margin-right: 22px;
  margin-bottom: 22px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li a {
  display: block;
  padding: 10px 20px 34px;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li a .imgDv {
  line-height: 167px;
  text-align: center;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li a .imgDv > div {
  display: inline-block;
  width: 122px;
  height: 122px;
  border: 4px solid #ffd900;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li a .imgDv > div img {
  width: 100%;
  height: 100%;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li a .desList li {
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li a .desList li span {
  color: #4f4f4f;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li a .desList li > div {
  float: left;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li a .desList li > div:last-child {
  float: right;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li:hover {
  background-color: #ffd900;
}
.majorPart .detailInfo .leftDv .choosemajorDV .itenListDv > ul > li:hover a .imgDv > div {
  border-color: #fff;
}
.majorPart .detailInfo .rightDv {
  padding-top: 0!important;
}
.圆角矩形_27_拷贝 {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  left: 658px;
  top: 703px;
  width: 248px;
  height: 334px;
  z-index: 287;
}
