<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>服务商城-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/onlinemall/css/onlinemall.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="/Public/Open/js/jqPaginator/jqPaginator.min.js"></script>
</head>

<body data-nav="onlinemall">
    <include file="./Template/Common/Index_header_home.html"/>
    <div id="onlinemall">
        <div class="banner marginTop">
            <div class="container" data-sr="enter bottom hustle 50px over 1s">
                <img src="../../Public/onlinemall/img/banner_logo.png" alt="" class="banner_logo" data-sr="enter top hustle 50px over 1s, wait 0.3s">
                <p class="titleDv" data-sr="enter top hustle 50px over 1s, wait 0.6s">名师推荐定向服务
                    <br />
                    <font>个性化为您定制课程，高效快捷为您服务</font>
                </p>
                <img src="../../Public/onlinemall/img/banner_btn.png" alt="" class="banner_btn" data-sr="enter top hustle 50px over 1s, wait 0.9s">
            </div>
        </div>
        <div class="container choosepart">
            <div class="lineDv clearfix">
                <span class="s_title">热门排行：</span>
                <ul class="listul">
                    <li class="item">[研究生]研究生VIP帝大保录</li>
                    <li class="item">[留学日语]N2-N1签约班</li>
                    <li class="item">SGU英语修士2所申请(送1所=3所)</li>
                </ul>
            </div>
            <div class="lineDv choose clearfix">
                <span class="s_title">产品名称：</span>
                <div class="inputDv">
                    <input type="text" placeholder="请输入产品名称" v-model="requset.name" @keyup.13="change('name',requset.name)">
                    <i class="search" @click="change('name',requset.name)"></i>
                </div>
            </div>
            <div class="lineDv choose clearfix">
                <span class="s_title">产品类别：</span>
                <ul class="listul">
                    <li class="item active" @click="change('cate','')">不限</li>
                    <li class="item" @click="change('cate','')">留学培训</li>
                    <li class="item" @click="change('cate','999')">留学申请</li>
                    <li class="item" @click="change('cate','999')">添加服务</li>
                </ul>
            </div>
        </div>
        <div class="block_shop">
            <div class="titleDv">
                名师推荐定向服务
                <br />
                <span class="en_font">Teacher recommended orientation service</span>
            </div>
        </div>
        <div class="listPart">
            <ul class="container listDv" v-if="lists.length > 0">
                <li class="itemli" v-for="n in lists">
                    <p class="pro_name">{{n.name}}</p>
                    <p class="pro_desc">{{n.description | filterdesc}}</p>
                    <!-- <p class="price">￥{{n.suggested_price}}</p> -->
                    <p class="price" onclick="_MEIQIA('showPanel')" style="margin-top: 30px;">立即咨询</p>
                </li>
            </ul>
            <div class="nodate" v-else>
                暂无数据
            </div>
            <div id="jqPaginator" class="pageNav" style="display: block;"></div>
        </div>
    </div>
    <include file="./Template/Common/Index_footer.html" />
    <script src="/Public/js/vue.min.js"></script>
    <script src="__PUBLIC__/Mall/js/scrollReveal.min.js"></script>
    <script src="__PUBLIC__/onlinemall/js/index.js?v=2018"></script>
</body>

</html>